[2021-02-26 14:36] paul3333 opened #638 "catkin_make error"
I am running ubuntu 14 with ROS Indigo and face a compiling error using catkin_make.

I receive the following error:
`CMake Error at /opt/ros/indigo/share/catkin/cmake/catkin_workspace.cmake:95 (message):
  This workspace contains non-catkin packages in it, and catkin cannot build
  a non-homogeneous workspace without isolation.  Try the
  'catkin_make_isolated' command instead.
Call Stack (most r

[2021-02-26 14:37] paul3333 opened #639 "camera calibration error using image_pipeline"
I am running the hypharos_ardrone_navigation package which combines LSD slam and PTAM slam on ubuntu 16.04, ROS Kinetic and been able to build all packages using catkin_make without errors.

When running the camera calibration
`rosrun camera_calibration cameracalibrator.py --size 8x6 --square 0.108 image:=/ardrone/front/image_raw camera:=/ardrone/front/`

I receive the following error:

`kinetic@k

[2021-02-26 17:10] JWhitleyWork commented on #638
I'm sorry but Indigo is no longer a supported version of ROS - it went end-of-life in April, 2019. However, try installing from the repository instead if you haven't already.

[2021-02-26 17:10] #638 closed, assigned to nobody

[2021-02-26 19:32] JWhitleyWork commented on #639
@paul3333 Did you build image_pipeline from source or install it from the repository? Which version are you using? If installed from source, which branch? Which operating system?

[2021-02-26 19:34] JWhitleyWork commented on #637
@jwrl7 Which version of ROS are you using? Did you build the repository from source or install from a repository? Which operating system? Which version of the package? What branch (if built from source)?

Are you willing to create a pull request to make the downsampling optional?

[2021-02-26 20:21] paul3333 commented on #639
I have built image_pipeline by git cloneing from this image_pipeline github website. I installed the kinetic branch but received the same error also when installing the melodic branch.

My operating system is Ubuntu 16.04

Thanks for your help.

[2021-02-26 23:17] jwrl7 commented on #637
Config:
Ubuntu 18.04
ROS melodic
Opencv 3.4.4 with cuda built from source
image_pipeline (melodic latest pull) built against Opencv 3.4.4 with cuda

I can put a pull request together but wont be immediate.

[2021-03-06 01:58] cxt98 opened #640 "save depth image using image_view image_saver"
Hi,

I am new to ros and want to use image_view tool to save rgb and depth image. I got rgb image saving working perfectly, and as I got from wiki the encoding for depth image should be 'mono8' or 'mono16', so I run 'rosrun image_view image_saver encoding:=mono16 image:=/camera/aligned_depth_to_color/image_raw' to save the depth images recorded in a rosbag, but it still gives me ‘Unable to convert

[2021-03-06 02:04] cxt98 commented on #640
Okay, got it worked by running 'rosrun image_view extract_images_sync _inputs:=/camera/aligned_depth_to_color/image_raw‘ though.

[2021-03-06 02:04] #640 closed, assigned to nobody

[2021-03-06 03:12] cxt98 commented on #640
Another update, the above command runs well when saving depth image from a recorded rosbag, but will give the same error as described in https://github.com/ros-perception/image_pipeline/issues/377#issue-397258540. Commenting some lines as suggested in that issue solves the problem perfectly.

[2021-03-19 15:27] Marki2112 opened #643 "False Depth Image from depth_image_pro/register"
Hello everyone,

i using the realsense d435 and ROS Melodic to transform the depth image from "camera_depth_optical_link" to the "camera_color_optical_link". I am using a rosbag to get the data, but the result look like for the transformed depth image not correct. I install it from the source and have the version 1.15.0-1bionic.20210112.195548. My current launch-file can you see here:
`<launch>

[2021-03-27 18:04] fhlb-tech opened #645 "unable to build package with openCV4 installed"
when trying to build using:
catkin build -j4

I get the following output:
Errors     << depth_image_proc:make /home/robot/catkin_ws/logs/depth_image_proc/build.make.016.log
/home/robot/catkin_ws/src/Dependencies/image_pipeline/depth_image_proc/src/nodelets/point_cloud_xyz_radial.cpp: In function ‘cv::Mat depth_image_proc::initMatrix(cv::Mat, cv::Mat, int, int, bool)’:
/home/robot/catkin_ws/src/Dep

[2021-03-28 22:32] JWhitleyWork commented on #645
When you say you are "on melodic" does that mean that you are also using the `melodic` branch of this repo? Additionally, `melodic` is not designed to be used with OpenCV4 because it is not the default that comes with Ubuntu 18.04. See [REP-3](https://ros.org/reps/rep-0003.html) for the list of platform support requirements. Additionally, there is no guarantee that these packages will build at all

[2021-03-29 15:17] john-le1996 opened #646 "catkin_make build image_proc repo error"

[2021-03-29 15:43] #646 closed, assigned to nobody

[2021-03-29 15:45] john-le1996 commented on #646
CMake Error at /usr/share/cmake-3.5/Modules/FindPkgConfig.cmake:367 (message):
  A required package was not found
Call Stack (most recent call first):
  /usr/share/cmake-3.5/Modules/FindPkgConfig.cmake:532 (_pkg_check_modules_internal)
  image_pipeline/image_view/CMakeLists.txt:42 (pkg_check_modules)

-- Configuring incomplete, errors occurred!
See also "/home/asd/image_pipelin/build/CMakeFiles/CM

[2021-03-29 15:47] john-le1996 opened #647 "catkin_make build image_proc repo error"
CMake Error at /usr/share/cmake-3.5/Modules/FindPkgConfig.cmake:367 (message):
  A required package was not found
Call Stack (most recent call first):
  /usr/share/cmake-3.5/Modules/FindPkgConfig.cmake:532 (_pkg_check_modules_internal)
  image_pipeline/image_view/CMakeLists.txt:42 (pkg_check_modules)

-- Configuring incomplete, errors occurred!
See also "/home/asd/image_pipelin/build/CMakeFiles/CM

[2021-03-29 16:10] JWhitleyWork commented on #647
@john-le1996 Please provide the following:

- Which branch or commit are you using?
- What command are you using to build your workspace?

It looks like your workspace is not set up correctly. Your folders should look like this:

- my_workspace/
  - build/
  - devel/
  - src/
    - image_pipeline/

And you should run the `catkin` commands inside `my_workspace/`.

[2021-03-29 16:18] john-le1996 commented on #647
thanks for response
my workspace is okay sir but building having an error
i use this http://wiki.ros.org/image_proc
kinetic git clone  git https://github.com/ros-perception/image_pipeline.git

[2021-03-29 16:18] john-le1996 commented on #647
Make Error at /usr/share/cmake-3.5/Modules/FindPkgConfig.cmake:367 (message):
  A required package was not found
Call Stack (most recent call first):
  /usr/share/cmake-3.5/Modules/FindPkgConfig.cmake:532 (_pkg_check_modules_internal)
  image_pipeline/image_view/CMakeLists.txt:42 (pkg_check_modules)

-- Configuring incomplete, errors occurred!
See also "/home/asd/catkin_ws/build/CMakeFiles/CMakeOu

[2021-03-29 21:29] clalancette opened #648 "New release into ROS 2 Rolling"
Hello image_pipeline maintainers!

It would be great to #644 reviewed and merged, and then to have a new image_pipeline source and bloom release done into Rolling.  This should make some of the recent fixes available in both source and binary.

If the maintainers don't have time for this, the ROS 2 core team can do a release to get things moving.  Please let us know one way or another, thanks!

[2021-03-30 11:53] fhlb-tech commented on #645
Hello and Thank you for your response.
I am using the melodic branch.
I also tried using the neotic branch (compiling it with python3) and got the same error.
I have a manually compiled and installed openCV4 with the ROS package cv_bridge (compiled with python3) built from source. I did that because I need some features of openCV4.
I can use apt-get to install the image_pipeline packages. This wil

[2021-04-05 08:06] arjunskumar commented on #193
@SabyasachiDash This worked

[2021-04-08 09:42] olf228 opened #649 "*** Misplaced issue ***"

[2021-04-08 09:43] #649 closed, assigned to nobody

[2021-04-08 09:43] olf228 commented on #649
Sorry wrong repository

[2021-04-12 02:08] Tobias-Fischer opened #650 "New release for ROS noetic"
We just noticed that camera-calibration is broken in RoboStack (https://github.com/RoboStack/ros-noetic). This was already fixed in https://github.com/ros-perception/image_pipeline/commit/0a85550b361575478bf5ebf622d2f90d0a097795 but as there was no release yet, it is still broken. It would be great if you could release a new version.

/cc @steveQUT @wolfv @traversaro

[2021-05-03 20:52] VictorDubois opened #652 "Crash in calibration when changing model too soon"
When changing the model of camera (fisheye/pinpoint) too soon, there is an exception:
[code]

Too soon = before receiving the first image. Indeed the camera object is created upon receiving the first image.
This can happen when calibrating a camera remotely: the first image can take several seconds to be received

[2021-05-06 02:18] #652 closed, assigned to nobody

[2021-05-07 22:19] abdul-mannan-khan opened #655 "GTK+ 2.x symbols detected. Using GTK+ 2.x and GTK+ 3 in the same process is not supported"
Before I start any further discussion, please note that I have googled this error in general and tried to resolve the issue. I could not succeed. So, here is what is going on.

**How can I solve the problem of using GTK+ 2.x and GTK+3 in the same process for image_view package?**

When I try to run image_view package raspberry pi under ROS melodic, I get the following error.
[code]
To find the sol

[2021-05-08 15:19] JWhitleyWork commented on #655
@abdul-mannan-khan Which commit/branch/version of `image_view` are you using? Did you build from source or install from a package? What operating system and version?

[2021-05-09 01:20] abdul-mannan-khan commented on #655
Dear @JWhitleyWork,

Thank you so much for your attention.

1. I am using it on Raspberry Pi 4.
2. On Raspberry Pi 4, I am using their recommended operating system/software "Raspberry Pi OS with desktop and recommended software" given in official webpage [here](https://www.raspberrypi.org/software/operating-systems/#raspberry-pi-os-32-bit)
3. On Raspberry Pi OS, I am using ROS Melodic.
4. I built

[2021-05-12 07:38] Kaiser-Wang opened #656 "image_view and camera_calibration not working for gazebo camera"
Hi, I'm using image_view and camera_calibration to preview and calibrate my webcam and they worked really well.
However, when I used them for a simulated gazebo camera with a published topic /camera/image_raw, it didn't work.
I used the following command to view /camera/image_raw topic:
`ros2 run image_view image_view --ros-args --remap image:=/camera/image_raw`
and it printed the following line b

[2021-05-18 12:41] RodrigoFBernardo opened #657 "Camera calibration. Which service should I call?"
Hi

I'm trying to calibrate a camera, only I don't have the service (set_camera_info).

/camera/color/image_raw/compressed/set_parameters
/camera/color/image_raw/compressedDepth/set_parameters
/camera/color/image_raw/theora/set_parameters
/camera/color/image_rect_color/compressed/set_parameters
/camera/color/image_rect_color/compressedDepth/set_parameters
/camera/color/image_rect_color/theora/set_

[2021-05-19 15:48] Teo-Cardoso opened #658 "Camera Calibrator - Noetic - /usr/bin/python: bad interpreter"
I've been facing a problem running the camera calibrator in ROS Noetic ( Ubuntu 20.04 ).

running this rosrun example:
`rosrun camera_calibration cameracalibrator.py --size 8x6 --square 0.108 image:=/my_camera/image camera:=/my_camera`

the output:
`/opt/ros/noetic/bin/rosrun: /opt/ros/noetic/lib/camera_calibration/cameracalibrator.py: /usr/bin/python: bad interpreter: No such file or directory`

[2021-05-25 14:36] rebecca-butler opened #660 "Add parameter to disable color in point cloud node"
When generating point clouds, there should be an option to disable color if RGB clouds are not needed. This should reduce the message size.

[2021-05-28 10:03] nstolyarov commented on #658
I have same the same error to. I guess this happens due to Noetic supports python3 packages instead of python2.

[2021-06-16 12:38] lianghongzhuo opened #668 "`depth_image_proc/point_cloud_xyzrgb` doesn't publish point cloud when starting with other nodes in a single launch file"
`depth_image_proc/point_cloud_xyzrgb` doesn't publish point cloud when starting with other nodes in a single launch file.
When I launch kinect2_bridge, for example, https://github.com/code-iai/iai_kinect2/blob/master/kinect2_bridge/launch/kinect2_bridge.launch#L84-L112
The above launch file will publish depth, RGB, in a given publish rate, however, the point cloud pressing node doesn't always publ

[2021-06-16 18:16] lianghongzhuo commented on #668
I admit this is hard to debug, even I can not reproduce it at the moment.

[2021-06-16 18:58] lianghongzhuo commented on #668
seems not the image_pipine issue, the problem might be the multiple nodelet in the same launch file. Put the depth to point cloud part node to another launch file and include it in the `kinect2_bridage.launch` also works.

[2021-06-21 19:57] larsll opened #673 "Video Recorder - g_last_wrote_time has inconsistent clock_type"
When running the image_view video_recorder in foxy I get the following error message:

[code]

This is related to `image_view/src/video_recorder_node.cpp` where the variable `g_last_wrote_time` seems to be inconsistently defined. Forcing it to be of type `RCL_SYSTEM_TIME` resolves the issue.

Setup based on https://jeffzzq.medium.com/ros2-image-pipeline-tutorial-3b18903e7329

See also drafted pull

[2021-06-24 16:12] JWhitleyWork commented on #589
@martimorta-at-work I know it's going on almost a year since you submitted this but we would be happy to accept a PR with this.

[2021-06-28 18:16] Ddoiron-cidco opened #676 "ros"

[2021-06-28 22:43] #676 closed, assigned to nobody

[2021-06-29 06:51] leander-dsouza commented on #290
I have faced the exact same issue in Gazebo and have answered one of the questions mentioned by @nick-paul **[here](https://answers.ros.org/question/321282/disparity-image-is-displayed-but-pointcloud-shows-only-a-small-dot-in-rviz/?answer=381311#post-id-381311)**.

*Please let me know in case this solution doesn't work out for you.*

[2021-07-08 18:35] #660 closed, assigned to nobody

[2021-07-09 12:43] christian-rauch commented on #658
I am getting the same error and explicitly requesting `python3` is the correct thing to do. @mjcarroll Can you have a look at this?

As a workaround, you can call the script directly with python3:
[code]

[2021-07-16 18:41] bjajoh opened #682 "fisheye calibration file of the image_pipleline calibration node doesn't use correct model for rectification."
Hi,

I used the integrated camera calibration tool with the fisheye model.
The camera is been calibrated nicely and the calibration tool shows a good rectified image.
However when the exported ost.yaml is loaded in the "camera_info_url" and processed with image_proc, the rectification is not working correctly. I assume the distrortion model is wrong, however I'm not sure how to solve it or if it i

[2021-07-17 07:36] distributed-abhinav opened #683 "rosrun camera_calibration cameracalibrator.py --size 8x6 --square 0.108 image:=/usb_cam/image camera:=/usb_cam : rosrun command not found"
I am using ros neotic version. I followed the steps from [https://github.com/mattsinbot/Pose-Estimation-Aruco-Marker-Ros](url), After running the above command it gives me a error "command not found", can you guide me what to do here ?
Thanks for your help.

[2021-07-17 08:21] distributed-abhinav commented on #683
I tested by running rosrun turtlesim command, which is running fine.
So is there some issue with image_pipeline ?

[2021-07-17 08:27] distributed-abhinav commented on #683
I am trying to run the cmake command the first time it gives me error like
`CMake Error in image_pipeline/image_proc/CMakeLists.txt:
  Imported target "Boost::thread" includes non-existent path

    "/include"

  in its INTERFACE_INCLUDE_DIRECTORIES.  Possible reasons include:

  * The path was deleted, renamed, or moved to another location.

  * An install or uninstall procedure did not complete

[2021-07-17 09:02] distributed-abhinav commented on #683
Got the issue, while using copy from there '$' was also getting copied, very silly. !!!

[2021-07-17 09:02] #683 closed, assigned to nobody

[2021-07-17 09:40] distributed-abhinav opened #684 "Waiting for service /usb_cam/set_camera_info ... Service not found QMutex: destroying locked mutex Segmentation fault (core dumped)"
I am using ros neotic version. I followed the steps from [https://github.com/mattsinbot/Pose-Estimation-Aruco-Marker-Ros](url), I am running the command " rosrun camera_calibration cameracalibrator.py --size 8x6 --square 0.108 image:=/usb_cam/image camera:=/usb_cam"
And I get above error, any idea why it is so ?

[2021-07-17 09:46] distributed-abhinav commented on #684
Working on ubuntu 20.04.

[2021-07-19 10:23] distributed-abhinav commented on #684
Done, needed to run usb_camera_node via rosrun usb_cam usb_cam_node before doing it.

[2021-07-19 10:23] #684 closed, assigned to nobody

[2021-07-19 16:27] sifaqes commented on #193
sudo apt-get install ros-kinetic-tf2-geometry-msgs

this is  not worked for me  . i have this error when i will install pakage ROSSERIAL . anyone can help me

-- +++ processing catkin package: 'rosserial_windows'
-- ==> add_subdirectory(rosserial/rosserial_windows)
-- Could NOT find geometry_msgs (missing: geometry_msgs_DIR)
-- Could not find the required component 'geometry_msgs'. The following C

[2021-07-19 16:52] arjunskumar commented on #193
@sifaqes Please try `sudo apt-get install ros-kinetic-geometry-msgs`

[2021-07-19 16:54] sifaqes commented on #193
No worked, i have raspberry pi 5

[2021-07-19 17:06] arjunskumar commented on #193
@sifaqes Which version of ROS are using?

[2021-07-19 17:17] sifaqes commented on #193
pakage ros, desktop (recomanded ) en raspberry pi 4
 * /rosdistro: kinetic
 * /rosversion: 1.12.17

I have installed common_msgs and I solve the problem, but I have a new fault with the resserial library, these are the packages

https://github.com/ros-drivers/rosserial.git

this is  new probleme

make[2]: *** [rosserial/rosserial_server/CMakeFiles/rosserial_server_serial_node.dir/build.make:63: ro

[2021-07-19 18:16] arjunskumar commented on #193
@sifaqes

[code]

This will fix your problem

[2021-07-19 18:20] sifaqes commented on #193
Its fixed now, thanks,  for pakage rosserial i am swaping to rosserial kinetic and was work

[2021-07-19 18:33] sifaqes commented on #193
@arjunskumar
i have  quastion whats the defirent betwen catkin_make  and  sudo ./src/catkin/bin/catkin_make_isolated --install -DCMAKE_BUILD_TYPE=Release --install-space /opt/ros/kinetic ?

[2021-07-23 01:54] redchillipadi opened #685 "Compiling with catkin_make and opencv4.2 fails with error: ‘StereoBM’ is not a member of ‘cv’"
I am compiling image_pipeline using catkin_make on Ubuntu Focal Fossa on the raspberry pi. It has python3-opencv/focal,now 4.2.0+dfsg-5 arm64 installed, and I am using ros-noetic-desktop-full

Compilation fails with:
In file included from /home/ubuntu/catkin_ws/src/image_pipeline/stereo_image_proc/src/libstereo_image_proc/processor.cpp:35:
/home/ubuntu/catkin_ws/src/image_pipeline/stereo_image_pro

[2021-07-23 02:20] redchillipadi commented on #645
I had the same issue using Focal fossa with ros-noetic and opencv 4.2.0.

The undistortPoints function is in opencv2/calib3d.hpp and I was able to fix the issue by adding
#include <opencv2/calib3d.hpp>
to depth_image_proc/src/nodelets/point_cloud_xyz_radial.cpp
and depth_image_proc/src/nodelets/point_cloud_xyzi_radial.cpp
and depth_image_proc/src/nodelets/point_cloud_xyzrgb_radial.cpp

The same fi

[2021-07-26 21:00] swiz23 opened #687 "[depth_image_proc] Remapping CameraInfo topics Correctly"
In the 'Execution' section of the [depth_image_proc](https://wiki.ros.org/depth_image_proc) ROS Wiki, it shows that the camera_info topic can be remapped to a different topic. However, if you take a look at the [nodelet code](https://github.com/ros-perception/image_pipeline/blob/71d537a50bf4e7769af513f4a3d3df0d188cfa05/depth_image_proc/src/nodelets/point_cloud_xyz.cpp#L97), the 'camera_info' topic

[2021-08-11 01:18] sisaha9 opened #689 "Is there any tutorial/README on how to use the ChArUco board calibration"
I am currently using ROS Noetic. I was using the command introduced in #548 to try out ChArUco board calibration. However I could not get the board detection to work. Does it still follow similar instructions to http://wiki.ros.org/camera_calibration/Tutorials/MonocularCalibration after the rosrun command or are there any other differences that should be noted

[2021-08-11 15:36] Enes1097 opened #690 "Availability on ROS2 Foxy"
Hello,
I was just about to build this package in ROS2 Foxy, but realized that there is no branch referencing the Foxy distribution yet.
Is this package also going to be released in this distribution?

Thank you for your answer!

[2021-08-11 15:42] JWhitleyWork commented on #690
Version 2.2.1 was released for Foxy and is available as binaries on the ROS repositories. This release was created from the `ros2` branch. However, now that Galactic is out, I will create a `foxy` branch and release for Galactic from the `ros2` branch.

[2021-08-11 15:42] #690 closed, assigned to nobody

[2021-08-12 10:23] Enes1097 commented on #690
Thank you for your quick answer!
Before I asked this question I already tried building the package thinking that the "ROS2" branch is refering to the foxy distribution, but I did not work. This is what my shell gave as an output.

![Screenshot from 2021-08-11 17-28-49](https://user-images.githubusercontent.com/57830794/129180917-7771cf94-8bcb-4377-a0c9-7527fb3317ef.png)
![Screenshot from 2021-08-1

[2021-08-12 10:46] Enes1097 commented on #690
Thank you for your quick answer!
Before I asked this question I already tried building the package thinking that the "ROS2" branch is refering to the foxy distribution, but I did not work. This is what my shell gave as an output.

![Screenshot from 2021-08-11 17-28-49](https://user-images.githubusercontent.com/57830794/129184275-96d63c15-4f53-4b14-acab-fd3267a76067.png)
![Screenshot from 2021-08-1

[2021-08-15 22:15] frequiem11 commented on #682
Any update on the issue? I'm in the same boat.

[2021-08-16 09:19] bjajoh commented on #682
Here is my working config:

`image_width: 1640
image_height: 1232
camera_name: csi_cam_0
camera_matrix:
  rows: 3
  cols: 3
  data: [ 403.97646,   -0.96635,  871.2187 ,
            0.     ,  404.70652,  597.37327,
            0.     ,    0.     ,    1.     ]
#camera_model: fisheye
distortion_model: equidistant
distortion_coefficients:
  rows: 1
  cols: 4
  data: [0.175653, -0.031772, 0.000362, -0.

[2021-08-16 19:20] JWhitleyWork commented on #682
@bjajoh Would you mind submitting a pull request to fix the issue?

[2021-08-17 08:03] bjajoh commented on #682
@JWhitleyWork Yes, I'll do it soon :)

[2021-08-23 05:23] diwamanic opened #694 "ROS Camera Calibration for Webcam - Not working"
Hi peeps! As a part of learning, I am trying to perform Camera calibration with my laptop's Webcam. I am really new to this process. I will explain everything about how far I have come so far, and where I have issues in coming to an successful calibration.

My system specifications: Ubuntu 18.04, ROS Melodic.

For Camera streaming, I am using usb_cam ros package http://wiki.ros.org/usb_cam. And it

[2021-08-23 05:31] diwamanic opened #695 "ROS Camera Calibration for Webcam - Not working"
Hi peeps! As a part of learning, I am trying to perform Camera calibration with my laptop's Webcam. I am really new to this process. I will explain everything about how far I have come so far, and where I have issues in coming to an successful calibration.

My system specifications: Ubuntu 18.04, ROS Melodic.

For Camera streaming, I am using usb_cam ros package http://wiki.ros.org/usb_cam. And it

[2021-08-23 18:16] JWhitleyWork commented on #695
@diwamanic Did you verify that the topics between `usb_cam` and `camera_calibration` are hooked up to eachother? ROS doesn't do this on it's own - you have to connect the topics using [topic remapping](https://roboticsbackend.com/ros-topic-remap-example/).

[2021-08-23 18:18] JWhitleyWork commented on #694
Closing as duplicate of #695.

[2021-08-23 18:18] #694 closed, assigned to nobody

[2021-08-24 06:21] diwamanic commented on #695
Thank you for your answer. I understood my mistake. When I download the image_pipeline, I forgot to clone it with the suitable devel-branch. As I am using melodic version of ROS, I should git clone it with -b indigo-devel as it is mentioned in ROS Wiki.
Thank you for your input though. :)

[2021-08-25 17:48] #695 closed, assigned to nobody

[2021-08-26 10:50] Kettenhoax opened #696 "[depth_image_proc] [ROS2] symbol lookup error"
When I build depth_image_proc version 6b649d2b592d6c07461f9232f86e186017fb4442 in galactic, and run the `depth_image_proc::PointCloudXyzNode` component, I get a symbol lookup error:

[code]

It seems that 635bbb94a7ca72be11bb914a736b5052a6ec0b8d introduced changes in which the definition of the convertDepth function, which seems to be the missing symbol, is moved to a cpp file. PointCloudXyzNode o

[2021-08-31 16:46] lucasw commented on #265
Unless I'm missing something this is solved by the `fill_upsampling_holes` param from #363

[2021-09-02 14:05] wurong98 opened #698 "No image displayed after startup"
![image](https://user-images.githubusercontent.com/22260281/131857950-20a7aa17-b810-4d9c-a252-5aa47197d986.png)
rviz can display image，but no image is displayed when calibration is started

[2021-09-08 08:43] vishalleo1 opened #700 "depth_image_pro publish rate is very low"
we have use the intel camera the inputs rate are the 28 fps, the opute of the depth_registered/camera_info rate is 0.31 fps.
we have use the depth_image_proc ros package for this.
we have use this command
rosrun nodelet nodelet manager __name:=depth_image_proc

then for register depth  image
rosrun nodelet nodelet load depth_image_proc/register depth_image_proc __name:=nodelet1 rgb/camera_info:=/c

[2021-09-09 14:33] lucasw commented on #700
I had low depth registered output rate issues but it was due to low target camera_info input rates combined with an approximate sync policy in the register node- I think the register nodelet should publish at the rate of the input depth image and only require the transform to the target/output frame is valid, let downstream nodes decide if a depth image that isn't synchronized to the target camera

[2021-09-10 09:52] FSund commented on #658
This is fixed on the `noetic` branch via 0a85550, but the shebang is still `#!/usr/bin/python` on my installation. I have the following version installed: `ros-noetic-camera-calibration-parsers/focal,now 1.12.0-1focal.20210727.070336 amd64`

[2021-09-10 10:14] christian-rauch commented on #658
The patch you linked was committed in Dec 2020, after the last release of `image_pipeline` (version 2.1.1 in Jun 2020).

But even then, `#!/usr/bin/env python` will give you the python2 interpreter by default on Ubuntu. You either have to install the `python-is-python3` package, which links `python` to `python3`, or call that script directly with python3.

[2021-09-10 10:46] FSund commented on #658
Thanks, I was wondering why it was missing on my install.

I'm using Pop!OS 20.04, where `python` is not linked to anything by default. I'm not sure what the case is on Ubuntu 20.04. When I clone the latest `noetic` and compile via `catkin build`, running

    rosrun camera_calibration cameracalibrator.py --size 8x6 --square 0.108 image:=/my_camera/image camera:=/my_camera

works without errors.

[2021-09-10 20:48] swiz23 commented on #625
I am running into the same issue as well (though I didn't try to modify the code) specifically in foxy. Haven't tried it in galactic.

[2021-09-12 14:53] vishalleo1 opened #701 "is registartion required ?>"
if the color/rgb image resolution and depth image resolution is same and we get the images from the same camera, then we need to do the registration process?

[2021-09-13 04:22] JWhitleyWork commented on #625
Once you subscribe to the topic in `rviz2`, you can expand the topic details and change the QoS settings to match the `SensorDataQoS` settings. Here they are: https://docs.ros2.org/foxy/api/rclcpp/classrclcpp_1_1SensorDataQoS.html. If this works for you, please let me know and I will close this issue.

[2021-09-13 14:49] swiz23 commented on #625
Thanks @JWhitleyWork, that did the trick!!

I specifically had to change the PointCloud2 -> Topic -> Reliability Policy in Rviz2 from 'Reliable' to 'Best Effort' for the pointcloud to show.

[2021-09-13 15:29] JWhitleyWork commented on #625
Excellent! Closing.

[2021-09-13 15:29] #625 closed, assigned to nobody

[2021-09-14 14:41] Choco83 commented on #689
take a look here
https://github.com/ros-perception/image_pipeline/pull/548

[2021-09-14 15:01] #689 closed, assigned to nobody

[2021-09-20 10:33] bastianhjaeger commented on #656
Facing a similar behavior. Did you resolve your problem?

[2021-09-27 03:06] wurong98 commented on #698
Operating environment：ubuntu20.04 desktop，ros-noetic

[2021-09-30 08:17] halil54 opened #702 "Getting weird projection matrix from camera calibration"
I have low distortion lens with 90 degree hfov.
Everytime I do calibration ı get different projection matrix and some of them really weird. Tough my camera matrix seems logical.
What may cause this problem ? Can I change the projection matrix manually by typing values from camera matrix ?

Output 1 :

![Screenshot from 2021-09-30 11-09-37](https://user-images.githubusercontent.com/60352100/1354145

[2021-10-08 06:24] chinitaberrio commented on #656
add the flag `--no-service-check`

[2021-10-08 10:39] ShotaAk commented on #702
I have faced a similar problem.

 Environments:
- ROS version: melodic
- ros-melodic-camera-calibration version:  1.15.0-1bionic.20210921.210434
- launch file of camera node:
[code]

The command to run camera_calibration:
`$ rosrun camera_calibration cameracalibrator.py --camera_name=chest_camera --size=9x6 --square=0.025 image:=/chest_camera_node/image_raw`

before calibration:
![image](https://u

[2021-10-12 15:53] clydemcqueen commented on #657
Append `--no-service-check` to the end of the command line.

See http://wiki.ros.org/camera_calibration/Tutorials/MonocularCalibration for more info.

[2021-10-12 19:46] lancevoly opened #703 "Ros2 Foxy resize node, cannot find published camera_info"
I am using the resize node in ros2 foxy, which subscribes from a camera_info topic and republishes it with updated camera_info.
I wonder how I can subscribe to the updated camera_info, which is denoted as ~camera_info in the ros wiki. I tried node_name/camera_info, but it doesn't work.

Thanks for the help!

[2021-10-13 00:36] Kaiser-Wang commented on #656
To make it work for gazebo camera, you can try to modify QoS profile applied to the image subscriber from reliable to best effort in camera_calibrator.py source code, and then build it again.

[2021-10-13 00:40] chinitaberrio commented on #682
@bjajoh How did you run the node for fisheye calibration? I'm getting only zeros for the distortion coefficients :(

[2021-10-18 12:31] javierBarandiaran opened #705 "Video tutorials private"
The videos tutorials are private
http://wiki.ros.org/image_pipeline/Tutorials
Could you make them public please?

[2021-10-18 17:22] JWhitleyWork commented on #705
Sorry but I have no idea where these videos are/were. The error I'm seeing in the preview is that the video can not be found, not that it's private so I would guess that they have been deleted.

[2021-10-18 17:22] #705 closed, assigned to nobody

[2021-10-20 04:53] lucasw commented on #705
You could get in touch with the author of that change to the wiki that posted the videos (back in 2010):

http://wiki.ros.org/action/diff/image_pipeline/Tutorials?action=diff&rev1=12&rev2=13

The wayback machine says the first one was called "Part 1 of 3: Processing Camera Data", no sign of that anywhere else: https://web.archive.org/web/20170824232305/http://wiki.ros.org/image_pipeline/Tutorials

[2021-10-25 20:32] clydemcqueen commented on #703
In my tests ResizeNode subscribes and publishes to the same camera info topic, so the original and modified CameraInfo messages are mixed. This basically makes ResizeNode unusable.

I think this is the root cause: https://github.com/ros-perception/image_common/issues/187

[2021-10-25 22:48] clydemcqueen opened #706 "ROS2 resize and rectify always subscribe to the raw image"
In ROS2 `RectifyNode::subscribeToCamera` calls `image_transport::create_camera_subscription`, which doesn't get the value of the image_transport parameter, so it always subscribes to the raw image on the base topic.

In ROS1 `RectifyNodelet::connectCb` calls `image_transport::subscribeCamera` and passes in a TransportHint. The TransportHint object will get the value of the image_transport paramete

[2021-10-27 18:47] Aposhian opened #708 "Feature: Add CompressedImage publisher"
## Feature description

I want to be able to run
[code]
and see compressed images published as `sensor_msgs/CompressedImage` messages. I want a way to bring compressed images into ROS without doing any decompression or recompression.

## Rationale

`image_publisher` uses `cv::VideoCapture` to open arbitrary video streams, and then _decodes_ them into raw frames and publishes as `sensor_msgs/Image`

[2021-10-29 09:58] #698 closed, assigned to nobody

[2021-11-12 07:58] mintar opened #709 "New release into Noetic"
Now that #707 is merged (thanks @JWhitleyWork), could we get a new release of `image_pipeline` into Noetic? Otherwise this repo will still break once the next release of `vision_opencv` happens.

[2021-11-12 17:54] JWhitleyWork commented on #709
@mintar Thanks for the reminder! Noetic release is now in-process. https://github.com/ros/rosdistro/pull/31211

[2021-11-12 17:54] #709 closed, assigned to nobody

[2021-11-24 20:36] tik0 commented on #682
Hi @bjajoh , what do you mean with `rectification is not working correctly`? I came to this issue, because the image rectification using image_proc does not work under Melodic for me at all. If one looks into `image_geometry`, neither `fisheye` nor `equidistant` models are processed. Only neotic is able to handle the rectification of `equidistant`. Under melodic it gives me:

[code]

[2021-11-25 13:05] azhural opened #713 "ros2: variables undefined"
51a60e723c331507c05e3be37734884cf79ebff9 has introduced a `fisheye_flags` variable in camera_calibration's camera_calibrator.py L108, which is undefined. L153 reads `self.checkerboard_flags`, but should read `self._checkerboard_flags`.

After fixing that locally I ran into a `boards` undefined error. I'm unsure if that's user error.

[2021-11-25 23:53] cgdubois commented on #682
I was having this problem too, and noticed in https://github.com/ros-perception/image_pipeline/blob/noetic/camera_calibration/src/camera_calibration/calibrator.py on line 330 it appears to be hard coded to use CAMERA_MODEL.PINHOLE. I think set_camemode is supposed to change self.camera_model?

I hardcoded it to CAMERA_MODEL.FISHEYE and I think I got the calibration data I needed. I'm just verifyin

[2021-11-26 13:45] cgdubois commented on #574
Hi @JWhitleyWork I am not sure what the normal procedure is for this, but I'd be interested in becoming a maintainer. I've been using ROS1 since 2017, although mostly on Kinetic but Melodic/Noetic aren't a big jump. I'm also interested in learning about ROS2 in the near term. Let me know if I can help/become involved.

[2021-12-06 16:41] JWhitleyWork commented on #701
Unless you have a multi-spectral camera (which costs tens of thousands of dollars) then you aren't getting the depth and RGB images from the same "camera" (i.e. same image sensor) which means registration is required.

[2021-12-06 16:51] JWhitleyWork commented on #658
This just requires a new release of the `noetic` branch to the build farm which has already been requested in #650. Please build from source until that ticket is resolved. If you encounter a different error when building from source, please create a new issue.

[2021-12-06 16:51] #658 closed, assigned to nobody

[2021-12-06 16:52] #657 closed, assigned to nobody

[2021-12-06 16:53] JWhitleyWork commented on #637
Closing for now. Please create a pull request if possible.

[2021-12-06 16:53] #637 closed, assigned to nobody

[2021-12-14 07:34] Liuqibaa commented on #201
Thank you, I have fixed my problem.

[2021-12-20 22:15] JWhitleyWork commented on #574
@cgdubois Sorry for not responding sooner. Yes, I would be happy to have you help out with maintenance! You should have an invitation in your inbox.

[2022-01-06 14:05] moksh-401-511 commented on #645
Thanks  @redchillipadi , it worked and solved the problem.
I am wondering that I had built this repo long time ago with no such error. But I could not understand why it was generating the error this time for me !

[2022-01-06 17:34] #645 closed, assigned to nobody

[2022-01-16 15:42] lucasw commented on #643
Try setting `fill_upsampling_holes` to true.

[2022-01-16 16:09] lucasw opened #721 "Make depth_image_proc register fill_upsampling_holes work with full range of relative angles"
The current implementation doesn't draw anything from certain relative angles between the source depth image frame and target frame (called rgb in the code and documentation but it is just any valid camera info with a valid frame), draws increasingly thin slivers as it approaches those angles, and then when a range check fails it doesn't draw anything at all.

I have the beginning of a quick fix h

[2022-01-21 13:53] shubham-shahh commented on #557
Hi, but since most cams publish transforms for different frames, why are we not taking those transforms into account and solving this issue?

[2022-01-24 18:56] flynneva commented on #721
@lucasw do you think you could also port this to the `ros2` branch of `depth_image_proc`? I did a pretty major rewrite of that package awhile ago so it might be a bit easier to add it there.

[2022-01-24 21:57] lucasw commented on #721
@flynneva I'll take a look, but would probably be slow to get that done.

[2022-01-24 22:47] flynneva commented on #721
@lucasw I could take a stab at it later this week and tag you for a review 👍🏼 after looking through your updates I think it'll fit in nicely with the rewrite i did (lots of consolidation and templating)

[2022-01-30 17:39] teyssieuman opened #725 "Undefines variable implying a crash when calibrating"
'fisheye_flags' is not defined here.

https://github.com/ros-perception/image_pipeline/blob/1b6f868501ee0a753a3138bf31efd57c4054c5dc/camera_calibration/src/camera_calibration/camera_calibrator.py#L108

This make the calibration fails :

[code]

[2022-01-31 16:58] JWhitleyWork commented on #725
Which branch/version is this on? You linked to a specific commit so it's hard for me to tell.

[2022-02-01 10:29] 4TINI opened #726 "missing "sec_per_frame" param in "extract_images_sync" node"
a "sec_per_frame" ros  parameter as the one in the c++ node "extract_images" is missing not allowing to decimate the frames extracted from topics.

[2022-02-04 16:35] gustavojoseleite opened #727 "Difference between image_raw and image_color outputs."
The documentation say:
image_raw - Raw image stream from the camera driver.
image_color - Color unrectified image.
So if image_color is unrectified, what is the exactly difference between image_raw and image_color? When i should be use image_color rather than image_raw?

Thanks

[2022-02-05 17:05] lucasw commented on #727
The image_raw could have color information in it but in a bayer pattern, then it would be processed (by image_proc) to interpolate pixel values into rgb/bgr format.  That converted color image takes up 3x the bytes as the raw image if the input was 8bpp.

[2022-02-06 01:50] gustavojoseleite commented on #727
Right, so the image_color has some processing for the pattern of color, for example, but doesn't have information about camera parameters just the image_color_rect have this correction, right?

Thanks for your reply @lucasw .

[2022-02-07 15:11] RodrigoFBernardo opened #728 "Calibration RGBD camera"
I am trying to calibrate my realsense RGBD camera but the service is not available, for example: "set_camera_info" Service.  I have many more services and topics.

I wonder if you could give me some help. Thanks in advance

Topics:

[code]

Services:

[code]

[2022-02-07 19:50] JWhitleyWork commented on #728
Could you please provide answers to the following questions?

- ROS version:
- OS Release/Version:
- Version or commit hash of `image_pipeline` used:

Thanks

[2022-02-07 21:08] RodrigoFBernardo commented on #728
@JWhitleyWork

 ROS version: melodic
OS Release/Version: Ubuntu 18.04
Version or commit hash of image_pipeline used: Last version

[2022-02-08 12:25] roaz1801 opened #729 "cameracheck.py not responding"
Hello, I have calibrated a camera using camera_calibrator.py. After calibrating I have commited and used the http://wiki.ros.org/image_proc package to get the rectified image. I want to check how good the calibration is, but when running
`python3 cameracheck.py --size 8x6 --square 0.25 image:=/cv_camera/image_rect_color camera:=/cv_camera`
the node is unresponsive, no output or errors.
Using Ros n

[2022-02-08 15:49] KiloNovemberDelta commented on #725
At this instruction : [        self._fisheye_calib_flags = fisheye_flags](https://github.com/ros-perception/image_pipeline/blob/1b6f868501ee0a753a3138bf31efd57c4054c5dc/camera_calibration/src/camera_calibration/camera_calibrator.py#L108)

I have just set manually  : self._fisheye_calib_flags = False
And then compile again. Indeed, it is a bug to fix.

I'm on the ros2 branch

[2022-02-09 16:19] hardesh opened #730 "Issue in point_cloud_xyz launch file [ROS2]"
Hi,

There's a typo on [this](https://github.com/ros-perception/image_pipeline/blob/1b6f868501ee0a753a3138bf31efd57c4054c5dc/depth_image_proc/launch/point_cloud_xyz.launch.py#L63) line. It should be [`image_rect`](https://github.com/ros-perception/image_pipeline/blob/1b6f868501ee0a753a3138bf31efd57c4054c5dc/depth_image_proc/src/point_cloud_xyz.cpp#L78) as mentioned in the code.

I'd like to open u

[2022-02-09 18:01] JWhitleyWork commented on #730
Please do.

[2022-02-10 13:55] hardesh commented on #730
Okay cool :smiley:

[2022-02-10 19:54] JWhitleyWork commented on #730
Closed by #732

[2022-02-10 19:54] #730 closed, assigned to nobody

[2022-02-22 14:56] shrini-mm commented on #696
I am facing the same problem. Is there any update on this?

[2022-02-25 15:34] kraig9 opened #734 "Launch file issues for Stereo_image_proc"
Using Galactic

Ubuntu 20.04

current launch file has many wrong params

after replacing with new param names problems seems to go away

fixes attached (replace file suffix)

[stereo_image_proc.launch.py.txt](https://github.com/ros-perception/image_pipeline/files/8142315/stereo_image_proc.launch.py.txt)

[2022-02-25 20:21] JWhitleyWork commented on #734
@kraig9 If you are seeing issues and you have a fix, can you please create a pull request?

[2022-03-01 13:03] Fellowflyingsky commented on #591
![Screenshot from 2022-03-01 07-58-49](https://user-images.githubusercontent.com/71952790/156173536-7042875d-77a9-4cfc-8640-eae2771b93bf.png)
1.use  the opencv4.1.1 for python
2.line 725 in calibrator.py changed to Calibrator.__init__(self,*args, **kwargs).

[2022-03-09 17:39] gustavojoseleite opened #736 "Problem with camera info message after process of camera calibration #82"
I'm using a mako G319 camera whose maximum resolution is 1536x2064. I applied binning to reduce the resolution by four times, that is, to 384x516. When performing the calibration of the set (camera and lenses) the calibration parameters were loaded and the camera info of the camera driver is published as follows:
height: 1544
width: 2064
distortion_model: "plumb_bob"
D: [-0.097715, 0.08086, -0.003

[2022-03-11 07:23] arjunskumar commented on #682
i also had similar issues in ros melodic

[2022-03-11 07:32] arjunskumar opened #737 "fisheye calibration fails"
Hi, I'm not getting proper results with fisheye mode calibration tested on  ROS melodic

[2022-03-11 17:21] javadan opened #738 "ros2 branch fisheye_flags missing in constructor"
Hi, line 108 in camera_calibrator.py, fisheye_flags undefined

[2022-03-11 17:23] javadan commented on #738
[#713](https://github.com/ros-perception/image_pipeline/issues/713)

[2022-03-11 17:40] javadan commented on #738
[#724](https://github.com/ros-perception/image_pipeline/pull/724/commits/2a78a0aba5df5f7ebbfaec32c43dc769d14801f7)

[2022-03-27 13:32] mhubii opened #739 "CropDecimateNode Number Subscribers / image_view"
Hi there, the `CropDecimateNode` won't process images unless the number of subscriber is > 0, see

https://github.com/ros-perception/image_pipeline/blob/3cc137863ab039aa1a1a2271e6df2d9622479089/image_proc/src/crop_decimate.cpp#L134

intuitively, this makes sense. However, if, for example, one subscribes via `ros2 run image_view image_view --ros-args --remap image:=/out/image_raw`, the number of su

[2022-03-27 14:55] JWhitleyWork commented on #739
This is desired behavior to save the CPU cycles if there are no subscribers. With regard to `image_view`, I have seen this behavior before and I'm not exactly sure what causes it. If you find any sort of cause/fix, feel free to open a PR.

[2022-03-27 14:55] #739 closed, assigned to nobody

[2022-03-27 16:22] mhubii commented on #739
thanks for the prompt response. This is no particular issue of `image_view`, but rather of `image_transport`. I created a minimal example to reproduce, see ros-perception/image_common#238

[2022-03-28 12:53] BRNKR commented on #737
[code]

Thats the problem i am facing with melodic.

[2022-03-29 09:00] arjunskumar commented on #737
@TobiMiller with ros noetic it is working

[2022-03-30 18:54] IamPhytan commented on #682
Similar issues on ros melodic too
I will try it in a VM with ros noetic

[2022-04-01 12:10] xkaraman commented on #377
@JWhitleyWork
The fix as far as i am aware never merged into neither melodic, or noetic.

After applying the patch explained above, both rgb and depth are saved but encodings are probably mixed up and images are not as the originals.

[2022-04-04 00:55] dcconner opened #740 "ros2 version: image_rotate does not initialize the target and source _vectors in constructor"
Need to add the following after onInit() call to update data; target_vector and source_vector default to zero

`
  target_vector_.vector.x = config_.target_x;
  target_vector_.vector.y = config_.target_y;
  target_vector_.vector.z = config_.target_z;

  source_vector_.vector.x = config_.source_x;
  source_vector_.vector.y = config_.source_y;
  source_vector_.vector.z = config_.source_z;

`

[2022-04-04 13:01] Taysssir opened #741 "image rotate Resolution"
Hi, I'm using **image_rotate** package to rotate my camera stream. I got the stream rotated correctly but this change the resolution

**Resolution Before Rotation**  : `/camera/image_raw`  : **640 x 480**

**Resolution After Rotation**  : `/camera/rotated/image_raw` : **640 x 640**

How can got the stream rotated without chagning resolution?
Any helps!
Thanks

[2022-04-12 20:46] clalancette opened #742 "New release into Rolling"
Currently depth_image_proc fails to build on Rolling: https://build.ros2.org/view/Rbin_uJ64/job/Rbin_uJ64__depth_image_proc__ubuntu_jammy_amd64__binary/ .

The good news is that this issue is fixed in the latest HEAD of the `rolling` branch, so all we need here is a new release into Rolling.  @JWhitleyWork it looks like you did the previous release; do you mind doing another one?  If you don't hav

[2022-04-12 21:30] JWhitleyWork commented on #742
I actually need to do a little clean-up/convergence on branches on this repo. There are about 15 commits on the `rolling` branch that aren't on `ros2` and about the same that are on `ros2` but not on `rolling`. My plan to correct this is to rebase `rolling` on `ros2` as the intent is to have `ros2` support the released distros. Thoughts?

[2022-04-12 21:39] clalancette commented on #742
That seems reasonable to me.  For better or worse, that follows our conventions on other repositories.

[2022-04-14 21:00] JWhitleyWork commented on #742
@clalancette Please review the rolling-rebase branch, if you could. Some of the changes from `ros2` and `rolling` affected the same lines so I had to resolve several conflicts as best I could, not knowing exactly what changes were important for each branch. If you find any mistakes, please feel free to do the rebase yourself and force-push it to `rolling`.

[2022-04-14 21:52] clalancette commented on #742
I took a quick, non-exhaustive look at the merge, and things look generally reasonable.  So I'd suggest to go ahead and push the results of all of that to the `ros2` branch.

That said, running `colcon test` on the resulting output resulted in large numbers of test failures, mostly in cpplint and uncrustify but also in some other tests as well.  I'll suggest that we fix those, though maybe in a ne

[2022-04-18 20:10] JWhitleyWork commented on #742
Base on the previous discussion, I'm assuming you meant `rolling`. The changes have been pushed there. I'm working on a PR to fix the testing failures now.

[2022-04-18 20:32] clalancette commented on #742
Earlier in the conversation you said:

[code]

So I assumed this would all be done on the `ros2` branch.  That said, I really don't care which branch is used to support Rolling releases, as long as it is consistent in https://github.com/ros/rosdistro/blob/f6fa0641e0a268b51a5b179c3b06ba34a3e22219/rolling/distribution.yaml#L1333-L1357 and https://github.com/ros2-gbp/image_pipeline-release/blob/f07b9

[2022-04-19 04:07] Mdmorshadurrahman commented on #402
Hi

Need you help ! Got stuck in the same situation badly.

[2022-04-20 16:40] Strohhut1 opened #744 "ROS2 Galactic build failed (undefined reference)"
I tried to build image_pipeline from the ros2 branch with `colcon` on ros-galactic.

My System:
Ubuntu 20.04
ROS2 Galactic

I got the following error:
[code]

Do I miss something?

[2022-04-23 14:18] doisyg commented on #742
friendly ping here, as this package is my only workspace dependency not released to rolling/humble

[2022-04-26 18:37] clalancette commented on #740
Can you please open a pull request with that change so we can review it?  Thanks.

[2022-04-26 20:19] clalancette commented on #742
https://github.com/ros-perception/image_pipeline/pull/745 fixes the rest of the tests.  Once we get that in, we should be good to do a release here.

[2022-04-27 19:55] clalancette commented on #742
@JWhitleyWork With the fixes now in, would you like to do a release, or should I?

[2022-04-29 14:47] clalancette commented on #742
I'm going to go ahead and do a release here.

[2022-04-29 15:14] clalancette commented on #742
This is now done in https://github.com/ros/rosdistro/pull/32952 , so I'm going to close this out.

[2022-04-29 15:14] #742 closed, assigned to nobody

[2022-04-29 16:59] JWhitleyWork commented on #742
Thanks, @clalancette! Very sorry for the delay.

[2022-05-01 04:06] dcconner commented on #696
Ditto with Foxy build

[2022-05-01 21:44] dcconner commented on #740
I verified compilation for image_rotate, but I went in another direction and developed a new node for ROS 2 I called image_flip that I present in PR #743 for review .  I'm not set up to fully test this PR

[2022-05-03 17:56] chapulina commented on #742
Should this be released into Humble too? `Hpr` jobs are failing with `KeyError: "The cache has no package named 'ros-humble-image-pipeline'"`. The release probably came after the fork.

* https://github.com/ros2/variants/pull/34

[2022-05-03 17:57] clalancette commented on #742
Yes, good point.  I'll go ahead and do that.

[2022-05-03 18:21] clalancette commented on #742
Now done at https://github.com/ros/rosdistro/pull/33033 .

[2022-05-05 08:18] Runepx4 commented on #682
I got it working using ros noetic. Eg. for a t265 with a camera_info topic: `ROS_NAMESPACE=camera/fisheye1/ rosrun image_proc image_proc`

[2022-05-05 09:18] shrini-mm commented on #696
I fixed it by installing the apt package of `depth_image_proc` that came with  ubuntu 20.04. But I am not sure how to fix it yet by doing our own build. Hope it helps.

[2022-05-13 06:51] anjulo commented on #639
This helped me solve the problem.
https://stackoverflow.com/questions/1713038/super-fails-with-error-typeerror-argument-1-must-be-type-not-classobj-when

[2022-05-13 11:03] felixnil opened #748 "ROS2 : stereo_image_proc : rectification/undistortion"
Hi,
As far as I undestand, in the ROS1 version of stereo_image_proc package, the stereo_image_proc node allows to transform the raw images of a stereo pair (+ cameraInfo) into the undistorted and rectified ones.

In the ROS2 version of the package however, the stereo_image_proc node has disappeared from the stereo_image_proc package (the nodes for disparity and for point clouds still exist).

So i

[2022-05-20 06:01] Petros626 commented on #496
@nick-paul could I ask you just a simple question to the data: [...] you get?

[2022-05-22 06:53] siddarth09 opened #749 "The videos for tutorial is private"
The videos in ros wiki are showing private, could you please add a public link

[2022-05-22 18:24] quentingllmt commented on #696
For those looking, applying https://github.com/ros-perception/image_pipeline/pull/718 fixed the runtime linker error for me on the ros2 branch.

[2022-05-24 21:38] nick-paul commented on #496
@Petros626 I'm not sure I understand your question; can you elaborate?

[2022-05-30 21:16] FelipeGdM commented on #744
I had the same error when tried to compile the project from source. Cleaning the workspace `rm -r build install log` after installing `camera_info_manager` solved the issue for me

 What I did was (I suspect you did the same)

- Tried to compile from source
- Colcon complained about missing `camera_info_manager` dependency
- Installed the dependency with apt
- Hit `colcon build` right after depend

[2022-05-31 13:01] vinnnyr commented on #749
Hi @siddarth09  Please see this issue https://github.com/ros-perception/image_pipeline/issues/705
It seems like we might be out of luck to access the videos.

[2022-05-31 23:12] rafaelRinconFo opened #753 "ROS2 Galactic: Model change trackbar missing on GUI"
Currently, I have the Ros2 galactic installation and I'm trying to calibrate a Fisheye camera. After checking for a while I realized that the Trackbar for switching between pinhole and fisheye cameras should be displayed on the GUI as stated in [here](https://github.com/ros-perception/image_pipeline/blob/3cc137863ab039aa1a1a2271e6df2d9622479089/camera_calibration/src/camera_calibration/camera_cali

[2022-06-01 14:02] PierreLouisT commented on #728
Hi ! I am locked in a problem, I really need to get the light quantity which enter inside the camera. To do this, a luxmeter is recommended. Do you if Intel Camera Realsense provides some elements to get this lux data ? I searched in all of the fonctions in pyrealsense2 without find any  pertinent solution.
Thanks in advance for your help

[2022-06-03 12:30] wouter-heerwegh opened #754 "camera_calibration remapping of left and right camera topics ROS2"
Hi,

When I try to add left and right arguments, I get warnings telling me to use --ros-args --remap. But when I do, the arguments are not used due to [this line](https://github.com/ros-perception/image_pipeline/blob/3cc137863ab039aa1a1a2271e6df2d9622479089/camera_calibration/src/camera_calibration/nodes/cameracalibrator.py#L87). It thus looks for hardcoded names of service topics, which it cannot

[2022-06-17 20:01] JMadhup commented on #290
@leander-dsouza my hackBaseLine is already set to 0.07, I have tried other values as well. I am getting the disparity image but still cannot visualize the point cloud in rviz

[2022-06-17 20:21] JMadhup commented on #496
@nick-paul my P matrix  seems fine but I still get no point cloud. Do you have any suggestion how I can deal with that?

[2022-06-17 20:24] Petros626 commented on #496
It's okay. It was about the 0 values in your data, I think it's from the manufacturer so produce 0 if object is out of range or something similar

[2022-06-19 09:53] leander-dsouza commented on #290
This might seem trivial, but are you using ROS2? as the `hackBaseline` parameter changes its alias to `hack_baseline`.

[2022-06-20 08:32] JMadhup commented on #290
I am using ROS noetic

[2022-06-28 10:41] JMadhup commented on #402
@syediu Were you able to solve this issue?

[2022-06-28 18:55] syediu commented on #402
@Mdmorshadurrahman @JMadhup Please apology my late response. Yes, I did solve the issue.
**Solution:**
While using the `stereo camera`, you also need to supply the `baseline` between the left and right camera, if you don't specify this, you will not be able to get depth. See [this link](http://docs.ros.org/en/noetic/api/sensor_msgs/html/msg/CameraInfo.html#:~:text=For%C2%A0a%C2%A0stereo,is%C2%A0gi

[2022-06-30 11:39] JMadhup commented on #402
@syediu are you referring tto the <hackBaseLine> attribute of the plugin?

[2022-07-07 10:23] #744 closed, assigned to nobody

[2022-07-07 10:35] JWhitleyWork commented on #639
Hopefully the above comment helps. Additionally, Kinetic is no longer supported so I can't help much.

[2022-07-07 10:35] #639 closed, assigned to nobody

[2022-07-07 15:06] flynneva commented on #696
@Kettenhoax @shrini-mm @dcconner this should now be covered with #757 backporting the fix from #718. Sorry for causing so much trouble for everyone 😓

fyi @JWhitleyWork

[2022-07-08 16:21] JWhitleyWork commented on #696
Should be fixed on `ros2` branch now. Don't worry about it, @flynneva - it happens to everyone!

[2022-07-08 16:21] #696 closed, assigned to nobody

[2022-07-13 19:33] JWhitleyWork commented on #753
@rafaelRinconFo From the size of this window and the objects in it, it appears that the resolution of the screen that you are using is very small. This would cause some elements in the Python window to not be visible. Can you please confirm your screen resolution? Thanks.

[2022-07-13 19:57] JWhitleyWork commented on #754
Fixed by #755. (Please re-open if this is incorrect)

[2022-07-13 19:57] #754 closed, assigned to nobody

[2022-07-13 19:59] JWhitleyWork commented on #571
Closed by #573.

[2022-07-13 19:59] #571 closed, assigned to JWhitleyWork

[2022-07-13 20:01] JWhitleyWork commented on #648
Several releases for `rolling` have happened since this. Closing.

[2022-07-13 20:01] #648 closed, assigned to nobody

[2022-07-13 20:06] JWhitleyWork commented on #748
It looks like this is supposed to be solved by adding the `launch_image_proc` argument [here](https://github.com/ros-perception/image_pipeline/blob/ea216eba6d2c611adbd78bb9ef9db25816d1405c/stereo_image_proc/launch/stereo_image_proc.launch.py#L122) which will launch individual debayer and rectify nodes for each camera. However, based on [this PR](https://github.com/ros-perception/image_pipeline/pul

[2022-07-13 20:11] JWhitleyWork opened #759 "Porting Rolling Changes and New Releases"
@clalancette - It's been over a year since the `ros2` and `rolling` branches diverged. It now looks like releases are being made on `rolling` even though both branches have mutually-exclusive commits. Is there a plan for merging the two? The initial intent of the `rolling` branch was to test features related to other repositories which had changes in `rolling` but this seems to have become a stagi

[2022-07-13 20:21] JWhitleyWork commented on #741
@Taysssir This can be changed with the `output_image_size` parameter. See documentation [here](https://github.com/ros-perception/image_pipeline/blob/aa6437b1979662c258e21ed1362e2038a4f9f590/image_rotate/cfg/ImageRotate.cfg#L57).

[2022-07-13 20:21] #741 closed, assigned to nobody

[2022-07-13 20:24] clalancette commented on #759
In short, I'm not a maintainer here, so I don't know.

I'll point out that both https://github.com/ros2-gbp/image_pipeline-release/blob/master/tracks.yaml#L127-L152 and https://github.com/ros/rosdistro/blob/master/rolling/distribution.yaml#L1477-L1502 refer to the 'rolling' branch, so that is the canonical branch where releases should be made.  That also matches our new suggested setup for branche

[2022-07-18 21:49] rafaelRinconFo commented on #753
@JWhitleyWork I'm afraid that's not the case. The screen I'm using has a 1920x1080 resolution. In addition, I had to modify a little bit of the code for making the trackbar appear, so, I think the problem is not related to the resolution.

[2022-07-19 03:09] ijnek commented on #759
I'm guessing we're up to step 3 from the previous comment.
I've prepared step 4: https://github.com/ros-perception/image_pipeline/pull/761

It'll also be nice to delete the ``rolling-rebase`` branch, I don't know what that is but it seems stale.

[2022-07-19 09:14] ijnek opened #762 "Camera Calibration "window is not responding""
While running camera calibration, the cameracalibration window is reported unresponsive in Ubuntu22.04, and perhaps older Ubuntu distros too:

![image](https://user-images.githubusercontent.com/18237662/179713427-d4c11a80-568f-4bb4-8022-19252104e228.png)

This is an issue because it usually indicates a crashed program, but here, it's actually just taking time to calibrate.

Are there some easy wor

[2022-07-22 08:56] qibo02 opened #763 "catkin_make failed"
hi can you help me with this problem..
![image](https://user-images.githubusercontent.com/104100699/180403239-0a447e40-3196-4e01-933b-5d035aa581ee.png)

[2022-07-22 23:26] JWhitleyWork commented on #763
Did you install the dependencies with `rosdep` or manually before trying to build? Additionally, you can also just install the binaries with `apt` rather than building the package from source.

[2022-07-24 04:15] farhad-dalirani opened #765 "Disparity maps are so bad for stereo cameras"
Hello,

These images are from my left and right cameras. The third image is a disparity map. (Images are 4K)

I generated it with these commands:

[code]
and
[code]
![Screenshot from 2022-07-24 00-11-17](https://user-images.githubusercontent.com/65308831/180631923-b870a979-66b4-4352-a40d-0d752184a305.png)

[2022-08-29 19:24] charlielito opened #768 "camera_calibration: Fisheye camera type crashing on ROS2 galactic"
When using the galactic binaries or source code when you select `fisheye` the code crashes. See example:

![Screenshot from 2022-08-29 14-18-51](https://user-images.githubusercontent.com/8033598/187281757-3fc4a194-5794-44c8-a639-645586614e5e.png)

[2022-08-29 20:03] charlielito opened #770 "camera_calibration: QoS incompatibility ROS2 galactic"
When running the camera_calibration node, if the topic of the camera has QoS with reliability BestEffort (which is not crazy at all for image topics), it won't receive anything because of QoS incompatibility. Additionally, I see the following warning detailing that:

[code]

[2022-08-30 18:59] TrueshotBarrage opened #772 "How to align rgb image to depth image?"
It looks like depth_image_proc/register.cpp is able to align depth image to rgb image. Is it possible to align rgb image to depth image by modifying register.cpp? Thank you in advance!

[2022-09-01 02:05] charlielito commented on #770
Solved in #771

[2022-09-01 02:05] #770 closed, assigned to nobody

[2022-09-16 10:25] ddwy opened #774 "'std::runtime_error', what() can't subtract times with different time sources 1 = 2"
When I run the following command, the following error will appear:

command:
ros2 run image_view video_recorder --ros-args --remap image:=/color/preview/image

occur error:
terminate called after throwing an instance of 'std::runtime_error'
what(): can't subtract times with different time sources [1 != 2]

[2022-09-20 14:35] Kaju-Bubanja opened #775 "Can't compile image_rotate for ros_rolling"
I am compiling everything for ros_rolling currently and when trying to compile this package on the rolling branch I get following error trying to compile the image_transport package:
[code]

Is this an issues with my system and you can compile this package for rolling or is this a bug in the package?

[2022-09-20 21:46] ijnek commented on #759
@JWhitleyWork With up to step 4 being completed, could you consider deleting the ``ros2`` branch to prevent further branch diversion?

[2022-09-20 23:02] ijnek commented on #775
Wih the warning ``#warning This header is obsolete, please include cv_bridge/cv_bridge.hpp instead``, that is due to a #include of a header file that has been deprecated, and so it is unrelated the error below that.

[2022-09-20 23:47] ijnek commented on #775
In regards to the error, I believe this is a bug in tf2_ros, and so I've opened a [ticket on ros2/geometry2](https://github.com/ros2/geometry2/issues/554)

[2022-10-05 20:00] furushchev opened #778 "Release for ROS1 Noetic?"
There are some changes from the last release https://github.com/ros-perception/image_pipeline/compare/1.16.0...noetic
I think it's time to release the new version.
@JWhitleyWork

[2022-10-06 12:27] lucasrj opened #779 "ros2 foxy image_view extract_images transport param always is --ros-args_sub"
then i tray to use the extractor in my luanchfile i allwais get an error

'what():  Unable to load plugin for transport 'image_transport/--ros-args_sub', error string:'

but if change name of transport to test in the code works

[launch.log with error](https://github.com/ros-perception/image_pipeline/files/9724773/launch.log)
[launch.log after change](https://github.com/ros-perception/image_pipeli

[2022-10-06 14:34] AndreasR30 opened #780 "[ROS2] image_proc: replace SubscriberStatusCallback (from ROS1) with a Timer"
In ROS1 the `image_proc` nodelets only subscribed to the input topic when there was an [subscription on their output topic](https://github.com/ros-perception/image_pipeline/blob/noetic/image_proc/src/nodelets/debayer.cpp#L104).

In ROS2 the components always subscribe to their input topic. For one component this is not a big problem because in the message callback it is [checked](https://github.co

[2022-10-06 14:53] AndreasR30 commented on #780
Related:
- Feature request for lazy `image_transport::subscriber/publisher`: ros-perception/image_common#111
- This would require low level support in RMW: ros2/rmw#155

[2022-10-14 11:19] fbaygul commented on #763
http://wiki.ros.org/rosdep

run this command "rosdep install --from-paths src --ignore-src -r -y" in your ws

[2022-10-16 23:26] furushchev commented on #778
@JWhitleyWork Ping to maintainer.

[2022-10-18 03:16] JWhitleyWork commented on #778
Sorry for the delay. Release is now pending: https://github.com/ros/rosdistro/pull/34979

[2022-10-18 03:16] #778 closed, assigned to nobody

[2022-10-18 03:36] #763 closed, assigned to nobody

[2022-10-18 03:58] furushchev commented on #778
@JWhitleyWork No worries! Thank you for your work!!

[2022-10-20 17:57] nagarjunvinukonda opened #781 "camera calibration module conflicts with python version "ImportError: dynamic module does not define module export function (PyInit_cv_bridge_boost)""
Hi,

I am having trouble when I run the camera calibration module with ROS melodic. Ubuntu 18.0.4. as follows:

[code]

Hence I installed python3 version of ros dependencies:
[code]

But still not change I am having import error:
[code]

What is the solution for this? why I am getting this error?

[2022-11-16 17:01] onurtore commented on #589
@JWhitleyWork,
Still interested? I can create a PR

[2022-11-16 18:42] aristow1 commented on #781
try builduing your package using the default python 2.7 in Ubuntu 18.

[2022-11-18 22:57] akdhandy commented on #351
Hello,I have been trying to use the tarfile_calibration.py  but I always encounter this error.I tried to load a tar file and run it using:

rosrun camera_calibration tarfile_calibration.py archive.tar --square 0.051 --size 7x10.

Here is the corresponding error:
[code]
The tar file has the checkerboard pattern images in the corresponding left.png and right.png format in it as well.I'm not able to

[2022-11-19 02:17] akdhandy opened #784 "Tarfile_Calibration usage?"
Hello,I have been trying to use the tarfile_calibration.py but I always encounter this error.I tried to load a tar file and run it using:

rosrun camera_calibration tarfile_calibration.py archive.tar --square 0.051 --size 7x10.

Here is the corresponding error:

[code]
The tar file has the checkerboard pattern images in the corresponding left.png and right.png format in it as well.I'm not able to

[2022-11-20 08:14] onurtore opened #785 "Several Improvements for Calibration Tool"
Hi!,
I have been using calibration tool for a while, and I believe there are some features that definitely improve the output of the calibration. I want to create PR for them, but first wanted to get your opinions so that I do not spend unnecessary time.

1. Calibration Requirements

Currently, one of the calibration requirement is to have 40 picture of the pattern. I believe, this should be param

[2022-11-21 20:13] JWhitleyWork commented on #684
@AlexWUrobot If you are having a similar issue, please do not bump zombie issues - create a new one and provide the information requested in the issue template.

[2022-11-21 20:14] JWhitleyWork commented on #785
@onurtore I'm fine with all of these. Please make sure to implement them in separate PRs. Thanks!