[2017-04-17 22:17] 130s opened #271 "Release into ROS Lunar"
[Some packages](http://repositories.ros.org/status_page/blocked_releases_lunar.html?s=6&r=1) want this package to be available.
Thanks!

[2017-04-18 14:06] mindThomas opened #272 "Vertical misalignment of registered depth image compared to rectified RGB image"
This is a referenced issue from https://github.com/intel-ros/realsense/issues/233
Though the experienced problems are related to the registration process within the "depth_image_proc" code.

### System Configuration
| Version               | Your Configuration   |
|:--------------------- |:---------------------|
| Operating System      | Yocto               |
| Kernel                | 4.4.3-yocto-

[2017-04-21 00:08] k-okada commented on #268
[code]
did you start `stare_proc` to publish disparity images?

[2017-04-26 09:42] antgarmun commented on #268
@k-okada, I dind't start stare_proc, how can I do it? Where can I find information about it?

[2017-04-27 11:27] k-okada commented on #268
you can learn how to use stereo_image_proc at ->
http://wiki.ros.org/stereo_image_proc/Tutorials/ChoosingGoodStereoParameters

--
◉ Kei Okada

2017-04-26 18:42 GMT+09:00 antgarmun <notifications@github.com>:

[2017-04-28 22:09] mikaelarguedas commented on #271
@130s FYI: released in https://github.com/ros/rosdistro/pull/14581

@vrabaud This needs a new release including https://github.com/ros-perception/image_pipeline/commit/562332df73781c1e56ce9123542334cc1d91b143, without it all jobs on yakkety, zesty and stretch are failing. If you have any spare cycle in the next few days it will be great because thats one of the 3 packages preventing the release of

[2017-04-29 00:10] 130s commented on #271
Thanks @mikaelarguedas

[2017-04-29 02:01] mikaelarguedas commented on #271
I'm going to reopen this given that a new release is needed to be able to release ROS Lunar

[2017-04-30 15:55] vrabaud commented on #262
Fixed by #263

[2017-04-30 15:55] #262 closed, assigned to nobody

[2017-04-30 16:05] #217 closed, assigned to nobody

[2017-04-30 19:15] vrabaud commented on #261
Long overdue indeed .... Done !

[2017-04-30 19:15] #261 closed, assigned to nobody

[2017-04-30 19:19] vrabaud commented on #271
And done !

[2017-04-30 19:19] #271 closed, assigned to nobody

[2017-04-30 19:55] wkentaro commented on #261
Thanks!

[2017-05-08 09:06] tik0 opened #274 "sec_per_frame_ is unintuitive"
The [preprocessor variable](https://github.com/ros-perception/image_pipeline/blob/indigo/image_view/src/nodes/extract_images.cpp#L119) `VIDEO_` makes no sense in the `extract_images` node.
Due to that, the very un-intuitive parameter `sec_per_frame_` is necessary in the [callback](https://github.com/ros-perception/image_pipeline/blob/indigo/image_view/src/nodes/extract_images.cpp#L112).

So I vote

[2017-05-08 18:09] vrabaud commented on #274
I agree for _VIDEO
sec_per_frame_ is used to respect a framerate though, don't you agree. Your definition is more to only keep every other frame.

[2017-05-10 06:03] tik0 commented on #274
But `sec_per_frame_` doesn't respect the real frame rate. The thing is, that one can only store the images with 1/1, 1/2, 1/3, 1/4, ..., 1/N of the real framerate anyway. Therefore it is unnecessary from my point of view, to do the calculation of `sec_per_frame_:=1/real_fps*1/N` if I want to store every n'th image. Every fracture of N (s.t. one chooses freely `sec_per_frame_`) won't make any sense

[2017-05-16 14:43] pbeeson commented on #235
I still see this behavior using the current kinetic .deb files.

[2017-05-17 03:26] k-okada commented on #235
may be that's because
https://github.com/ros-perception/image_pipeline/pull/236 is not merged and
released yet.

--
◉ Kei Okada

2017-05-16 23:43 GMT+09:00 Patrick Beeson <notifications@github.com>:

[2017-05-22 13:36] ashnarayan13 opened #275 "stereo_calibration doesn't start"
I am able to calibrate the cameras individually. But when I run the stereo_calibration using the http://wiki.ros.org/camera_calibration/Tutorials/StereoCalibration I the calibration windows opens and turns grey.
I increased the buffer for the cameras to 1GB and tested if the cameras were working in stereo, I get images when view the topics on rviz.
I get this on the terminal
('Waiting for service'

[2017-05-22 13:44] trigal commented on #275
do you have synchronized camera messages? if they're not, use the approximate flag, like --approximate=0.1  and let us know!

[2017-05-22 13:56] ashnarayan13 commented on #275
That worked! Thanks.
When I try to commit the calibration, I get the
QObject::~QObject: Timers cannot be stopped from another thread
Is this a camera problem or the calibration window problem?

[2017-05-22 14:01] trigal commented on #275
I do not have an answer for this issue but I remember that my colleagues also had problems with that. Maybe you need a suitable driver to "accept" the incoming calibration, don't kwnw. What we usually do is to save the calibration (in /tmp) and than we use them in our ad-hoc camera driver, but I'm sure the other guys here can say something better ;-)

[2017-05-25 11:45] antgarmun commented on #268
@k-okada I have started stereo_image proc but I only get tree grey windows with stereo view. I run the command: "rosrun image_view stereo_view stereo:=/ image:=image_mono _aproximate_sync:=True" and I get the following output:
[ INFO] [1495711913.321762184]: Subscribing to:
	* /left/image_mono
	* /right/image_mono
	* /disparity
[ WARN] [1495711928.422489282]: [stereo_view] Low number of synchroniz

[2017-06-08 07:50] panecho opened #277 "stereo calibration failed at the begining of tutorial, anyone encounters this failure?"
n1@N1:~$ rosdep install camera_calibration
#All required rosdeps installed successfully
n1@N1:~$ rosmake camera_calibration
[ rosmake ] rosmake starting...
[ rosmake ] Packages requested are: ['camera_calibration']
[ rosmake ] Logging to directory /home/n1/.ros/rosmake/rosmake_output-20170608-154605
[ rosmake ] Expanded args ['camera_calibration'] to:
['camera_calibration']
[rosmake-0] Starting >>

[2017-06-08 08:54] #277 closed, assigned to nobody

[2017-06-14 13:38] NikolasE opened #278 "Fixed number of distortion_coefficients in yaml-output"
calibrator.py (~l 475)
def lryaml(self, name, d, k, r, p):
...

[code]

When writing the distortion_model, the length of the distortion vector is checked, but two lines later, it's value is fixed to 5 which will lead to problems, if someone really uses the "rational_polynomial"-Model

[2017-06-20 17:08] doublexxking opened #280 "Kinect2 shows nothing from image_view"
Hi everyone,
I try to use kinect2 to detect my object and my os is Ubuntu 14.04 indigo.
After I run roslaunch kinect2_bridge kinect2_bridge.launch and  rosrun image_view image_view image:=/kinect2/qhd/image_color,  I got an empty window as shown following:
![screenshot from 2017-06-20 13 04 44](https://user-images.githubusercontent.com/11947126/27345843-10cb921c-55b9-11e7-8bf7-4ce3267308d7.png)

T

[2017-06-29 17:31] arpit15 opened #281 "calibration parameters varying across multiple attempts for monocular camera"
I am trying to [camera calibration tool](http://wiki.ros.org/camera_calibration) for calibrating the rgb sensor in realsense sr300. However I get hugely varying values of the camera intrinsics across different attempts.
Could anyone suggests what might be wrong with the method or my approach to it? This seems really weird. For calibration I place the pattern on a table and move the camera around.

[2017-07-05 21:06] CaptD commented on #93
Hi, I still have this problem. Which branch has the fix? Thanks.

[2017-07-05 23:44] k-okada commented on #93
it should be fixed, please confirm again.

[code]

[2017-07-06 18:10] SubMishMar commented on #281
Even I face the same issue! I am using it for intel realsense euclid's RGB camera.
Just a question, how do you know if the calibration is good or not? Is there something like calculating the reprojection errors?

After you are done calibrating you will see "lin" written on top right corner with a black fine straight line across the screen. What does it mean?

[2017-07-08 19:49] SubMishMar opened #282 ""lin" appearing on the top right corner of the calibration screen mean"
![screenshot from 2017-07-08 21-43-18](https://user-images.githubusercontent.com/28704031/27988649-37216faa-6427-11e7-94fa-82ca530312b6.png)
What does  "lin" mean and what does it signify?

[2017-07-11 09:43] vrabaud commented on #282
It is the linear error. Feel free to update the wiki with this info if it is not there.

[2017-07-11 12:18] SubMishMar commented on #282
@vrabaud  and how much linear error is acceptable ? and what is the unit?? pixel?

I will update the wiki.

[2017-07-11 13:54] gui2dev opened #283 "Critical error when using image_view nodelet"
Hi !

I'm using kinetic on ubuntu 16.04 on an Intel Joule 570x.
I'm trying to use image_view/image nodelet and get the following error :

[code]

I'm using a launch file to start the nodelet :

[code]

I wrote and compiled the cam/cam_nodelet myself.

Thank you for your support !

[2017-07-11 14:32] k-okada commented on #283
if this is a same situation as I rporeted at
https://github.com/ros-perception/image_pipeline/pull/279,
please try something like
https://github.com/ros-perception/opencv_apps/pull/67 or run nodelet with 1
thread,

--
◉ Kei Okada

2017-07-11 22:54 GMT+09:00 Guilhem <notifications@github.com>:

[2017-07-11 14:54] gui2dev commented on #283
When running the nodelet as in #279, it freezes after printing the same GLib Warning / errors.

I tried to run the nodelet with one thread, setting num_worker_threads param to 1 in my launch file and it raised the same issue.

Should I try #279 workaround and recompile image_pipeline with the fix ?

[2017-07-12 00:55] k-okada commented on #283
<https://github.com/ros-perception/image_pipeline/pull/279> workaround and
recompile image_pipeline with the fix ?

Please try it

2017年7月11日(火) 23:54 Guilhem <notifications@github.com>:

--
--
◉ Kei Okada

[2017-07-13 16:19] huangyuantao1992 opened #284 "/depth_image_proc/register publishing /depth_registered/image_rect and subscribe fails"
Hi,
  I write a launch file for depth_image_proc/register to register the depth image on rgb image's frame. And there are topics such as /depth_registered/camera_info /depth_registered/image_rect /depth_registered/image_rect/compressed /depth_registered/image_rect/compressed/parameter_descriptions /depth_registered/image_rect/compressed/parameter_updates and so on.

But here is the problem that wh

[2017-07-14 14:41] vrabaud commented on #284
This is not a bug, please ask your question on http://answers.ros.org/questions/

[2017-07-14 14:41] #284 closed, assigned to nobody

[2017-07-18 13:37] gui2dev commented on #283
I just did recompile opencv_apps and image_pipeline from source.
It raised the same issue.
Any clue on what I should investigate first ?

[2017-07-18 13:50] trigal opened #285 "tarfile_calibration does not visualize rectified images after calibration"
in tarfile_calibration.py there is a waitKey define with 6 ms as delay (as reported in [opencv documentation](http://docs.opencv.org/2.4/modules/highgui/doc/user_interface.html#waitkey) .
This doesn't make sense since waitkey() should wait for a pressed key, then releasing the while inside the display() define.

[code]

this should be the desired behavior:
[code]

[2017-07-19 12:35] doisyg opened #287 "import cv2 ImportError: libvpx.so.3: cannot open shared object file: No such file or directory"
Hello,
I have a dependency error on kinetic and ubuntu 16.04.
Any idea where it is coming from? I did not install opencv from source.
`
import cv2 ImportError: libvpx.so.3: cannot open shared object file: No such file or directory`

Edit: the error appears when running the camera calibration node

[2017-07-19 12:55] epiception commented on #287
Did you try running `sudo apt-get install libvpx3` in a new terminal window?

[2017-07-19 12:56] doisyg commented on #287
Yes:
[code]

And the installed files (no libvpx.so.3):

[code]

[2017-07-19 15:25] vrabaud commented on #287
You must have libvpx from somewhere else (maybe a ppa).
These are the official version:
https://packages.ubuntu.com/xenial/arm64/libvpx3/filelist
Your solution is to recompile OpenCV (you can include it in your catkin workspace).

[2017-07-19 15:57] doisyg commented on #287
Thanks a lot!
It was indeed fetching the package from a ppa that I completly forgot to remove from my source list

[2017-07-19 15:57] #287 closed, assigned to nobody

[2017-07-20 06:29] k-okada commented on #283
that's strange...  https://github.com/ros-perception/image_pipeline/pull/279/files works for me
Did you merge #279 patch before you recompile it?
[code]

[2017-08-05 17:39] danielsnider opened #288 "image_saver node doesn't work with usb_cam package due to unexpected distortion_model"
I'm trying to use `image_saver` to save images from my usb webcam stream from the `usb_cam` [package](wiki.ros.org/usb_cam) but I get an error and it doesn't save any images.

Here's what I run:
[code]
But I get this error:
[code]

Can't image_saver just save images and not worry about the distortion model if it's not set?

Thanks!

[2017-08-06 06:29] k-okada commented on #288
I think best way is to fix source code, but as a workaroud, publish dummy camera info at usb_cam side
[code]
or escape being subscribe camera_info image_saver side
[code]

[2017-08-09 19:48] Chambana opened #289 "Allow for image saving after pausing bag file"
When my bag file is playing, I can easily click the "Save" icon and write the current frame from my streaming camera feed to disk.  However, when I pause my bag file playback to grab a specific image, the "Save" icon no longer functions and I can't save the paused image being displayed in the window.  Unless I'm doing something wrong, this is a feature request.  Thanks.

How I'm executing the node

[2017-08-22 09:14] jomocl opened #290 "Disparity Map shown, but no pointcloud msg is published using stereo_image_proc"
I am getting a disparity Image and rectified images from the stereo_image_proc it is launched using:

<node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen" ns="claas_camera_node" >
</node>
<node name="stereo_cam" pkg="image_view" type="stereo_view" output="screen" >
<remap from="stereo" to="/claas_camera_node"/>
<remap from="image" to="image_rect_color" />

[2017-08-25 14:49] Instassa commented on #193
I have exactly the same problem/error - it's a different package, but everything else is the same:
     moveit_visual_toolsConfig.cmake
     moveit_visual_tools-config.cmake
Has this ever been fixed?

[2017-08-29 17:03] alexzzhu opened #291 "C++ 11 is necessary to compile with latest image_geometry package"
The image_geometry package now compiles with C++ 11 by default: (https://github.com/ros-perception/vision_opencv/blob/8b5bbcbc1ce65734dc600695487909e0c67c1033/image_geometry/CMakeLists.txt#L15) , and uses std::shared_ptr: (https://github.com/ros-perception/vision_opencv/blob/8b5bbcbc1ce65734dc600695487909e0c67c1033/image_geometry/include/image_geometry/pinhole_camera_model.h#L273).

At present, im

[2017-09-03 20:14] Chambana commented on #291
I believe I'm having the same issue. The build fails with:

[ 52%] Building CXX object image_pipeline/image_proc/CMakeFiles/image_proc.dir/src/nodelets/rectify.cpp.o
In file included from /home/drew/catkin_ws/src/image_pipeline/image_proc/include/image_proc/processor.h:38:0,
                 from /home/drew/catkin_ws/src/image_pipeline/image_proc/src/libimage_proc/processor.cpp:34:
/home/drew/catk

[2017-09-04 16:36] alexzzhu commented on #291
This is resolved by specifying c++ 11 in the CMakeLists:
SET(CMAKE_CXX_FLAGS -std=c++11)

If having c++ 11 is an acceptable assumption moving forwards, I can make a PR to put this into the main branch.

[2017-09-04 19:37] Chambana commented on #291
Yes, please do

[2017-09-08 19:02] alexzzhu commented on #291
PR developed: https://github.com/ros-perception/image_pipeline/pull/292

[2017-09-13 23:43] plusk01 commented on #154
I am seeing the same thing. Any status updates on this?

[2017-09-18 20:20] vrabaud commented on #291
Sorry for the delay, 98670bdfc9fbd22a3ee7f4e75c3ac66965fcbb5d fixes it properly.

[2017-09-18 20:20] #291 closed, assigned to nobody

[2017-09-21 06:47] simubhangu opened #294 "No effect after camera calibration"
Hi,
 I had tried to calibrate the camera many times. I take 50 -150 sample each time any try to calibrate. It successfully creates all metrics(in terminal). But after commit the result it doesn't affect the view/frames. camera view, looks same as before the camera calibration. My camera resolution is 1280 X 720 at 60 fps. I followed the process given on [(http://wiki.ros.org/camera_calibration/Tut

[2017-09-21 09:06] MalcolmMielle opened #295 "Compile error against last openCV version"
I'm compile ros kinetic from source against the latest opencv3 version.

I get this compile error

[code]

The solution was to change in `image_proc/src/nodelets/crop_decimate.cpp` line 121 to

`dst.create(src.rows / 2, src.cols / 2, cv::traits::Type<DstPixel>::value);`

[2017-09-21 09:28] MalcolmMielle opened #296 "non authorised data type"
Hej,

Against the latest version of opencv3, `processor.h` uses non authorised data type for the Mat, line180

[code]

I have this error on compile
[code]

See [here](https://github.com/opencv/opencv/issues/9677). I'm not exactly sure which type I should replace them by

[2017-09-21 09:44] MalcolmMielle commented on #296
I replaced the three offending lines by
[code]

If it is indeed the good type fix, let me know and I'll push the changes in a merge request

[2017-09-21 10:55] trigal commented on #294
does the published image message contain the calibration? i think is more like an issue for ros-answers than a bug here

[2017-09-22 09:20] #294 closed, assigned to nobody

[2017-09-23 18:09] rnunziata opened #297 "need example for calling image_proc resize"
need example for calling image_proc resize
header .h file seems to be missing?

[2017-09-23 18:25] rnunziata commented on #297
found head file in installed system.

[2017-09-23 18:25] #297 closed, assigned to nobody

[2017-10-17 21:52] davelkan-zz opened #300 "Node classes cannot be imported"
Several classes are implement in the nodes directory of camera calibration. This adds no value that i'm aware of over placing them in the src directory while making it very difficult to import these classes in a standard ros set up. A current project i am working on benefits from importing some of these classes, so I have pulled moved the classes to an importable location. Please check out the pr

[2017-11-05 17:40] vrabaud commented on #295
Fixed in https://github.com/ros-perception/image_pipeline/pull/302

[2017-11-05 17:40] #295 closed, assigned to nobody

[2017-11-05 17:40] vrabaud commented on #300
Fixed in commits mentioned in https://github.com/ros-perception/image_pipeline/pull/298

[2017-11-05 17:40] #300 closed, assigned to nobody

[2017-11-09 08:51] miquelmassot opened #305 "ROS Buildfarm complains about std::shared_ptr"
In a package we have released, [srv_tools](https://github.com/srv/srv_tools), buildfarm complains in:
[code]

[2017-11-09 16:19] mikaelarguedas commented on #305
Thnks  @miquelmassot for reporting this.

However tt looks like the problem is in the `image_geometry` package that is located on [another repository](https://github.com/ros-perception/vision_opencv).

See https://github.com/ros-perception/vision_opencv/pull/188 for the corresponding fix.

[2017-11-11 16:42] vrabaud commented on #305
Fixed in https://github.com/ros-perception/vision_opencv/pull/188

[2017-11-11 16:42] #305 closed, assigned to nobody

[2017-11-12 20:08] doisyg opened #306 "No image transport implementation on image_proc resize nodelet"
Just noticed this while using image_proc resize. Any specific reason?

[2017-11-14 16:41] ashnarayan13 commented on #275
This seems to be occuring at random. I could get it to commit the config and it fails to do it sometimes.
I worked around it by saving the calibration and then reading the calibration data when I start my ros node.

[2017-11-14 16:41] #275 closed, assigned to nobody

[2017-11-14 17:38] doisyg commented on #306
Created a PR to solve this issue:
https://github.com/ros-perception/image_pipeline/pull/307

[2017-11-19 20:04] FallenBuckeye opened #308 "Problem compiling with latest traits.hpp"
With latest Opencv2, Opencv_contrib, Ceres with eigen3, etc, using the sfm scene reconstruction example cooied into eclipse, I receive the following compile error:
/home/bongo/opencv/modules/core/include/opencv2/core/traits.hpp: In instantiation of ‘struct cv::traits::Type<std::__cxx11::basic_string<char> >’:
/home/bongo/opencv/modules/core/include/opencv2/core/mat.inl.hpp:85:32:   required from ‘

[2017-11-20 12:36] vrabaud commented on #308
Where is the code you are trying to compile ?

[2017-11-24 15:34] FallenBuckeye commented on #308
Thanks for your response. My source code was the example code the
opencv_contrib sfm scene recon example. The error seemed to indicate that
the sfm was using a deprecated member of traits, so I suppose I should have
posted my problem to contrib. I checked the last check-in on sfm and it
seemed to match opencv 3.2.0 release, so I did a git on that version and
the problem went away. Should I post th

[2017-11-30 09:35] miquelmassot opened #310 "OpenCV3 Regression error"
See https://github.com/opencv/opencv/issues/7599

In https://github.com/ros-perception/image_pipeline/blob/2589ed28251268a9657f4cc037373b063cca9958/stereo_image_proc/include/stereo_image_proc/processor.h#L180 and https://github.com/ros-perception/image_pipeline/blob/2589ed28251268a9657f4cc037373b063cca9958/stereo_image_proc/include/stereo_image_proc/processor.h#L181 two cv::Mat_<uint32_t> matrices

[2017-12-11 02:15] shmm91 opened #312 "stereo camera disparity map looks well,but point cloud looks strange in rviz."
Hello, everyone!
I have done the stereo camera disparity, and i want to get the point cloud.
Then, I use the code in image_pipeline package(stereo_image_proc -> src -> nodelets -> point_cloud2.cpp), and rewrite it.
But I get this result, the pointcloud2 looks strange, could someone help me?! Thank you!
![1](https://user-images.githubusercontent.com/13912909/33813010-3dcfdab2-de5c-11e7-8027-adf6832

[2017-12-12 22:45] paulsammut commented on #312
Hi! Could you give more info on your setup? What camera do you have? Have you calibrated it? Seee here if not: http://wiki.ros.org/camera_calibration.

Also, the disparity image actually doesn't look too bad. It also looks like your test area isn't very well lit, and the image doesn't look that good. You are using indoor florescent lighting which flickers and can have bad effects on the stereo ima

[2017-12-12 22:48] paulsammut commented on #290
Load up rqt_graph and make sure that stereo_image_proc node looks good with all necassary messages going to it.

Then, run make sure that the point cloud topic is being published. Run this command:

rosparam echo /name/of/point/cloud/topic

A possible issue is that the frame associate with your laser scans isn't properly setup with tf. Good luck!

[2017-12-13 01:33] shmm91 commented on #312
Thank you! I have made stereo camera(matrix vision bluefox2 camera) calibration using ros package. This is one of the camera calibration file.

image_width: 752
image_height: 480
camera_name: mv_26806343
camera_matrix:
  rows: 3
  cols: 3
  data: [483.0500651879798, 0, 383.7668152619602, 0, 485.226588991044, 228.5179979149652, 0, 0, 1]
distortion_model: plumb_bob
distortion_coefficients:
  rows: 1

[2018-01-10 03:23] knorth55 opened #316 "Release of 1.12.22 in indigo"
`1.12.22` seems to be released only in kinetic.
I want to use `deb` of `1.12.22` in indigo...
If I'm wrong or it is on progress, please let me know.

[2018-01-20 23:00] lucasmaurice opened #317 "Write a readme."

[2018-02-13 10:58] llvs commented on #308
To me, the following workaround worked in Windows/Visual Studio:
`#define OPENCV_TRAITS_ENABLE_DEPRECATED`
Using current OpenCV git version 3.4.0+

[2018-02-28 09:05] oaix commented on #128
‘Waiting for service‘: add the setting "--no-service-check", that is:
rosrun camera_calibration cameracalibrator.py --size 8x6 --square 0.025 right:=/raw_stereo/right/image_raw left:=/raw_stereo/left/image_raw right_camera:=/raw_stereo/right left_camera:=/raw_stereo/left --no-service-check

[2018-02-28 22:19] 2ros0 commented on #155
I have the same problem. Does anyone have a solution?

[2018-03-06 13:51] tspicer01 commented on #310
Is there an ETA on when we could expect the fix ?
We would really like to move to the new version of opencv3.

[2018-03-19 17:55] GonzMG opened #321 "Error with OpenCV"
When I compile, I have this error:

/opt/ros/kinetic/include/opencv-3.3.1/opencv2/core/mat.hpp:2150:50: error: no type named ‘channel_type’ in ‘class cv::DataType<unsigned int>’
     typedef typename DataType<_Tp>::channel_type channel_type;

How can I fix it?

[2018-03-31 10:09] jediofgever opened #323 "[ WARN] [1522489818.929206010]: [image_transport] Topics '/zed/right/image_mono' and '/zed/right/camera_info' do not appear to be synchronized."
Hi,
I am trying to get point clouds from zed camera but I got this warning on terminal and no point clouds present on rviz. I did some googling and found that that is caused by non sycned topics. I tried to place
`
    <param name="approximate_sync" value="true"/>
    <param name="queue_size" value="10"/>
`
to sync the topics but the error still remains when I run `roslaunch stereo_image_proc some

[2018-04-05 09:57] nalt opened #324 "Camera calibration introduces large change of aspect ratio"
Camera calibration ignores the aspect ratio when it creates the projection matrix. This mainly affects cameras with a wide angle lens and a strong distortion. For some cameras, I got a difference of 30% in focal length for x/y in the projection_matrix. This translates to a rectified image with an incorrect aspect ratio. Since most computer vision algorithms (SIFT, KLT, etc.) cannot cope with such

[2018-04-05 10:05] nalt commented on #281
I noticed similar problems with Logitech cameras. Did you fix it?

[2018-04-05 10:05] nalt opened #325 "Camera calibration should ignore frames with large motion (mainly for rolling shutter)"
Camera calibration takes images out of the video stream while the camera is moving. This means that slightly blurred images are used for calibration, which reduces the location accuracy of the corners points. Even worse, for rolling shutter cameras, the locations of corner points get shifted. This shift easily amounts to several pixels between the upper and the lower part of the pattern.

I notice

[2018-04-07 03:44] syn1993 commented on #312
Hi, have you solved the problem? I got the same problem.

[2018-04-08 13:25] k-okada commented on #312
can someone provide bag file reproducing this error?

[2018-04-24 14:43] chaonan99 commented on #221
I have the same problem. I have to restrain my impulse on clicking "X" and only use ctrl+c to quit. Otherwise (if click "X" first) nothing but killing the window would work.

[2018-04-30 10:50] MPForte opened #327 "rectification performed"
Does anyone know which kind of algorithm is used for the rectification of the images in `image_proc`?

[2018-05-02 19:11] clalancette opened #328 "Release into Melodic"
All of the dependencies for this package are now available in Melodic, so it would be great to get this package released there.  Thanks in advance!

[2018-05-02 22:57] lucasw commented on #327
https://github.com/ros-perception/image_pipeline/blob/indigo/image_proc/src/nodelets/rectify.cpp#L154

->

https://github.com/ros-perception/vision_opencv/blob/kinetic/image_geometry/src/pinhole_camera_model.cpp#L293

->

https://docs.opencv.org/3.3.1/da/d54/group__imgproc__transform.html#gab75ef31ce5cdfb5c44b6da5f3b908ea4

->

https://github.com/opencv/opencv/blob/4d7d630e925bad6a7b1584c7d792b938

[2018-05-03 16:22] MPForte commented on #327
Thank you!!
Do you know if there's a built-in function to project the 3D points in rectified images back to the unrectified images?

[2018-05-03 20:04] lucasw commented on #327
Take a look at cv::projectPoints()

https://docs.opencv.org/3.3.1/d9/d0c/group__calib3d.html#ga1019495a2c8d1743ed5cc23fa0daff8c

Also I see PinholeCameraModel::unrectifyPoint :

https://github.com/ros-perception/vision_opencv/blob/0b36ea7a6f40fc05d54e3e6871933129687d5cc4/image_geometry/src/pinhole_camera_model.cpp#L349

[2018-05-04 08:35] MPForte commented on #327
Thank you!!

[2018-05-04 08:35] #327 closed, assigned to nobody

[2018-05-07 14:54] tik0 opened #330 "filename_format parameter cannot by given convention"
I use the image_saver node to store images.
Unfortunately, the syntax described in the [wiki](http://wiki.ros.org/image_view#image_view.2BAC8-diamondback.image_saver) does not work, due to parameter server issues.
When I execute `rosrun image_view image_saver filename_format:=cam_%04d.png`, the parameter server says:

[code]

[2018-05-08 02:41] yoshito-okada opened #331 "[image_view] window hangs because callback can be dispatched from multiple threads"
I found that the image_view nodelet (image_view/image) does not update its window and hangs in some cases.  I think this is because the nodelet manager can execute a callback in multiple threads even if the callback is associated to a threaded callback queue (see https://github.com/ros/nodelet_core/blob/2f25b775fd0241fc949a5fc002e718dbd142d5d7/nodelet/src/callback_queue_manager.cpp#L206), although

[2018-05-08 08:39] k-okada commented on #330
hi, that's parameter, so you should type
[code]

[2018-05-08 09:14] wkentaro opened #332 "Request of releasing 1.12.22 to indigo and lunar"
It seems that 1.12.22 is released only to kinetic:
https://github.com/ros/rosdistro/pull/16561

I need https://github.com/ros-perception/image_pipeline/pull/299 which fixes fatal API breaking for our system.

[2018-05-08 09:14] wkentaro commented on #332
@vrabaud @tfoote Could you work on this?

[2018-05-08 09:31] tik0 commented on #330
You're right, thanks for the reply!

[2018-05-08 09:31] #330 closed, assigned to nobody

[2018-05-08 10:18] stwirth opened #333 "Symbol lookup error in image_publisher"
ROS kinetic
Ubuntu 16.04
[code]

When running the `image_publisher` I just get a symbol lookup error:
[code]
It looks like `image_publisher` is missing a link to a library. Maybe OpenCV's `videoio`?

[2018-05-08 14:04] clalancette commented on #328
Ping, can we get this released into Melodic?  Thanks.

[2018-05-10 02:05] yoshito-okada commented on #331
Sorry, I put a wrong launch script in my original post.  The following one would reproduce the problem.

[code]

[2018-05-15 14:13] andiconda opened #335 "How to make the name of image with the timestamp?"
I  transfer the .bag into the image. but I want to make the image with time information. so  I want to put the timestamp into the image's name.
I try
 `rosrun image_view extract_images _sec_per_frame:=0.01 filename_format:="chuang.jpg" image:=/optris/thermal_image_view`
but the name still is "frame1.jpg  frame2.jpg......"
for filename_format:="chuang.jpg", what should I do?

[2018-05-16 04:32] wkentaro commented on #335
Please see https://github.com/ros-perception/image_pipeline/pull/203, it added the feature which you need.

[2018-05-16 04:34] wkentaro commented on #332
Resolved via
- https://github.com/ros/rosdistro/pull/17798
- https://github.com/ros/rosdistro/pull/17799
- https://github.com/ros/rosdistro/pull/17800
- https://github.com/ros/rosdistro/pull/17801

[2018-05-16 04:34] #332 closed, assigned to nobody

[2018-05-16 04:36] wkentaro commented on #127
I'm closing this since I don't need this feature anymore. (actually, I forgot why I needed this..)
Thanks for the comment!

[2018-05-16 04:36] #127 closed, assigned to nobody

[2018-05-17 06:41] k-okada commented on #333
@stwirth
recent update on kinetic deb packages should fix this problem. Please check again.
https://discourse.ros.org/t/new-packages-for-kinetic-2018-05-16/4796

[code]

[2018-05-17 10:28] k-okada commented on #331
I think this similar to https://github.com/ros-perception/image_pipeline/issues/283 and my previous fix https://github.com/ros-perception/image_pipeline/pull/279 was not sufficient. I have confirmed this issue and also https://github.com/yoshito-okada/image_pipeline/tree/fix_image_view_nodelet works perfect

@yoshito-okada could you create new PullRequest  using  https://github.com/yoshito-okada/i

[2018-05-17 10:37] k-okada commented on #328
@vrabaud had released last week.
https://github.com/ros/rosdistro/pull/17801

[2018-05-17 10:38] clalancette commented on #328
Thank you!

[2018-05-17 10:38] #328 closed, assigned to nobody

[2018-05-17 10:54] yoshito-okada commented on #331
I just made the PR #337 .

[2018-05-18 01:25] k-okada commented on #323
hi, I think you have to set `approximate_sync` param within `disparity` or  `point_cloud2` namespace, please look at https://github.com/ros-perception/image_pipeline/pull/338 and use them like
[code]

[2018-05-18 07:01] SabyasachiDash commented on #193
use -- $ sudo apt-get install ros-kinetic-tf2-geometry-msgs

[2018-05-18 20:53] stwirth commented on #333
Confirmed that it works after upgrading. Thanks!

[2018-05-18 20:53] #333 closed, assigned to nobody

[2018-05-19 09:00] k-okada commented on #316
I think you can close now https://github.com/ros/rosdistro/pull/17798

[2018-05-19 10:02] k-okada commented on #285
I have rewrite #286  and post new PR #340, but not sure how this related to the "does not visualize rectified images after calibration" can you provide sample tar file and instructions to how to reproduce this problem?

[2018-05-19 10:05] k-okada commented on #283
see more discussion in #331 and proposed fix at #337

[2018-05-19 10:08] k-okada commented on #282
I think this is pixel, and acceptance rate is depending on applications, but < 1.0 might be good.

[2018-05-19 10:11] k-okada commented on #280
i think https://github.com/code-iai/iai_kinect2/tree/master/kinect2_bridge is the best place for this question.

[2018-05-19 10:23] k-okada commented on #278
@NikolasE you're right , I have added patch for this, https://github.com/ros-perception/image_pipeline/pull/341, if you have calibration file using rational_polynomial, please check that.

[2018-05-19 10:26] k-okada commented on #272
I think this is the problem of extrinsic parameters provided from realsense driver, and (maybe) fixed by https://github.com/intel-ros/realsense/issues/233#issuecomment-361920190

[2018-05-19 10:28] k-okada commented on #268
@antgarmun I have updated launch files and it will help you to use approximate sync features more easily
https://github.com/ros-perception/image_pipeline/pull/338
You may also better to see similar issue thread https://github.com/ros-perception/image_pipeline/issues/323

[2018-05-20 13:16] #316 closed, assigned to nobody

[2018-06-05 00:43] andresR8 commented on #333
I'm having the same issue.

ROS lunar
Ubuntu 17.10

[code]

[2018-06-19 12:57] MPForte opened #342 "camera calibration does not compute the vertical shift"
I would like to know how it is possible to have also the vertical shift between my images. The camera calibration is only giving me the horizontal one but my cameras are offset also in the y-axis, so my Ty in the right camera calibration file should not be 0.
Thanks!

[2018-06-25 17:10] roehling commented on #201
This bug seems to have resurfaced with Ubuntu 18.04 / ROS Melodic, since they use the system OpenCV library.

[2018-06-26 11:17] roehling commented on #201
Inspired by [this Stackoverflow entry](https://stackoverflow.com/questions/33858902/attempt-to-unlock-mutex-that-was-not-locked-aborted-when-using-waitkey), I managed to fix the crash by removing the call to `cv::startWindowThread()`.

A good workaround for the buggy GTK thread implementation is a `ros::Timer` that calls `cv::waitKey()` periodically.

I can prepare a PR if you want.

[2018-06-27 01:19] kunaltyagi commented on #201
PR would be appreciated. If only so others can compile and get it working again. Can you provide a minimal example of the bug without ROS also? I can try to follow up with OpenCV community.

[2018-06-27 07:10] roehling commented on #201
The minimal example would be

[code]
Store as `opencv_bug.cpp`, compile with `g++ opencv_bug.cpp -lopencv_highgui`, and run the resulting `a.out` binary.

[2018-06-27 08:50] kunaltyagi commented on #201
Thanks @roehling . Tested your PR, works like a charm.

[2018-07-13 15:58] dcazzato opened #344 "Monocular camera calibration at different resolution/ratio"
Hello,

I am trying to use the camera_calibrator node with the cameracalibrator.py script. I would like to calibrate cameras working at different resolution or ratio. I am wondering if modifying the following line:

`display = cv.CreateMat(max(480, height), width + 100, cv.CV_8UC3)`

is enough to achieve such results, and why there is no command line option to set the window and image resolution.

[2018-07-19 11:06] MadalasaP opened #345 "Organized point cloud data"
hi,
i would like to create a organised point cloud data. Is there any other way to generate the organised one using this library.
Thanks & Regards,
P.

[2018-07-28 02:38] sammyjan opened #348 "How to use pointcloud for octomap_mapping?"
Hi,I want to use the pointcloud data and the octomap_mapping package to build real-time octomap. So I change the frame_id and pointclud topic in the launch document ,but I can't see any octomap in the rviz. How can I solve it?Thanks!
(My English isn't well,sorry)

[2018-08-01 07:28] huangzonghao opened #350 "depth_image_proc nodelets won't subscribe any topics?"
For some reason the nodelets in depth_image_proc won't subscribe any topics? (aka not taking any inputs) If `rosnode info` the corresponding node, the subscription list in `None`.

The behavior consists no matter whether I launch the nodelet in a launch file or simply calling rosrun.

What am I missing here?

[2018-08-08 06:10] astronaut971 opened #351 "Stereo Calibration from images file"
Hi
I have a set of images of a checkerboard pattern from a camera whose calibration info I would like to find out. I have a ROS driver for my Point Grey Chameleon3 Cameras and can publish rostopic list like

[code]
Unfortunately I can not find instructions on how to feed images to the ROS Camera calibration tool instead of the camera itself. Is there any way to do this using the ROS package? So fa

[2018-08-08 20:57] SJamieson opened #353 "depth_image_proc has a broken conditional when checking supported encodings"
I receive an error `Depth image has unsupported encoding [mono16]` when trying to convert mono16 images to point clouds. I believe the issue is an incorrect conditional, described below.

A [conditional statement in point_cloud_xyzi.cpp](https://github.com/ros-perception/image_pipeline/blob/8d01c930e66bdeb58c4b138539a64ddea0b17e10/depth_image_proc/src/nodelets/point_cloud_xyzi.cpp#L202) checks tha

[2018-08-14 13:41] DavidTorresOcana commented on #154
I am getting the same. Any update?

[2018-08-14 19:13] DavidTorresOcana commented on #146
Hello
Perhaps too late, but I added this functionality in this fork: [image_pipeline](https://github.com/DavidTorresOcana/image_pipeline)

You can calibrate (with a tool) and rectify fisheye cameras.

The results for high FOV (+180deg) are better that those achieved with the current implementation

[2018-08-16 12:30] HyuanTan opened #354 "rosrun image_view disparity_view image:=/left/disparity can't show the disparity image correctly"
@vrabaud  Hi, thanks for share!
I use depth_image_proc/disparity to get the  disparity image which topic name is /left/disparity and use
[code]
to visualize the disparity image. The out put of
[code]
seems normal (the data value is 0~255), but the visualization window can see not nothing:
![1](https://user-images.githubusercontent.com/14145396/44208468-ff943400-a192-11e8-8054-f4d6f49ffc8e.jpg)

Co

[2018-08-17 04:10] HyuanTan commented on #354
Thanks again for sharing the project!
After reading the code in [disparity_nodelet.cpp](https://github.com/ros-perception/image_pipeline/blob/indigo/image_view/src/nodelets/disparity_nodelet.cpp), I found that the disparity image(DisparityImage.msg) out put from depth_image_proc/disparity was ok, which including sensor_msgs/Image image, baseline T,  focal length f, min_range, max_range and delta_d

[2018-08-17 06:25] #354 closed, assigned to nobody

[2018-08-22 04:16] WwYyFan commented on #275
@ashnarayan13 hi,
I also encountered this problem. How did you solve it?

efun@efun:~/catkin_ws$ rosrun camera_calibration cameracalibrator.py --size 8x6 --square 0.108 right:=/mynteye/right/image_raw left:=/mynteye/left/image_raw right_camera:=/mynteye/right left_camera:=/mynteye/left
('Waiting for service', '/mynteye/left/set_camera_info', '...')
^CService not found
('Waiting for service', '/myn

[2018-08-29 01:23] zsustc commented on #243
First, make sure you have successfully built and installed vtk on your system;

Then,by using command "locate STLReader" or "locate vtkOBJReader" to ensure "vtkOBJReader" or "STLReader" libs are found in some specific directories. If vtkOBJReader or STLReader related files are found. It means that vtk has changed its structure in the new version, e.g. move vtkOBJReader into a sub library vtkIOGeom

[2018-09-14 09:50] Merwanski commented on #216
Thank you

[2018-09-17 08:24] sevangelatos commented on #281
It seems that SR300 uses a rolling [shutter RGB camera](https://software.intel.com/en-us/forums/realsense/topic/611014). Could it be related to #325 ?

[2018-09-22 21:46] lucasw opened #357 "image_publisher dynamic reconfigure server needs to use private namespace"
Not doing so means the parameters are retrieved from the nodelet manager namespace and collisions between dynamic reconfigure servers arise if two image_publishers are loaded into same manager.

[2018-09-22 22:32] lucasw opened #359 "Put image_publisher filename, flip_horizontal, flip_vertical into .cfg"

[2018-09-30 01:57] yechun1 opened #360 "Port Image_pipeline on ROS2"
Image_pioeline porting status: (updated on 7/8/2019)

- [x] [depth_image_proc] - **Merged (PR: #362)**
- [x] [image_publisher] - **Merged(PR: #366 )**
- [x] [image_rotate] -  **Merged(PR:https://github.com/ros-perception/image_pipeline/pull/385)**
- [x] [image_proc] - **Merged(PR: ~#369~  https://github.com/ros-perception/image_pipeline/pull/426)**
- [x] [image_view] - **Merged(PR: ~#475~ #360)**

[2018-10-04 15:54] AIWintermuteAI commented on #71
Hello. Sorry to bump a very old issue, but I'm currently working on the same problem, I already have stereo camera working and stereo_image_proc provides a disparity image. But for my project I need a depth image.
From what I understand it can be calculated using following formula
depth = baseline * focallength / disparity

[2018-10-16 07:19] yechun1 commented on #360
Could image_pipeline's owner/maintainer please help to create ros2 branch for [ros-perception/image_pipeline](https://github.com/ros-perception/image_pipeline)?

[2018-10-23 00:37] yechun1 commented on #360
@mjcarroll thanks for help to create ros2 branch, first PR to enable ros2 depth_image_proc is ready on #362.

[2018-10-24 11:11] DaikiMaekawa commented on #146
@DavidTorresOcana Thanks for sharing. I think fisheye is one of the things that has to be supported by image_pipeline. So, it would be nice to include your changes into the upstream repo. What's stands in the way of creating a PR?

[2018-10-30 18:00] jveitchmichaelis commented on #351
You should be able to do this with `tarfile_calibration.py`. It's not really documented anywhere, but it should do the job.

https://github.com/ros-perception/image_pipeline/blob/indigo/camera_calibration/scripts/tarfile_calibration.py

Put your images in a tar archive, call them "left_x.png" and "right_x.png". See https://answers.ros.org/question/11537/creating-a-bag-file-out-of-a-image-sequence/

[2018-11-06 03:44] jveitchmichaelis opened #364 "Unable to display disparity map if images have differing principle points"
If your stereo calibration/rectification doesn't fix the principle points of the images to have the same `cx`, it's often not possible to view the disparity map.

Stereo image proc [shifts](https://github.com/ros-perception/image_pipeline/blob/8d01c930e66bdeb58c4b138539a64ddea0b17e10/stereo_image_proc/src/libstereo_image_proc/processor.cpp#L112) the disparity maps by the difference in cx between t

[2018-11-07 22:09] AmeyHande commented on #201
Hello Timo Roehling (@roehling)  ,
Can you tell me a detailed procedure or some reference documentation of how can I implement the solution which you have suggested ?
I'm totally new to this kind of error handling.
I'm trying to run the command `rosrun image_view image_view image:=/detection_image` and it's giving me this error `(detection_image:9729): GLib-GObject-CRITICAL **: 16:40:26.480: g_obj

[2018-11-15 23:46] meyerj commented on #152
I rebuilt `ros-kinetic-opencv3` from https://github.com/ros-gbp/opencv3-release/tree/release/kinetic/opencv3 and disabled QT using the `-DUSE_QT=OFF` flag. This fixes the issue. The official Ubuntu package for opencv3 also does not build with Qt and uses GTK3 instead:
https://salsa.debian.org/science-team/opencv/tree/master/

[2018-11-22 01:40] kunaltyagi commented on #201
Hi @AmeyHande

1. You'd need to clone this repository (using git) in your catkin workspace ([link to tutorial](https://wiki.ros.org/ROS/Tutorials/InstallingandConfiguringROSEnvironment#Create_a_ROS_Workspace))
[code]
2. In the terminal (or any git GUI client that supports the following) fetch the PR to a local branch and change to it. For the terminal:
[code]
3. Compile the workspace as you usuall

[2018-11-23 07:40] SandaruCooray commented on #201
hi @kunaltyagi
I am new to ROS and Gazebo  i am following some tutorial in [tutorial](http://moorerobots.com/blog/post/2l) in here i am stuck on your problem which is you already solved, could you tell how to implement the solution for this issue
Thank you.

[2018-11-23 13:59] roehling commented on #201
The tutorial seems to clone a full workspace. This means you should probably do something like this:

    cd mybot_ws
    git -C src clone https://github.com/ros-perception/image_pipeline.git
    git -C src/image_pipeline fetch origin pull/343/head:bugfix
    git -C src/image_pipeline checkout bugfix
    catkin_make

[2018-11-27 16:20] SandaruCooray commented on #201
Thanks @roehling  Its working thank you so much :100:

[2018-11-27 18:17] Maik93 opened #367 "point_cloud_xyzrgb: overlapping point clouds"
Hi,
I'm working with an Intel Realsense R200. I've created a custom lunch file, starting from `r200_nodelet_default.launch` and integrating depth_image_proc nodelets, resulting in this:
[code]
Applying the same depth_image_proc part to a simulated Realsense camera in Gazebo produces, as expected, a Point Cloud of only what is currently seen by the camera. Instead, with the real camera the Point Cl

[2018-12-05 14:22] vidyasudevan commented on #201
Hi @kunaltyagi,
Thanks for the solution. It works for me. But when I run image_view again after restarting the system, the same error appears.
![selection_001](https://user-images.githubusercontent.com/23429443/49519171-d02c4300-f8b9-11e8-9016-862474b9ae7b.png)

[2018-12-07 10:28] yechun1 opened #370 "ros2 bloom release"
@mjcarroll  As image_common be released in [crystal rosdistro](https://github.com/ros2/rosdistro/pull/376)  ,  there should be no dependence block for ros2 image_pipeline/image_depth_proc release. I would also like to add image_depth_proc from image_pipeline in this Crystal release, but I cannot to run bloom-release for this package, sync I have no permission to create a tag on image_pipeline proj

[2018-12-07 14:04] mjcarroll commented on #370
I'll go ahead and create the tag, and then you can cut a release.  Is it only for `image_depth_proc` or are the other packages in `image_pipeline` that need to get released?

[2018-12-07 14:14] yechun1 commented on #370
image_publisher, image_view and image_proc portings are completed, would you please help to review the PR of [image_view](https://github.com/ros-perception/image_pipeline/pull/365)and [image_proc](https://github.com/ros-perception/image_pipeline/pull/369), and we could have quick issue fixing.
for image_publisher, I'll try to fix TODO in it very soon.

[2018-12-07 14:36] yechun1 commented on #370
or could I use below code temporary, would you give me a suggests. thanks.

~~_rclcpp::Node::SharedPtr node = std::shared_ptr<rclcpp::Node>(this);~~
~~camera_info_manager::CameraInfoManager(node);_~~

this will leader invalid pointer.

[2018-12-07 16:03] yechun1 opened #371 "ros2 travis ci build fail"
PR for ROS2 will make CI build fail, It seems like the .travis.yaml does not support ROS2 crystal.

for one build log:
https://travis-ci.org/ros-perception/image_pipeline/builds/463164488?utm_source=github_status&utm_medium=notification

[code]

[2018-12-09 04:27] yechun1 commented on #370
@mjcarroll what's the deadline for crystal, currently image_depth_proc and image_pubisher are ready for release. and we may need two more days at least to fix/review/merge image_view and image_proc next workday. If there is no time for image_view and image_proc, please help to create a tag, and I could first release depth_image_proc and image_publisher. And interate other packages for next build.

[2018-12-09 17:20] mjcarroll commented on #370
I went ahead a did a release of image_depth_proc and image_publisher, since they are good to go, there is no reason we can't do another release before Wednesday or so.

[2018-12-10 01:14] kunaltyagi commented on #201
@vidyasudevan If the fix works manually but not on reboot, the most common reason is if your `~/pilab_ws/devel/setup.bash` (or related setup shell file) has not been loaded.

1. Please ensure that your `rc file` (eg: `~/.bashrc`) contains the `source ~/pilab_ws/deve/setup.bash` or `. ~/pilab_ws/deve/setup.bash`
2. It is not overshadowed by another `source` of some other workspace or the root ROS s

[2018-12-16 06:45] vidyasudevan commented on #201
Thanks for the reply

On Mon, Dec 10, 2018 at 5:15 AM Kunal Tyagi <notifications@github.com>
wrote:

--
Regards,

Vidya
Research Assistant
Department of Mechanical Engineering
The Petroleum Institute
Abu Dhabi, UAE

[2018-12-17 22:50] Saikat2019 commented on #110
this is very good tutorial...helped me a lot in my project youtube link - [https://www.youtube.com/watch?v=WvGcxJ1L3NM](url) ...you may refer to this tutorial...hope it will help

[2018-12-18 06:08] yechun1 commented on #370
image_pipeline has been released on ros2distro, closed this issue.

[2018-12-18 06:08] #370 closed, assigned to nobody

[2019-01-04 21:43] jack-digilabs commented on #325
I had a horrible problem with my "calibrated camera" being so off, that in RVIZ, it appeared to be pitching down 15 degrees in RVIZ. This caused issues like poor aruco marker detections who's axis sputtered and flipped around as well as detections that should have been straight ahead of the robot appearing 1 meter underground.

My Solution: Cover calibration board with hand until the board is stea

[2019-01-09 08:22] zhudaoruyi opened #377 "RuntimeError: cv_bridge.cvtColorForDisplay() while trying to convert image from '8UC3' to 'bgr8' an exception was thrown ([8UC3] is not a color format. but [bgr8] is."
[code]

[2019-01-30 08:06] whuhit commented on #308
it works

[2019-02-05 06:29] YingjieLu opened #381 "Everything works fine, but the program does not start to calibrate"
It happens for both mono and stereo calibration on my laptop. The calibration file is running without any error message, and the image stream collected by camera pops up, but the image stream does not have lines connecting squares in checkerboard, and the calibration at different directions is also not shown. The command line looks like:

`rosrun camera_calibration cameracalibrator.py --size 8x8 -

[2019-02-12 07:11] klintan commented on #381
Make sure the size and square is correct as stated in the tutorial:

I put in the checkboard size 9x7 in this case by accident, and no lines will show up if its the incorrect size/no of squares.

[2019-02-12 17:47] YingjieLu commented on #381
Thank you very much, it works!

[2019-02-14 21:12] klintan commented on #371
It's still running tests for all branches using ROS Indigo right?

[2019-02-16 20:18] kshitijgoel007 opened #383 "image_publisher crashes with OpenCV 4"
[code]

OS : MacOS Mojave
ROS Melodic

[2019-02-17 15:50] jwhendy opened #384 "Remove signals from find_package()"
I believe [this issue](https://github.com/ros/ros_comm/pull/1580) also affects you. On arch linux using cmake 3.13 and boost 1.69, I have to [remove signals](https://github.com/ros-perception/image_pipeline/blob/indigo/image_view/CMakeLists.txt#L8) from `CMakeLists.txt` to build this successfully.

[2019-02-19 12:56] lennarthaller commented on #350
Just stumbled upon this, in case its still a problem for you or anyone else, [here](https://answers.ros.org/question/291590/depth_image_proc-subscriber/) is the answer.

[2019-03-02 18:41] ne-v0y opened #387 "Question: Working with underwater images"
Sorry to ask a question here, but I'm just curious if `image_proc` works with underwater images?

[2019-03-04 12:32] madsherlock opened #388 "radial point cloud nodes assume unrectified images"
The depth_image_proc/point_cloud_xyz_radial and depth_image_proc/point_cloud_xyz_radial nodes apply a projective transformation to depth images to produce point clouds.

This projective transformation is calculated from the **camera matrix** K from the camera_info topic. In my opinion, this transformation should be calculated from the **projection matrix** P from the camera_info topic, if availabl

[2019-03-06 08:53] vishalgpt579 opened #390 "image_view output dailog box issue"
I've recently started working in ROS & VREP . so for learning purpose , I'm also using a scene .
![screenshot from 2019-03-06 14-27-56](https://user-images.githubusercontent.com/30352891/53868469-1eb5be80-401c-11e9-9e3e-e30bfec3e92d.png)

This scene has vision sensor which act as input. My object was to use that feed and do processing . Firstly, to the see the feed i use...

`rosrun image_view ima

[2019-03-18 06:36] duchengyao commented on #377
just remove some code from `image_view/scripts/extract_images_sync`

https://github.com/ros-perception/image_pipeline/pull/378/commits/fe4f530129d17b3d8d95641fc38e466c6b1b369e

[2019-03-23 02:38] 26atul05 commented on #201
@roehling
Hello, I followed the steps and got this error in catkin_make. Please guide me in troubleshooting.

![Screenshot from 2019-03-22 20-34-23](https://user-images.githubusercontent.com/46580615/54860597-19c26180-4ce2-11e9-91ef-caddaf80b128.png)

[2019-03-23 20:51] roehling commented on #201
This looks like it could be a version conflict with OpenCV. Did you install a different version than the default, or did you update your OpenCV without rebuilding the whole workspace?

[2019-03-24 12:49] 26atul05 commented on #201
I'm not sure if it's a default version, I downloaded 3.4.5 version and then followed a video on YouTube which made a build using CMake software. After making the build, I just built the workspace by "make" command. I'm new at this so I'm not sure how it works though.

Here's the link to that instruction video:
https://youtu.be/_pB1pJF8nPk

[2019-03-24 14:12] roehling commented on #201
The prebuilt ROS packages link against OpenCV 3.2.0, since that's the version that ships with in Ubuntu 18.04 (the "default" or "system" version for that Ubuntu). It is nearly impossible to mix and match different versions in the same source tree, as you just saw. Either you should stick with the system OpenCV or build ROS completely from source and be extra careful to never accidentally link agai

[2019-03-24 14:14] 26atul05 commented on #201
Ohh, I did not know that. Thank you! I'll install 3.2.0 version.

[2019-03-26 08:50] mintar commented on #246
There's an open pull request that solves this issue: #334

[2019-04-01 14:48] JWhitleyWork opened #393 "image_pipeline Repository Maintenance"
There are currently many open and unanswered PRs and Issues in this repo. I have tried multiple times to contact the maintainers with no response (see https://discourse.ros.org/t/perception-sig-maintainers-still-maintaining/7065/15). @SteveMacenski and myself would be interested/able to take over maintenance of this repo if the current maintainers are not interested/able to maintain it any longer.

[2019-04-01 15:59] knorth55 commented on #393
I'm interested in this issue, but, for long maintenance, it would be better to maintain by group not by individuals.
There is orphaned package project, so i think it's a good idea to maintain by ros-orphaned-package maintainers group.
http://wiki.ros.org/OrphanedPackage

[2019-04-02 18:36] JWhitleyWork commented on #393
@knorth55 - The convention is to have at least one responsible maintainer, especially for a package that is actively developed. The Orphaned Package Maintainer's group is for packages which the community believes will not see active maintenance, just continued releases for current and future versions of ROS. From the wiki page you linked:

    A package lacking active maintenance, specifically one

[2019-04-03 01:54] knorth55 commented on #393
@JWhitleyAStuff of course, there will be one responsible maintainer from the ros orphaned package.
Releasing means that fixing bug and releasing the package properly.
I think this is what you want to do.
In other word, you should not add new features in this package even if you will be a maintainer of this package because many projects depend on this package.

[2019-04-03 19:15] capitalPSA commented on #201
To add on to this issue, NVidia Jetson AGX Xavier module runs Ubuntu 18.04 with OpenCV 3.3.1. This may mean not installing / uninstalling OpenCV 3.3.1 and installing OpenCV 3.2. I do not know if the installed OpenCV 3.3.1 is a stock install or has any optimizations turned on. I will try to install OpenCV 3.2 to see if the issue referenced by @26atul05 is solved.

[2019-04-04 14:47] capitalPSA commented on #201
After a number of procedures, the NVidia Jetson Xavier module can run the image_pipeline package successfully. I do not think this is the correct area to post the necessary steps. Perhaps the NVidia Jetson forum is a more suitable area.

In short, OpenCV 3.3.1 was removed and OpenCV 3.2 was installed.

Thanks @roehling for the info.

[2019-04-04 21:24] JWhitleyWork commented on #393
Thank you to @jkammerl for granting me admin access to this repo! I'll do my best to get it cleaned up soon!

[2019-04-04 21:25] JWhitleyWork commented on #393
@knorth55 Active contributions to this repository are very much encouraged, we just have to be very careful about thorough testing.

[2019-04-04 21:25] #393 closed, assigned to nobody

[2019-04-04 21:25] jkammerl commented on #393
Thanks for escalating this and even more important for offering support! I agree that this is unfortunate and that your valuable contributions shouldn't be affected by the lack of maintainer support. Given that nobody from the official maintainers responded now for a couple of days, I went ahead and gave admin rights to @SteveMacenski and @JWhitleyAStuff. Your maintainer support is greatly appreci

[2019-04-04 21:30] JWhitleyWork commented on #393
@jkammerl - Do you have the ability to give us access to image_pipeline-release for releases as well?

[2019-04-05 01:27] knorth55 commented on #393
i strongly disagree to encourage new feature addition to this repository bacause many robots uses `image_pipeline`.
I really want you to just fix bugs and release this package.

[2019-04-05 19:29] SteveMacenski commented on #393
@knorth55 adding new features doesn't mean gutting existing ones. I'm not sure why making a new `awesome-image-processing-thingy` would effect `crop` nodelet, for instance. New things should not break existing things. Existing things just need bug fixes or optimizations based on new capabilities

[2019-04-05 19:40] SteveMacenski commented on #393
@jkammerl I was wondering if I could be added to the larger ros-perception organization? I would have interest in supporting and maintaining more than just this (in fact, I'm probably better suited to alot of the other stuff in this org). In particular:
- open_karto / slam_karto
- open_gmapping / gmapping
- SBA
- perception_pcl
- imu pipeline

I hate to see so many of these things I know and love

[2019-04-05 21:04] knorth55 commented on #393
@SteveMacenski
new features are good but you can add it in new repo.
i want to make this package stable because it might be side effects to many packages.
this package is fundamental package and need to work as it is now.

[2019-04-05 21:11] SteveMacenski commented on #387
Hi,
There's no reason why image_proc or any algorithm _wouldnt_ work just because of where the images are taken from. With that said without knowing which items you're trying to use, I can't make a definitive statement.

Cropping/decimating an image is cropping/decimating an image regardless of what the image is. Stereo is stereo as long as there are features.

[2019-04-05 21:15] SteveMacenski commented on #384
@jwhendy I would merge a PR implementing this. I audited the code and don't see anyone using it.

[2019-04-05 21:17] SteveMacenski commented on #348
Hi,
This doesn't relate to the `image_pipeline` metapackage or any of its contents. I would recommend checking ROS tutorials, particularly roslaunch remapping.

[2019-04-05 21:17] #348 closed, assigned to nobody

[2019-04-05 21:25] SteveMacenski commented on #384
https://github.com/ros-perception/image_pipeline/pull/379 implements

[2019-04-05 21:46] SteveMacenski opened #396 "Fix travis CI"

[2019-04-06 11:17] MattDom opened #397 "No point cloud published while using SGM for matching"
If I use the BM algorithm to match my synchronized images from two Point Grey cameras, I can get a point cloud as expected. However, when I use the SGM algorithm configured with dynamic_reconfigure, the Point Cloud theme stops working immediately.

If I change the algorithm back to BM, the point cloud will be published again. Checking the source code didn't brought me any new ideas, where the prob

[2019-04-08 12:52] AJwgnr commented on #397
Are you getting any errors in your console?

Could be that the SGM algorithm computation is not fast enough on your system. You could e.g. decrease the resolution of your images to check whether it depends on the computational power.

[2019-04-08 16:57] SteveMacenski commented on #397
Please make sure to read through http://wiki.ros.org/stereo_image_proc/Tutorials/ChoosingGoodStereoParameters

It should help, I think what you might be seeing is something described in the tuning guide of producing no points

[2019-04-08 17:08] JWhitleyWork commented on #396
@SteveMacenski - For the repositories to which I have maintenance responsibilities, I have been switching to CircleCI which is more flexible, updated considerably more often, and has much lower queue times (see https://github.com/ros-drivers/velodyne/blob/master/.circleci/config.yml and https://circleci.com/gh/ros-drivers/velodyne as an example). Any opposition?

[2019-04-08 17:10] SteveMacenski commented on #396
None at all. I haven't used it personally, but that's not a reason _not_ to learn something :)

[2019-04-08 17:11] JWhitleyWork commented on #396
Thanks. I'll get on it as soon as I'm back from lunch. :)

[2019-04-08 17:11] #335 closed, assigned to nobody

[2019-04-08 17:15] MattDom commented on #397
@SteveMacenski Thanks for your response. I read through the tutorial previously. The fixed frame and everything is set correctly and I see the point cloud when I use the Blockmatch-algorithm. Further, the disparity image is calculated properly with the SGM-algorithm, just the point cloud is not published. For my understanding, the calculation is of the point cloud should not depend on the matching

[2019-04-08 17:17] SteveMacenski commented on #258
Your problem is that your image is encoded with `32FC1` but the program was expecting a `16UC1`. I suspect your image encoding was incorrect as this nodelet supports both formats.

I'll leave this ticket open for a week if its still an issue and we can resolve.

[2019-04-08 17:20] SteveMacenski commented on #397
The pointcloud is directly related to the stereo matching, without matched pairs, a disparity map cannot be generated, which is in turn used to generate a pointcloud. When you're tuning this, is there still a disparity map?

[2019-04-08 17:30] MattDom commented on #397
This was a missunderstanding. Of course, it is important for getting the disparity map, but the calculation for the point cloud depends on the resulting disparity map and not on the algorithm. Hope, I could put it in a nutshell 😄

Yes, thats the point, where I got stuck...

[2019-04-08 17:34] SteveMacenski commented on #397
Can you post an example set of disparity maps as images? Maybe there's no real pair sets. Combine that with looking at `rostopic hz /pts/topic` to make sure its not just publishing a super sparse message

[2019-04-08 17:42] MattDom commented on #397
Yes, sure. I am already out of the lab for today (8 hours ahead), but tomorrow this is my first job.

[2019-04-08 18:02] SteveMacenski commented on #345
Hi please specify more your question, what nodelet are you trying to use? What are your inputs?

Given this is an old ticket, if there's no traffic in a week, I will close

[2019-04-08 18:03] SteveMacenski commented on #350
Thanks @lennarthaller, closing

[2019-04-08 18:03] #350 closed, assigned to nobody

[2019-04-08 19:00] JWhitleyWork commented on #371
See #396 for discussion.

[2019-04-08 19:04] JWhitleyWork commented on #383
Melodic is currently targeted at a minimum OpenCV version of 3.2. We are happy to receive a Pull Request for OpenCV 4 support but it must maintain backward-compatibility with at least 3.2. 4 is currently not required for ROS Melodic. See http://wiki.ros.org/melodic/Migration#opencv

[2019-04-08 19:04] #383 closed, assigned to nobody

[2019-04-08 19:07] SteveMacenski commented on #371
@JWhitleyAStuff isn't this referencing ROS2 though?

[2019-04-08 19:08] JWhitleyWork commented on #390
Which version of ROS are you using and on which version of Ubuntu?

[2019-04-08 19:09] JWhitleyWork commented on #371
Closed too quickly. Mis-read.

[2019-04-08 21:11] JWhitleyWork commented on #396
Fixed in #398 by changing to CircleCI and using new build setup. Since Indigo recently EOL'd, we're only running CI on Kinetic and Melodic branches.

[2019-04-08 21:11] #396 closed, assigned to SteveMacenski

[2019-04-08 21:12] JWhitleyWork commented on #321
New maintainer here - I'm assuming this issue is long past. Please confirm and I will close.

[2019-04-08 21:23] JWhitleyWork commented on #317
A simple README.rst does exist but should contain more detail. I'll update it and, at the very least, add a link to the ROS Wiki page.

[2019-04-08 21:35] SteveMacenski commented on #321
This is an openCV issue not a image_pipeline issue

[2019-04-08 21:35] #321 closed, assigned to nobody

[2019-04-08 21:38] JWhitleyWork commented on #393
@knorth55 - Just because something is relied upon doesn't mean it shouldn't evolve. We will continue to do as the community decides, not just a single voice. We will do our best to maintain backward-compatibility and notify the community if there are any breaking changes coming, but the community does not stop evolving just because something they built has come to be relied upon. I'm sorry if your

[2019-04-08 21:51] SteveMacenski commented on #393
I think @knorth55 might have some fundamental misconceptions about how things may change. No one's talking about completely changing the way an existing nodelet is done, that would be crazy. However, adding new nodelets to do new things, and patching bugs in existing ones, or extending them to work with NVIDIA/Windows platforms is.

There's again no reason why `new-awesome-thing` would effect `cro

[2019-04-09 13:36] MattDom commented on #397
![disparity_bm_sgm](https://user-images.githubusercontent.com/24255135/55804616-fa4a7780-5adc-11e9-9712-a08974267079.png)

Here is a sample of the disparity maps. The top row is processed with the blockmatching-algorithm and the bottom row with theSGM-algorithm.

I can't imagine why the disparity maps in bottom row can't be processed to a point cloud.

[Edit]
The frequency of the messages is betwe

[2019-04-09 21:48] SteveMacenski commented on #397
The frequency of what is 1fps to 5fps? Input, disparity, point cloud?

Is the pointcloud being published at all? Can you check to see how many points are in it?
I think with that we should have enough to make a diagnosis

[2019-04-10 15:29] MattDom commented on #397
Sorry, the frequency of the disparity maps is ca. 1fps, when I use the SGM and about 5fps for the BM-algorithm.

The point cloud is only published, when I use the Blockmatching and not for the SGM. The point cloud, I get from the Blockmatching, contain around 9k to 1M points. So, with the right settings it is pretty dense.

@SteveMacenski: Thank you very much for your patience and your help.

[2019-04-10 16:54] SteveMacenski commented on #397
So you're saying, to clarify, that it is being published in the SGM case, but its empty? Or just sparse? Given these are different methods, did you try reverting to  defaults to see if it publishes with SGM?

[2019-04-10 17:20] SteveMacenski commented on #384
Been merged. Thanks for the report @jwhendy

[2019-04-10 17:20] #384 closed, assigned to nobody

[2019-04-10 17:21] #387 closed, assigned to nobody

[2019-04-10 17:21] #258 closed, assigned to nobody

[2019-04-10 17:22] #345 closed, assigned to nobody

[2019-04-10 18:29] jwhendy commented on #384
Thanks for handling!

[2019-04-12 07:03] MattDom commented on #397
Okay. Probably I was a bit unprecisely. I'm sorry for that.

1. Case --> Blockmatching

    -  Disparitymaps come with ca. 5fps
    - Pointcloud is published with about 3fps
    - Everything works as expected

2. Case --> SGM

    - Disparitymaps come with ca. 1fps
    - No point cloud is published
    - There is no pc-message, not even an empty
    - Post-processing the disparitymap to a point cl

[2019-04-15 20:49] SteveMacenski commented on #397
Did you try reverting to default configurations for SGM and does it publish a pointcloud then? If not, might be something off. If it does publish, then its potentially the parameters chosen

[2019-04-16 16:29] MattDom commented on #397
Okay, it works. I changed nothing, honstely. I booted the whole thing this morning and it worked. Same parameters, same hardware, everything unchanged. Unfortunatly, I can't determine where or what was the error.

However, I will try to find what went wrong and post it then.

@SteveMacenski: Thank you for the support.

[2019-04-16 16:29] #397 closed, assigned to nobody

[2019-04-16 18:06] SteveMacenski commented on #397
Bam. All we need to do is ask dumb questions and complex issues crumble at our feet!

[2019-04-16 18:59] syediu opened #402 "disparity image is displayed but pointcloud shows only a small dot in rviz"
Hi all,
I am trying to get `disparity image` and `pointclouds` from `VREP's` two `vision sensors`(assembled like stereo camera) using `Stereo_Image_Proc.` Disparity image is successfully displayed and pointcloud topic (i-e `/points2`) publishes consistent data at each iteration(I mean its data contains few numbers like 197, 172,0 ,0,0,0 etc repeatedly). I don't know where am I doing mistake. I wou

[2019-04-17 09:37] syediu commented on #290
Hello @paulsammut  have you been able to solve this problem? I am also getting disparity images but unable to display pointcloud. my poincloud topic only returns consistent same values and in rviz I can only see a small dot. please let me know if you know what mistakes I made. regards

[2019-04-17 17:57] SteveMacenski commented on #290
Closing this issue from inactivity (and probably resolved after 2 years).

[2019-04-17 17:57] #290 closed, assigned to nobody

[2019-04-18 11:05] vishalgpt579 commented on #390
@JWhitleyAStuff  I'm using following version of ROS  :

 And following version of Ubuntu:

[2019-04-18 20:37] JWhitleyWork commented on #390
@vishalgpt579 - What is the original pixel height/width of the image you're trying to display? It looks like the default for `image_view` is to provide a window with 1:1 pixel size of the original image. If the image is larger than your desktop size, what you're seeing would be the result. There are a few ways around this, but they all require changes to the node.

[2019-04-18 20:44] JWhitleyWork commented on #285
Closing stale issue which appears to also be fixed by #340. Can re-open if OP replies or offers feedback.

[2019-04-18 20:44] #285 closed, assigned to nobody

[2019-04-19 14:14] mjcarroll opened #403 "Update image_pipeline to use new ros2 composition model"
In `dashing`, we have updated how ROS2's components work.  This allows developers to write a `rclcpp::Node` that can be used either in standalone or composed into a larger executable, and defer that decision until runtime.  It is essentially a replacement for ROS1's `nodelet` concept, but without having to do special implementations.

I believe that `image_pipeline` would be a good candidate to ta

[2019-04-19 23:00] SteveMacenski opened #404 "List tickets/PRs to merge and freeze for release"
We've merged a bunch of stuff recently. We should come up with a list of those we want to get resolved before a new release and do some system level tests to ensure nothing is broken prior to a new release.

[2019-04-22 09:18] syediu opened #405 "Calibration for VREP images"
Hello All, Do I need any sort of calibration if the images are coming from two image sensors on VREP?
I can receive disparity map and pointclouds but the problem is I am unable to visualize poinclouds on rviz so I thought it may be because of the calibration? If anyone has worked on it please help me with this issue. Kind Regards Izzat

[2019-04-22 09:21] vishalgpt579 commented on #390
@JWhitleyAStuff, The original pixel height/width of the image is 1280x1024(which is same as of my monitor). As i mentioned in original question , that lowering the resolution provides a smaller windows , i understand it now, which is because of this reason...

Could you please describe those ways of sorting this out @JWhitleyAStuff ?

[2019-04-22 13:39] JWhitleyWork commented on #390
Here are a couple of options that would work:

1. Provide a "fullscreen" parameter which is a Boolean. If this parameter is "true," then set the output window to be full-screen.
2. Provide a parameter (difficult to think of a name) that, if set to "true," means that if the output image is larger than the desktop area, set the output window to full-screen.
3. Provide a "output scaling" parameter wh

[2019-04-22 13:44] JWhitleyWork commented on #235
@pbeeson - I know this is a very stale issue but are you still seeing this behavior? @k-okada - Same question.

[2019-04-22 17:26] SteveMacenski commented on #405
I can't say that I've ever used VREP to know if you need to do it. If they're without undistortion then you should probably have the calibration parameters to do so. However without building your application, I dont know what you intend to do with them.

Please ask this on the VREP forums.

[2019-04-22 17:26] #405 closed, assigned to nobody

[2019-04-22 17:27] SteveMacenski commented on #390
I'd even recommend a 4th one, where the size of the image is taken by the size of the window. Allow the window to rescale anyway it wants then just have the image scale to the smallest dimension

[2019-04-23 16:11] JWhitleyWork commented on #404
The following PRs were merged to `kinetic` and would be included in a 1.13 release:

- #337
- #343
- #379
- #392
- #394
- #395
- #401 (backport of #382 for `melodic`)
- #406 (backport of #334 for `melodic`)
- #413 (backport of #329 for `melodic`)

Beyond the above, the following PRs have, so far, been merged to `melodic`:

- #329
- #334
- #338
- #340
- #356
- #358
- #382

[2019-04-23 16:18] JWhitleyWork commented on #390
@vishalgpt579 - PR #389 gives the full-screen option (my option 1) but I'm guessing this doesn't really solve your use-case, correct?

[2019-04-24 07:36] vishalgpt579 commented on #390
@JWhitleyAStuff @SteveMacenski , thank you for your recommendations. But since I'm just a beginner, all i can infer from your suggestion is either one of the 2 things ...

1) To edit the [launch file ](https://github.com/lrse/whycon/blob/master/launch/whycon.launch) which I'm running , instead of the line
`rosrun image_view image_view image:=/visionSensor/image_rect _autosize:=True`
and somehow ma

[2019-04-25 09:11] vishalgpt579 commented on #390
@JWhitleyAStuff ,I tried doing this...
`rosrun image_view image_view image:=/visionSensor/image_rect _autosize:=True _fullscreen:=False`

Yes, you were correct. It still doesn't works.

![Screenshot from 2019-04-25 14-33-38](https://user-images.githubusercontent.com/30352891/56724014-c7a0b000-6767-11e9-9b6a-7a6b9490f721.png)

Output  remained the same ... unresizable

![Screenshot from 2019-04-25

[2019-04-25 13:45] #381 closed, assigned to nobody

[2019-04-25 13:46] JWhitleyWork commented on #377
It looks like a fix for this issue has already been applied. Closing.

[2019-04-25 13:46] #377 closed, assigned to nobody

[2019-04-25 13:50] JWhitleyWork commented on #371
@yechun1 and @klintan - CI on the primary branches (`indigo`, `kinetic`, and `melodic`) has been transitioned to CircleCI. I asked about this in #369 but, if you two are OK with it, I would like to rebase the `ros2` branch on `melodic`. This will pull in the ability to use CircleCI and I can modify the CI files to use a ROS2 docker image.

[2019-04-25 13:51] JWhitleyWork commented on #359
@lucasw - Is this something you would still like to see? If so, can you provide a PR?

[2019-04-25 13:53] JWhitleyAStuff commented on #353
Closing issue in favor of discussion in PR.

[2019-04-25 13:54] JWhitleyWork commented on #351
Closing with (assumed) resolution.

[2019-04-25 13:54] #351 closed, assigned to nobody

[2019-04-25 13:55] JWhitleyWork commented on #344
@dcazzato - Is this something that you still need?

[2019-04-25 13:56] JWhitleyWork commented on #342
@MPForte - Is this something that you still need?

[2019-04-25 13:57] JWhitleyWork commented on #283
Assumed fixed by #337.

[2019-04-25 13:57] #283 closed, assigned to nobody

[2019-04-25 14:09] JWhitleyWork commented on #331
Should be closed by merge of #337.

[2019-04-25 14:09] #331 closed, assigned to nobody

[2019-04-25 14:11] JWhitleyAStuff commented on #325
@nalt - I know this is an old issue but do you have any suggestions on how we might implement the rejection using an algorithm? (or, better yet, a PR implementing it)

[2019-04-25 14:15] JWhitleyWork commented on #281
@arpit15 / @SubMishMar / @nalt - Could you possibly try the fix in #356 and see if your issue is resolved?

[2019-04-25 14:28] #323 closed, assigned to nobody

[2019-04-25 14:29] JWhitleyWork commented on #268
Closing due to lack of response and also merging of #338.

[2019-04-25 14:29] #268 closed, assigned to nobody

[2019-04-25 14:30] JWhitleyWork commented on #404
As far as PRs that I would like to merge, here are some (haven't finished reviewing all of them yet):

- #341
- #352 (backport to `kinetic`)
- #355
- #389
- ~~#391~~ #412
- #411

[2019-04-25 14:35] JWhitleyWork commented on #246
Closed by #334.

[2019-04-25 14:35] #246 closed, assigned to nobody

[2019-04-25 15:15] lucasw opened #407 "Replace boost with std as much as possible"
180 occurrences of `boost::` in image_pipeline.

shared_ptrs, mutexes, lock_guards, threads, const_pointer_casts look like easy changes.

Not sure about boost filesystem or format.

boost::bind can't be replaced without ros callbacks supporting it?  (I'd like to hear that is already on a roadmap- if not maybe taking the initiative here and in other packages will help raise the issue for the core r

[2019-04-25 16:01] JWhitleyWork commented on #357
Closed by #358

[2019-04-25 16:01] #357 closed, assigned to nobody

[2019-04-25 16:02] JWhitleyWork commented on #317
Added. Closing this issue for now. If more detail is needed, a new issue will be opened.

[2019-04-25 16:02] #317 closed, assigned to nobody

[2019-04-25 16:03] JWhitleyWork commented on #312
Closing due to lack of response.

[2019-04-25 16:03] #312 closed, assigned to nobody

[2019-04-25 16:04] JWhitleyWork commented on #310
Closed by #315.

[2019-04-25 16:04] #310 closed, assigned to nobody

[2019-04-25 16:04] JWhitleyWork commented on #308
Closing due to resolution.

[2019-04-25 16:04] #308 closed, assigned to nobody

[2019-04-25 16:53] JWhitleyWork commented on #23
Closing due to resolution.

[2019-04-25 16:53] #23 closed, assigned to nobody

[2019-04-25 16:56] JWhitleyWork commented on #72
Closing very old thread due to lack of applicability to currently-supported ROS/OpenCV versions.

[2019-04-25 16:56] #72 closed, assigned to nobody

[2019-04-25 16:56] JWhitleyWork commented on #110
Closed due to resolution.

[2019-04-25 16:56] #110 closed, assigned to nobody

[2019-04-25 17:01] JWhitleyWork commented on #116
Closing very old thread.

[2019-04-25 17:01] #116 closed, assigned to nobody

[2019-04-25 17:01] JWhitleyWork commented on #126
Closed due to resolution.

[2019-04-25 17:01] #126 closed, assigned to nobody

[2019-04-25 17:02] JWhitleyWork commented on #129
Closing old thread due to no longer being applicable to currently-supported ROS version.

[2019-04-25 17:02] #129 closed, assigned to nobody

[2019-04-25 17:02] JWhitleyWork commented on #130
Closed due to resolution.

[2019-04-25 17:02] #130 closed, assigned to nobody

[2019-04-25 17:03] JWhitleyWork commented on #135
Closed due to resolution.

[2019-04-25 17:03] #135 closed, assigned to nobody

[2019-04-25 17:04] JWhitleyWork commented on #404
@SteveMacenski / @mjcarroll - Finally got through the full list of PRs. Thoughts on the list above?

I think we can go ahead and make a release for `indigo` after verification testing since we don't plan to backport any future changes to that distro. Thoughts?

Working my way through issues backlog now.

[2019-04-25 17:04] klintan commented on #371
I'm good with that :) thanks!

[2019-04-25 17:49] JWhitleyWork commented on #371
Implemented (and fixed) with #408.

[2019-04-25 17:49] #371 closed, assigned to nobody

[2019-04-25 17:53] JWhitleyWork commented on #403
While Dashing has "technically" been released and I really like this feature (been looking forward to it for a long time), I don't think it's well-supported enough yet (e.g. no official Docker images, `cv_bridge` not yet released, `image_geometry` not yet released, etc.) to target it in this repo. Long-term, though, this makes a lot of sense.

[2019-04-26 04:53] #325 closed, assigned to nobody

[2019-04-26 04:54] SteveMacenski commented on #281
@all this is expected and you should always check against problems like this in calibration. Minimizing energy doesn't always mean that accuracy ~ percision.

When calibrating cameras with even other methods, I've come to expect the results could vary by *many* pixels between attempts. You should always error check after a calibration to make sure your reprojection error is aligned with that and w

[2019-04-26 04:54] #281 closed, assigned to nobody

[2019-04-26 04:55] SteveMacenski commented on #342
@MPForte can you describe more in the context here? I can't really dissect what you're trying to get at.

[2019-04-26 15:17] JWhitleyWork commented on #259
@cellard0or - I'm sure this is far behind you now, but is this still an issue for you?

[2019-04-26 15:46] alezana commented on #201
This problem seems not to be fixed for Melodic on Ubuntu 18.04...

[2019-04-27 21:28] SteveMacenski commented on #404
Given Indigo is now EOL, I think we should just leave that as is. I don't want to break peoples' stuff on an EOL distro as I would greatly like to never think about indigo again. I'd just focus on Kinetic / Melodic for the time being given the sheer number of things we've done in the last month.

[2019-04-27 21:29] JWhitleyWork commented on #404
Fair. Do you think we should roll back the PRs on the Indigo branch to the last release so we don't have a disparity between the last release for Indigo and the source version?

[2019-04-27 21:30] SteveMacenski commented on #403
I disagree, I heard William talk about this at an event last week and its particularly useful for this repo and other sensor pipeline metapackages. Nodelets don't exist in ROS2 and this gives you the zero copy in-process capabilities.
None of the ROS2 releases are LTS and should be considered deprecated when a new one comes out every 6 months and there's demos working today.

[2019-04-27 21:31] SteveMacenski commented on #404
That's a good point you bring up, I had not thought about that. From a cleanliness perspective I think that would be good since its a pretty easy process.

[2019-04-29 11:53] dcazzato commented on #344
No thanks, I better understood the tool and I was able to properly use and modify it.

[2019-04-29 14:44] #344 closed, assigned to nobody

[2019-04-29 14:59] JWhitleyWork commented on #404
I've hard-rolled-back `indigo` to the version that was released as 1.12.23.

Do you have any thoughts on the list I made of those I would like to merge to `melodic`?

[2019-04-30 07:55] roehling commented on #201
Apparently, the fix is merged to the master branch but not yet released in a new version.

[2019-04-30 14:28] cellard0or commented on #259
This problem never came up again, so I consider it fixed ;)
Thanks for asking!

[2019-04-30 14:28] #259 closed, assigned to nobody

[2019-05-01 04:56] SteveMacenski commented on #404
I'm OK with the suggested tickets. The ones still open are mostly still failing CI or not super responsive folks. Do we want to wait to get them in?

[2019-05-01 15:26] JWhitleyWork commented on #404
I think I'm OK with calling a hold for now to do testing and release for `kinetic` and `melodic`. Shall we set a target date to complete testing?

[2019-05-02 05:56] #390 closed, assigned to nobody

[2019-05-08 10:23] TZVIh commented on #209
Hi,
I have the same problem, I am using https://github.com/willdzeng/zed_cpu_ros
what should I do?
Thanks!

[2019-05-09 04:24] willdzeng commented on #209
As I mentioned previously, recalibrate would fix this problem, I suggest you directly use the opencv calibration package instead of using the build-in ZED calibration

[2019-05-09 08:48] TillBeemelmanns opened #416 "stereo_image_proc Output-Timing is async"
I am using stereo image proc to convert the raw output of a stereo camera. Both cameras use a Bayer 8 Bit encoding. As shown in the image, the raw messages arrive approximately at the same time, but the converted color images have a time difference of approx. 10 ms.

![stero_image_proc_timing](https://user-images.githubusercontent.com/5880684/57439690-d34fa480-7246-11e9-9458-c504c4c48561.png)

Tha

[2019-05-09 13:12] SteveMacenski commented on #416
Are you asking why it takes 10ms to convert the images? Can you clarify what you mean by "time difference"? Is this is headers / receipt time of another client of the converted images, etc. There's some CPU time associated with that conversion I imagine

[2019-05-09 13:17] TillBeemelmanns commented on #416
With "time difference" I mean the difference between `right/image_color` msgs and `left/image_color` msgs. They both should be send at the same time, since the raw msgs arrive at the same time.

[2019-05-22 14:24] JWhitleyWork commented on #404
@SteveMacenski - I've completed pretty thorough testing on `image_view`. Should we split up testing among the nodes that have changed since the last release? The following are files that got changed and need testing:

- [ ] camera_calibration/nodes/cameracalibrator.py
- [ ] camera_calibration/scripts/tarfile_calibration.py
- [ ] camera_calibration/src/camera_calibration/calibrator.py
- [ ] camera_

[2019-06-10 14:38] SainaRez opened #419 "Saving image timestamps"

[2019-06-10 14:41] SainaRez commented on #419
Is it possible to save the image timestamps and the name of the each image associated with it?

[2019-06-12 20:20] acxz opened #420 "Package build fails"
I am trying to build to latest release version of the package 2.0.0. Problems I am encountering right now include having a `signals` dependency. I see that this has been fixed on master, but the fix has not been released. It would be great if this could be released.
After manually making the change, another issue I am encountering is the following:
[code]
Looking around I have noticed that a PR ha

[2019-06-12 21:37] JWhitleyWork commented on #404
@SteveMacenski - Given my current workload, I know I won't get much testing time here. I'm going to go ahead and release for Melodic and do the testing on Kinetic as time allows. I believe that if we get feedback on Melodic, we can iterate more quickly without much backlash. As time allows, I'll attempt to test the above list on Kinetic further.

**Edit**: 1.13.0 released for Melodic.

[2019-06-12 21:44] JWhitleyWork commented on #420
@acxz - The 2.0.0 release is specifically for ROS2. Are you building this in a ROS2 environment or ROS1? I'm just now releasing 1.13.0 for ROS1 Melodic and it should be available on the repos in a couple of weeks at the most.

[2019-06-12 22:28] acxz commented on #420
I see, my bad. Yes I am using this package for melodic. I noticed that 1.13.0 has been released and I just tried building that. With the latest release (1.13.0), the signal issue has gone away. But I am still getting the same issue with the opencv warning.

[2019-06-12 22:47] acxz commented on #420
Some more helpful information:
I am trying to build image_view (1.13.0) specifically.
opencv version: 4.1
Also have opencv3 installed under opt/

Hmm so after looking around on my system a bit this is what I am surmising.
I have other ros packages installed that depend on opencv3. However, I also have opencv (latest release version) installed and this package tries to use that but is getting confu

[2019-06-13 00:07] acxz commented on #420
I ended up fixing the problem on my machine by changing the `OpenCV REQUIRED` in `image-view/CMakeLists.txt` to `OpenCV 3 REQUIRED`. It seems as though even if this package works with opencv I still need to patch it accordingly so I can use this package alongside others that require opencv3 specifically for now. Going ahead and closing this.

[2019-06-13 00:07] #420 closed, assigned to nobody

[2019-06-19 03:12] ayush-j9 opened #421 "No options available in camera_calibration"

[2019-06-19 18:16] #421 closed, assigned to nobody

[2019-06-25 13:16] hachbani2019 opened #422 "Rotate images"
hi,

I'm trying to setup a stereo vision system from two camera, so for that, I'm using stereo_image_proc node. At first glance, I was getting a good disparity image, but the PointCloud I was getting was not in the right direction (It was on the top of my robot while the obstacle was in front of it). so I changed the orientation of the camera's axis to match the description in the [stereo_image_pr

[2019-07-01 16:23] mogumbo opened #424 "larger disparity_range for stereo_image_proc"
As far as I can tell, the disparity_range for stereo_image_proc is capped at 256 in Disparity.cfg and can only be changed by recompiling. Is there any other way to force a higher value? Is there any interest in permanently expanding the min/max values for min_disparity and disparity_range? It would be nice to eliminate the those limits completely, but I don't see a way to do that with the dynamic_

[2019-07-08 10:06] leafgecko opened #427 "Link to (willowgarage) OpenCV's block matching"
In [http://wiki.ros.org/stereo_image_proc](url), under the Overview point, the link for OpenCV's block matching algorithm, the link [http://opencv.willowgarage.com/documentation/cpp/camera_calibration_and_3d_reconstruction.html#stereobm](url) seems dead.
![deadlink](https://user-images.githubusercontent.com/21381491/60802261-17a9e300-a1ab-11e9-80be-27661070d90b.png)

[2019-07-10 21:47] SteveMacenski commented on #427
Thanks for pointing it out, I updated the wiki

[2019-07-10 21:47] #427 closed, assigned to nobody

[2019-07-10 21:52] SteveMacenski commented on #404
Hi,

Sorry about disappearing. I was on vacation for 5 weeks and just got back (and now in a new job). Well it seems you released about a month ago and no one came screaming so I take that as a successful release. We should still test. Let me circle back to this in early August. My new job is ~85% open source so I should have cycles to take a more active hand but there's a bunch of logistics that

[2019-07-10 21:56] SteveMacenski commented on #422
If the orientations are wrong, why not update their positions in its description file / TF to be correct? It seems like you may have some configuration issues in following REPs or data orientations.

Remember this is a pipeline, you can feed in different information to different things, it doesn't need to be a linear path to in->stage->stage->done. It could have multiple paths (one branch rotates,

[2019-07-10 21:57] #422 closed, assigned to nobody

[2019-07-10 22:00] SteveMacenski commented on #419
Can you give more information? This is a little ambiguous, a few examples would be helpful.

An image is also like any other file in your filesystem, there will be a write time associated with it.

[2019-07-10 22:06] SteveMacenski commented on #424
So [here](https://github.com/ros-perception/image_pipeline/blob/3b67763f8a692bdc2dfaec315cc8f027da236a91/stereo_image_proc/src/nodelets/disparity.cpp#L220) it shows that it just needs to be an increment of 16, not limited by size.

In the cfg file there's a [limit of 256](https://github.com/ros-perception/image_pipeline/blob/3b67763f8a692bdc2dfaec315cc8f027da236a91/stereo_image_proc/cfg/Disparity.

[2019-07-10 22:19] SteveMacenski commented on #416
Clarifying question: they arrive 10ms apart, but the timestamps are correct, yes? You should always be using the timestamp in the header of the messages for processing data in ros not current time the message is received. You're going to want to look at the output of the processed data in the time-frame in which it captured sections of the world. The delay is annoying, but if you're synchronizing

[2019-07-10 22:22] SteveMacenski commented on #402
This is a configuration or visualization issue. See links below to help, closing.

https://github.com/ros-perception/image_pipeline/issues/397
http://wiki.ros.org/stereo_image_proc/Tutorials/ChoosingGoodStereoParameters

[2019-07-10 22:22] #402 closed, assigned to nobody

[2019-07-10 22:43] SteveMacenski commented on #367
Hi,
Any updates or what you've tried here? I see the intel folks closed your ticket.

To help, I'd need to know more (maybe a video) of the terminal output and some more detail on what

means *exactly*.

Steve

[2019-07-11 15:25] lucasw opened #428 "Optionally generate black background when crop area is outside of source image"
if for example the image were 1000 x 1000 and the configuration specified x y offset 900 and width and height 200 x 200, instead of shrinking down the width and height of the output cropped image, instead have a black background filling the pixels where there is no source image to copy in.  Or if the x and y offset are outside the source image entirely then output a black image of the requested wi

[2019-07-11 15:36] lucasw opened #429 "Optionally incorporate incoming roi in crop_decimate coordinates"
If the source image is already cropped, optionally keep the crop x and y offset relative to the original origin rather than the incoming image.

This would work well with #428

[2019-07-11 16:01] JWhitleyWork commented on #404
@SteveMacenski - Don't worry about being gone. Totally understandable. And I'm with you on not merging independently-untested PRs but we were kind of in a bind. `melodic` was unusable prior to this release (`image_view` didn't even work) and people were asking for it and neither of us had time to do the independent testing. In the future, I'll do my best to stick to this policy but I think it was

[2019-07-11 17:42] SteveMacenski commented on #404
Agreed, I think we needed to get  stuff out but now that its settled down largely, lets take more care

[2019-07-11 17:46] SteveMacenski commented on #428
I would personally put this in the category of "masking real issues" that I'm not a fan of. Things should be configured to work and I think lots of warnings to correct mis-configuration or mis-use is a better answer, especially when it has ramifications for other nodelets downstream of it. An example that I would be concerned by is the crop is for processing a depth image, and someone thinks their

[2019-07-11 19:26] JWhitleyWork commented on #428
I tend to agree with @SteveMacenski. I think there are two options to get around this:

1. As soon as the first image is received, calculate the bounds of the ROI relative to the image. If `roi_x + width > image_width` or `roi_y + height > image_height`, produce an error and don't publish the ROI. This will both provide the user with useful information and keep downstream nodes from using invalid

[2019-07-11 20:16] lucasw commented on #428
Is there anything wrong with providing the capability, if by default it is disabled?

Further on there could be a valid pixel latched image topic that only updates when needed (maybe others have used alpha channels in the same way at greater bandwidth cost).

[2019-07-11 20:17] JWhitleyWork commented on #428
Just so we can get some context, what is your use case for this feature?

[2019-07-11 20:32] lucasw commented on #428
I have a camera that I plan to have publish a window/roi most of the time, but want an interactive way for users (maybe at the level of trained technicians) to define that roi, so they'll switch over to a full sensor mode.  Downstream there will be crop node/s further cutting down the image size for various processing tasks which also will occasionally be interactively adjusted.  I'd like to reduc

[2019-07-13 04:55] #280 closed, assigned to nobody

[2019-07-13 04:58] #195 closed, assigned to nobody

[2019-07-13 05:02] klintan opened #430 "Add missing image_pipeline nodes to ROS2 port"
Not all nodes are ported to ROS2
- [ ] crop_decimate #471
- [ ] crop_non_zero #459
- [x] resize

Are still missing. Needs to be ported.

[2019-07-15 18:06] #353 closed, assigned to nobody

[2019-07-15 18:07] #367 closed, assigned to nobody

[2019-07-19 14:11] SteveMacenski opened #434 "Fix extra copy introduced in 409"

[2019-07-19 16:23] #434 closed, assigned to SteveMacenski

[2019-07-29 03:45] waiyc commented on #282
what is the difference between linear error and re-projection error ?

[2019-07-29 20:37] #278 closed, assigned to nobody

[2019-08-14 09:34] waiyc opened #445 "Stereo calibrate issue with 2 different camera with different focal length and fov"
Hi,

I am trying to do stereo calibration with color camera and IR camera from intel RealSense D435 camera. However, the stereo calibration process is unable to collect the required amount of image data for calibration due to the focal length and fov are different.

Is there any ways to overcome this issue?

Thanks.

[2019-08-31 11:43] hygxy opened #448 "can't save image"
when I right-click  on the diaplay gui, there is no file named frame0000.jpg, etc. saved as documented here:http://wiki.ros.org/image_view. Instead, the display window is frozen and have to kill the process manually.

[2019-09-01 17:25] SteveMacenski commented on #448
Please provide more information. What build, what distro, what OS, etc

[2019-09-03 16:53] SteveMacenski opened #449 "Rectify plethora of changes in ROS1 and ROS2 versions"
We've had alot of changes that are targeted at either ROS1 or ROS2 that have been changing quite alot, but nothing to homologate these changes together to make sure we have a consistent set of features and elements between ROS1 and ROS2.

[2019-09-03 22:08] #419 closed, assigned to nobody

[2019-09-03 22:18] #404 closed, assigned to nobody

[2019-09-03 22:20] SteveMacenski commented on #228
Closing from inactivity/reproducability -- if still an issue or still want to keep going lets revive it

[2019-09-03 22:20] #228 closed, assigned to nobody

[2019-09-05 01:07] shuntaraw opened #451 "image_proc/resize does not work with image_transport_plugins"
`image_proc/resize` subscribes to image and camera_info messages using `image_transport`, but cannot receive messages via `compressed` or `compressedDepth` (or any non `raw`) transports.

[repro]
1. Publish image and camera_info with `image_transport_plugins` such as `compressed_image_transport`:
[code]
2. Subscribe to  `/camera/image_raw/compressed` in `image_proc/resize` nodelet.
[code]

[expect

[2019-09-10 16:29] hygxy opened #454 "example for setting destination width and height and getting updated camera info when using image_proc/resize"
Hey, could someone please give me a concrete example about how to use the resize() function via command line?
This [link](https://github.com/ros-perception/image_pipeline/issues/451) seems to be promising, but it doesn't show how to set destination width and height and how to get updated camera info.
This [link](https://github.com/ros-perception/image_pipeline/issues/297) is also similar, but I do

[2019-09-10 16:33] SteveMacenski commented on #454
Please redirect this question to ROS answers.

[2019-09-10 16:33] #454 closed, assigned to nobody

[2019-09-10 16:34] SteveMacenski commented on #448
Please provide a full description @hygxy

[2019-09-10 16:41] SteveMacenski commented on #451
Can you post an example message you’re sending over the compressed topic with the image data itself clipped?

[2019-09-10 16:46] hygxy commented on #448
@SteveMacenski  Sorry for no updates, but I don't have access to the camera recently. I will post more details as long as I get the device and reproduce the error. In the meantime, you can close this issue.

[2019-09-10 17:07] #448 closed, assigned to nobody

[2019-09-10 22:57] jacobperron commented on #360
Any update on `stereo_image_proc`?

[2019-09-10 23:12] SteveMacenski commented on #360
I can tell you @JWhitleyAStuff and I aren't thinking about it. I had alot of the ROS2 work in this repo scheduled post-ROSCon as I'm a little preoccupied with Navigation2 and slam toolbox.

@jacobperron is that something you're motivated to look at?

[2019-09-10 23:38] yechun1 commented on #360
I tried to port stereo_image_proc in the beginning of the year but blocked by image_proc which is not ready then. And now the image_proc has been ported and stereo_image_proc porting could be continue, but very sorry that I have no resource on this right now.
It would be glad if some one could have a time to work on it. Below is previously patch(not fully completed) just for reference.

port ros2

[2019-09-11 22:00] klintan commented on #360
@yechun1 one version of image_proc is actually already merged, unfortunately it is not possible to run it as a component yet, but I'll put in some PRs for that. However I think it might still be considered "ready/done" for image_pipeline. (at least as a initial release candidate)

edit: and the PR you are referencing for image_proc is merged and closed :)

[2019-09-11 23:21] jacobperron commented on #360
@SteveMacenski I don't have the bandwidth at the moment, I'll let you know if things change.

[2019-09-12 00:56] SteveMacenski commented on #360
@jacobperron that doesn't surprise me in the slightest :wink:

[2019-09-12 02:15] Light-- commented on #201
not helped but only turns out
[code]
i posted details in https://github.com/opencv/opencv/issues/15504

[2019-09-12 11:26] roehling commented on #201
I'm not exactly sure what you mean by "not helped", but the code you quoted is supposed to be the smallest possible example program that still exhibits the bug. It's not intended as a fix.

See e.g. [here](https://github.com/ros-perception/image_pipeline/issues/201#issuecomment-440886116) for a way to use this PR, or even better, get the ROS maintainer to release a new version to Melodic, so every

[2019-09-14 17:37] acxz opened #455 "Build Failure [OpenCV 3]"
When attempting to build this package (image_view) I obtain the following error:
[code]

It seems as tho when I upgraded my Opencv 3 to the latest version, 3.4.7, the package build broke for me. Can this be fixed via CMakeLists to allow later Opencv versions? or is it necessary for this package to remain on Opencv 3.4.6?

[2019-09-14 21:44] acxz commented on #455
Nvm a clean build fixed the issue.

[2019-09-14 21:44] #455 closed, assigned to nobody

[2019-09-14 22:03] acxz opened #456 "Build Failure (image_view) [Pango upgrade/harfbuzz]"
When trying to build image_view I am receiving the following error:
[code]
As of right now the ArchLinux package is breaking because of this (https://github.com/ros-melodic-arch/ros-melodic-image-view/issues/6).

Will this package be updated to reflect changes in the pango release? This issue is also popping up in other software packages like: https://gitlab.kitware.com/cmake/cmake/issues/19531.

[2019-09-15 16:18] Light-- commented on #201
sorry, but dou you mean the fix is to removing the "cv::startWindowThread();" from the minimal example? i just want to figure out what's the minimal fix for the minimal bug example...thanks

[2019-09-16 15:22] SteveMacenski commented on #456
PRs are welcome, though my feeling is that change is not generic, though off hand I dont know what harfbuzz is

[2019-09-16 15:52] acxz commented on #456
Yeah, harfbuzz headers could be installed in another location although I believe they are under the same location for Debian systems. This issue probably won't be seen for a while in Debian systems, since I think Ubuntu is still on pango ver: 1. If I find a better solution then I'll submit a PR, until then we have patched the ArchLinux package so that `ros-melodic-desktop-full` builds successfully

[2019-09-18 00:57] #456 closed, assigned to nobody

[2019-09-19 13:08] SalilVishnuKapur opened #460 "error installing image_pipeline using catkin_make with OpenCV 4.1.0"
Issue :
I have compiled opencv 4.1.0 with cuda support. So want to build the ros dependent packages with custom opencv. The command after initializing catkin_init_workspace is as follows. Any kind of help will be deeply appreciated
Command :
catkin_make -DCMAKE_BUILD_TYPE=Release -DOpenCV_DIR=/opt/include/opencv4/opencv2 -DPYTHON_EXECUTABLE=/usr/bin/python3

My fixes till yet :
I fixed the initial

[2019-09-19 13:19] SalilVishnuKapur commented on #420
@acxz Kindly guide me If I should manually fix all the obsolete opencv syntax to build image_pipeline for opencv 4.1.0? I have no option left to build it with opencv 3. I am building up 10 ros opencv dependent packages and after beating my head with these, I have nearly fixed all the issues except for this image_pipeline package and two others. Now these three packages have just these obsolete nam

[2019-09-19 13:55] SteveMacenski commented on #460
Unfortunately we don’t directly support openCV4. If you have code changes that fixes your problem and is backwards compatible, we’d be happy to review a PR.

[2019-09-19 13:55] #460 closed, assigned to nobody

[2019-09-19 20:26] rukie opened #461 "No Status Bars"
I'm running ros-kinetic on Ubuntu 16 and attempting to run camera calibration on simulated data.

I previously had issues with the GUI freezing on start-up because OpenCV 3.4 is on my machine. I decided to try building the package after installing through apt-get failed.
(Similar issue here: https://answers.ros.org/question/296087/camera_calibration-opens-gui-window-but-freezes/)

After building l

[2019-09-19 20:29] JWhitleyWork commented on #461
@rukie - I don't believe the bars will show up until the first successful measurement has been taken. What command are you using to run the calibration tool?

[2019-09-19 20:37] rukie commented on #461
The checkerboard is 14x14. I've found its recommended to search for something slightly smaller.
/unity_image/raw is republished by image_transport to convert from a compressed image, to a sensor/Image message.
Command used:
[code]

[2019-09-19 20:44] rukie commented on #461
So it has to be 1 under in each direction. a 14x14 chessboard must be 13x13.
![image](https://user-images.githubusercontent.com/6559628/65279652-630a3700-daf4-11e9-8511-661df9841db6.png)

[2019-09-19 20:45] #461 closed, assigned to nobody

[2019-09-19 20:45] JWhitleyWork commented on #461
That's because it is asking for the number of intersections, not the number of squares. It's a confusing parameter.

[2019-09-20 23:55] acxz commented on #420
@SalilVishnuKapur From what I understand this package should work with opencv4. See #375
Nvm, opencv4 is not directly supported by this package. I am afraid I cannot help. Although the ArchLinux package for this does build successfully with opencv4. (No source code is changed for this) If you want the latest software packages, I would recommend moving over to ArchLinux, (I would also be able to he

[2019-09-21 00:08] Prueb32112312 opened #462 "camera calibrator for monocular camera with 320x240 resolution"
I need to use the camera_calibration package for a camera with 320x240 resolution, but I don't know where I can fix those values. I calibrated the camera with [this](http://wiki.ros.org/camera_calibration/Tutorials/MonocularCalibration) package and I get:

image_width: 640
image_height: 360

What can I do?

[2019-09-21 00:11] SteveMacenski commented on #462
Please ask on ROS Answers

[2019-09-21 00:11] #462 closed, assigned to nobody

[2019-09-21 00:47] SalilVishnuKapur commented on #420
@acxz Thanks for replying back and I will definitely check Arch linux branch. Actually, I tried to build it with melodic branch of this packages but it failed. And I was able to build image_pipeline with opencv 4.1.0 by fixing it myself, though do read this comment by @SteveMacenski on my posted issue(https://github.com/ros-perception/image_pipeline/issues/460). And now out of the ten ros packages

[2019-09-21 14:01] acxz commented on #420
Arch Linux is not a branch it is another operating system like Debian or Ubuntu. Arch Linux is rolling release so it always has the most up to date upstream packages at any given time. For example, the default opencv on Arch is opencv4.

You can contribute to open source without being a maintainer. That is one of the beauties of open source, you don't have to "own" or officially be a part of the c

[2019-09-24 03:27] okasha55 opened #464 "unable to build"
-- Found OpenCV: /opt/opencv3 (found suitable version "3.4.7", minimum required is "3")
.
.
.
.
.
.
make[2]: *** No rule to make target '/opt/opencv3/lib/libopencv_core.so.3.4.6', needed by 'devel/lib/image_view/disparity_view'.  Stop.
make[1]: *** [CMakeFiles/Makefile2:146: CMakeFiles/disparity_view.dir/all] Error 2
make: *** [Makefile:130: all] Error 2

i have opencv 3.4.7 , these 3.4.6 files do

[2019-09-24 03:39] SteveMacenski commented on #464
Please ask on ros answers https://answers.ros.org

[2019-09-24 03:39] #464 closed, assigned to nobody

[2019-10-01 17:54] wbthomason commented on #455
@acxz Can you elaborate on what you did to get a working build? I have tried a clean build several times but keep encountering this issue.

[2019-10-15 23:39] SteveMacenski opened #466 "port to python 3 for noetic"
- [ ] camera calibration
- [ ] dynamic reconfigure across metapackage
- [ ] extract sync in image view

[2019-10-16 00:25] SteveMacenski opened #467 "ROS2 Port Metaticket"
* ~Ports needed with composition: #360~ COMPLETE
* update structure and files for ROS2 #468
* update any changes in the ROS1 version not reflected during port #449
* Replacement / augmentation for changing parameters in place of dynamic reconfigure https://discourse.ros.org/t/dynamic-reconfigure-porting/6497/14

[2019-10-16 00:43] #155 closed, assigned to nobody

[2019-10-16 00:43] SteveMacenski commented on #155
Been cold for a few years and sounds like there's a reasonable work around

[2019-10-23 15:26] Roemer commented on #146
Any news here? That feature could be really handy.

[2019-10-23 15:58] SteveMacenski commented on #146
@roemer PRs welcome. #440 and #441 do the bulk of the work but need someone to help get over the line.

I dont have a fisheye camera or use for one so I need someone with some need for it to respond to comments

[2019-11-03 09:32] SteveMacenski opened #468 "update ROS2 image_proc launch file & example component pipelines"

[2019-11-03 09:45] SteveMacenski opened #469 "Update CI and image pipeline for Eloquent release"

[2019-11-03 11:21] SteveMacenski commented on #430
Imminent pending PRs on this. Closing

[2019-11-03 11:21] #430 closed, assigned to nobody

[2019-11-03 11:23] SteveMacenski commented on #296
PR welcome

[2019-11-03 11:25] SteveMacenski commented on #255
PRs welcome to improve but replacement of the board isn't much of a "bug" as much as a wishlist feature

[2019-11-03 11:25] #255 closed, assigned to nobody

[2019-11-03 11:27] SteveMacenski commented on #403
@mjcarroll are you imagining image_proc or all the image pipeline nodes?

[2019-11-03 11:31] SteveMacenski commented on #468
Issues with node/nodelet directories, or `_node` files that wrap the composible node. Some nodes still named "nodelet". Launch files need to be ported to ROS2, as well as any yaml configuration files floating around.

[2019-11-03 11:42] SteveMacenski commented on #424
Closing since just a dynamic reconfigure soft limit & no response

[2019-11-03 11:42] #424 closed, assigned to nobody

[2019-11-03 11:45] SteveMacenski commented on #407
Looking over the ROS2 side of things, the only places boost exists are in areas without ports. I'm personally of the opinion an effort like that in ROS1 would be probably not a good use of time, so I'm leaning towards interpreting this ticket as relating to ROS2 as we move forward unless there's a strong reason to include this in Noetic.

[2019-11-03 12:19] JWhitleyWork commented on #407
Since Boost is required by the framework in ROS1, it's no extra bloat to use it there. However, since it isn't necessary in ROS2, this makes sense.

[2019-11-03 12:24] JWhitleyWork commented on #403
I've been doing a lot of porting recently and my earlier statement no longer applies. I think it makes sense to do all of them.

[2019-11-03 12:48] SteveMacenski commented on #403
OK.

What are your porting plans / actions?

[2019-11-03 13:19] JWhitleyWork commented on #403
Luckily, the port isn't that complicated. We just need to make sure that:

1. Each node is a separate class which inherits from `rclcpp::Node` and takes an `rclcpp::NodeOptions` object.
2. An executable is generated for each `component` (this is just an option in the call to `rclcpp_components_register_node`).
3. Each node is registered as a `component` using the appropriate CMake macros.
4. Some

[2019-11-03 13:30] SteveMacenski commented on #403
Got it, I thought you meant you were in the middle of some of these ports.

There's definitely still alot to be cleaned up (and some to be done to get image view & stereo pipeline back up). Mostly around the configurations for updating & consistency.

[2019-11-03 13:36] SteveMacenski commented on #306
Closing from merged PR

[2019-11-03 13:36] #306 closed, assigned to nobody

[2019-11-03 13:43] SteveMacenski commented on #272
Intel issue fixed, closing

[2019-11-03 13:43] #272 closed, assigned to nobody

[2019-11-03 13:44] SteveMacenski commented on #250
Rectified means undistorted, you have to undistort it to use the projections

[2019-11-03 13:44] #250 closed, assigned to nobody

[2019-11-03 13:45] SteveMacenski commented on #156
VIncent's comment is correct, closing

[2019-11-03 13:45] #156 closed, assigned to nobody

[2019-11-03 13:47] SteveMacenski commented on #445
You can independently calibrate their intrinsics before calibrating their extrinsics.

[2019-11-03 13:47] #445 closed, assigned to nobody

[2019-11-03 13:51] SteveMacenski commented on #265
PRs welcome, however scaling the image before registration would be a similar (if not exactly the same) process as interpolating point values between pixels to accomplish the same thing.

This could be implemented as a nodelet chain of resize->registration, or could add the interpolation capability inside of registration itself.

[2019-11-04 02:27] SteveMacenski commented on #468
Adding linter and uncrustify as well

[2019-11-04 03:22] SteveMacenski commented on #403
I just did a quick look over, it appears they're all registered as components expect the missing ports

[2019-11-04 03:25] SteveMacenski opened #472 "ROS2 Updated Features Metaticket"
* GPU enabled items as possible
* alot more tests
* Add new components for opencv3 and 4 features of use (or basic missing items like dilate/filter/detect/blob/etc)

[2019-11-04 03:34] JWhitleyWork commented on #403
Cool. Can probably close this then, since it's an established pattern.

[2019-11-04 03:35] #403 closed, assigned to nobody

[2019-11-04 03:36] #141 closed, assigned to nobody

[2019-11-04 03:37] #142 closed, assigned to nobody

[2019-11-04 03:38] SteveMacenski commented on #204
This crash doesn't tell us anything without compiling with GDB, please reopen with a backtrace or ask on ROS Answers

[2019-11-04 03:38] #204 closed, assigned to nobody

[2019-11-04 03:39] SteveMacenski commented on #251
Please ask questions that aren't bugs or feature requests on ROS Answers

[2019-11-04 03:39] #251 closed, assigned to nobody

[2019-11-04 03:40] SteveMacenski commented on #289
PRs welcome

[2019-11-04 08:20] #342 closed, assigned to nobody

[2019-11-04 08:20] SteveMacenski commented on #342
Closing from non-response

[2019-11-04 08:21] SteveMacenski commented on #282
Closing, question answered

[2019-11-04 08:21] #282 closed, assigned to nobody

[2019-11-04 08:22] SteveMacenski commented on #220
Indigo is now EOL & fixed in Kinetic

[2019-11-04 08:22] #220 closed, assigned to nobody

[2019-11-04 08:24] SteveMacenski commented on #235
Closing from non-responsive for 6 months. Feel free to re-open if still a problem in Melodic

[2019-11-04 08:24] #235 closed, assigned to nobody

[2019-11-04 08:27] SteveMacenski commented on #190
16/32 can be set by encoding from the drivers into the nodelet

[2019-11-04 08:27] #190 closed, assigned to nobody

[2019-11-04 08:28] SteveMacenski commented on #154
PRs welcome

[2019-11-05 21:02] DavidTorresOcana commented on #154
I was not able to reproduce this problem with a pinhole camera.
This **may** happen when trying to use Rational polynomial distortion model on camera with large distortion like fisheye lenses. This is an issue with the geometry and OpenCV optimization itself, not this package.

Just a clarification on ```camera_calibration``` tool flags:
 * if ```-k ``` or ```--k-coefficients``` is set to 3 or les

[2019-11-06 12:55] SteveMacenski commented on #154
This ticket is also 4 years old. Its possible its been fixed since then.

Closing.

(Also welcome to update the wiki, you can probably explain it better than I. I make my interns calibrate cameras for me)

[2019-11-06 12:55] #154 closed, assigned to nobody

[2019-11-06 13:48] JWhitleyWork opened #476 "Licensing Issues"
All of the packages in this repo are currently licensed under BSD 3-clause. However, some developers require their contributions to be under Apache 2.0 to be allowed to contribute during regular work hours. Projects licensed under Apache 2.0 can contain code licensed under BSD but we need to figure out how to handle license notification and licensing of contributions going forward.

[2019-11-06 13:49] JWhitleyWork commented on #476
@tfoote, @dirk-thomas, or @wjwwood probably have experience with this. Hopefully they can offer some guidance.

[2019-11-06 14:05] SteveMacenski commented on #476
("some developers" are me, if that wasn't totally clear, so we don't need to keep this too abstract)

[2019-11-07 18:33] #146 closed, assigned to nobody

[2019-11-14 19:20] wjwwood commented on #476
I don't have an answer.

Properly changing the license to Apache from BSD is a huge pain though, since we have to seek permission from all past contributors, or at least that's my understanding.

Maybe we can dual license it. In that case I don't know what incoming contributions would be under (both or just one? who chooses?). Though changing to a dual license may also require contacting all forme

[2019-11-14 19:21] wjwwood commented on #476
@gerkey do you have input on this?

[2019-11-14 19:23] SteveMacenski commented on #476
I'm not an expert on BSD <> Apache2.0 (and this question has come up a few times, I should talk to our lawyers), but off hand does anyone know if I can do `modifications made (C) Apache-2.0` on top of BSD?

I'm sure I can get permissions to contribute with BSD, but it is a pain. Apache-2.0 I (and probably most companies) can just do it off hand without having to fill out paperwork.

[2019-11-14 21:13] gerkey commented on #476
The easiest and least confusing path from the point of view of maintaining and consuming the code is to contribute changes under the same license that was originally used (in this case, BSD-3).

If that's not possible, and we want the changes (and, as @wjwwood said, we don't want to try to collect permission from all previous contributors to change the original license), then we're adding an addit

[2019-11-25 19:33] JWhitleyWork commented on #221
Should be closed by #481 in ROS1 and #475 in ROS2.

[2019-11-25 19:33] #221 closed, assigned to nobody

[2019-11-25 19:35] JWhitleyWork commented on #152
This is a very old ticket but many changes have been made to `image_view` since then. If #481 is not yet merged, try the branch `fix/reliably-close-image-view`. If that PR is merged, try the `melodic` branch. Please re-open the ticket if the issue is not solved.

[2019-11-25 19:35] #152 closed, assigned to nobody

[2019-11-25 20:50] SteveMacenski opened #483 "Create Eloquent branch + CI"

[2019-11-25 20:50] #476 closed, assigned to SteveMacenski

[2019-11-25 20:50] #469 closed, assigned to nobody

[2019-11-25 21:13] JWhitleyWork commented on #483
The official ROS Docker Hub doesn't have `eloquent` containers yet. This will keep us from being able to do CI unless we want to build our own based on `ubuntu:bionic`, which would add a good amount of time to each build (10+ minutes). Up to you.

[2019-11-25 21:19] SteveMacenski commented on #483
The ROS build farm will have a PR builder for Eloquent that should be fine to start with

[2019-11-26 19:45] SteveMacenski commented on #483
@JWhitleyAStuff we also don't really have a dashing branch / CI, we have a master ros2 branch. Given Dashing is LTS we should have a separate branch for that now.

[2019-11-26 19:46] SteveMacenski commented on #483
Not sure if this is something you can work on, I'm currently dealing with PCL perception & RL

[2019-11-26 19:55] JWhitleyWork commented on #483
@SteveMacenski Do we want to wait until the whole stack is ported? I don't think we've actually done a release for Dashing yet, right?

[2019-11-26 19:57] SteveMacenski commented on #483
We haven't done a release yet, no, but also there were a number of changes in Eloquent, so we should really be keeping up with current or after we're done porting to ROS2, we're going to need to port from Dashing to G-turtle.

There's things to be cleaned up (and test that actually works) but everything is there except stereo image proc and camera calibration

[2019-11-26 19:58] JWhitleyWork commented on #483
Do you have Slack or a faster communication mechanism? I feel like we're using an issue as a chat board.

[2019-11-26 20:04] SteveMacenski commented on #483
I dont... There's also a ROS perception Riot (matrix client) Michael setup.

+rosorg-perception:matrix.org

But I think this is also an appropriate discussion for a ticket

[2019-11-26 20:05] JWhitleyWork commented on #483
OK. So, how about we rename `ros2` to `dashing` and then branch for `eloquent`?

[2019-11-26 20:07] SteveMacenski commented on #483
Well we still want a master branch to work off of, I think ros2 meets that requirement.

Usually how this has worked in the past is a master (ros2, whatever) branch to develop on, and before a release backport master to a distribution.

I'm also fine not releasing to eloquent out of the gate, but Dashing should also be protected from master when we eventually go forward port to a newer distributio

[2019-12-05 17:06] aqiuxx commented on #201
@vrabaud， thanks， its works for me when i change the command
` rosrun rqt_image_view rqt_image_view image:=/camera/rgb/image_raw`

[2019-12-10 17:50] jacobperron commented on #360
FYI, I have some bandwidth now and will start porting `stereo_image_proc`.

[2019-12-11 14:35] laszloturanyi commented on #360
Hi,
I managed to port stereo_image_proc some days ago. There is still some work to do to pass all the tests but now it can function.

@jacobperron you do not have to do it from scratch I rebased it to your jacob/ros2_image_processor
you can find a link to my fork. (https://github.com/laszloturanyi/image_pipeline/tree/ros2_stereo_image_proc)

I would be glad if you could have a look at it I have li

[2019-12-11 19:06] jacobperron commented on #360
@laszloturanyi Thanks for sharing your effort! I'm happy to build on your fork if you don't have the time to finish the port.

[2019-12-12 08:36] laszloturanyi commented on #360
@jacobperron that would be great. I added you as collaborator.

[2019-12-13 23:43] jacobperron commented on #360
See #486 for a port of stereo_image_proc.

@laszloturanyi I ended up not basing my fork on yours, as I had already done some of the same preliminary refactoring as you. It would be great if you could help review/try out the proposed port :)

I'll be adding support for parameter limits/reconfiguring shortly.

[2019-12-18 16:48] nick-paul commented on #290
I am having a similar issue with the current version of `stereo_image_proc` A point cloud is published with the correct transform but only a single point is visible at the origin of the transform in rviz.

These unanswered questions on answers.ros.org are describing the same issue and go into a bit more detail:

  - https://answers.ros.org/question/333144/stereo_image_proc-does-not-generate-pointc

[2019-12-20 05:53] furushchev opened #488 "Request: release into melodic"
It looks there are many changes on melodic branch since the last release.
https://github.com/ros-perception/image_pipeline/compare/50849fe041ec628ab11424cf5b5df43d533b877a...00e7c02aeb3fe4283e6327e28eb9e24f0120fd98

I'd like to kindly ask to release the new version with these updates into melodic.
Thank you very much in advance!

[2020-01-07 16:26] JWhitleyWork commented on #488
@SteveMacenski - Are there any currently-open PRs that you'd like to see merged before I release a new Melodic version?

[2020-01-09 15:49] berktepebag commented on #201
@roehling,  your solution also worked with Jetson Nano and "image_transport Tutorials Subscribing To Images" example. Thanks

[2020-01-11 06:07] SteveMacenski commented on #488
Not in my book, no

[2020-01-13 13:49] maximus5684 commented on #488
https://github.com/ros/rosdistro/pull/23503

Once this is merged it will take 2-4 weeks for the new version to be available in the repos.

[2020-01-13 13:50] JWhitleyWork commented on #488
Wrong account.

[2020-01-13 13:50] #488 closed, assigned to nobody

[2020-01-17 15:39] nick-paul opened #496 "PointCloud data is all Zeros/NaNs"
A point cloud is published with the correct transform but the XYZ data is entirely zeros and NaNs.

![Screenshot from 2020-01-17 10-26-02](https://user-images.githubusercontent.com/8041353/72624261-a3e45200-3914-11ea-974e-83f40fea6043.png)
*Rviz displays all points at the origin (visible axis is base_link). The console shows the output of a small c++ node I wrote which checks the point cloud coord

[2020-01-20 16:41] nick-paul commented on #496
Turns out the `camera_info` topics were not filled in correctly by the simulation I was using to generate the camera data. A few missing values caused all the matrix math to zero out and produce the above output. If anyone runs into this issue in the future, be sure to check that the data in your `camera_info` *([sensor_msgs/CameraInfo](https://docs.ros.org/melodic/api/sensor_msgs/html/msg/CameraI

[2020-01-20 16:53] JWhitleyWork commented on #496
Thanks for posting the solution, @nick-paul ! Glad to hear it was fixed.

[2020-01-20 16:53] #496 closed, assigned to nobody

[2020-02-11 15:16] D7823 opened #497 "[Camera Calibration] Exploring the stereo camera calibration result"
Hi,

So I did the camera calibration for the stereo camera and generate the yaml files for the left and right camera. But where can I find the baseline value for thees two fovs on x-axis? Or I simply measure it by myself?

Thanks in advance.

[2020-02-11 15:42] trigal commented on #497
could be useful https://answers.ros.org/question/224342/stereo-calibration-the-extrinsic-parameters-to-tf/

[2020-02-11 16:39] SteveMacenski commented on #497
Hi,

Thanks for your interest in this package. However, use questions should be directed to ros answers rather than in the issue trackers.

Thanks!

S

[2020-02-11 16:39] #497 closed, assigned to nobody

[2020-02-11 18:35] D7823 commented on #497
Sorry about that.

[2020-02-12 09:51] machinekoder commented on #265
Thanks for the explanation. Is there more info on the `resize` operation? `image_proc` is sparsely documented.

[2020-02-12 16:48] prasgane opened #498 "Image view seg faults on raw images"
OS: Ubuntu 18.04
ROS Melodic

Image view seg faults when trying to run it from terminal. It seg faults only on raw images.

rosrun image_view image_view image:=camera/rgb/image_raw
[ INFO] [1581525926.314035143]: Initializing nodelet with 12 worker threads.
[ INFO] [1581525926.384639584]: Using transport "raw"
Segmentation fault (core dumped)

[2020-02-12 17:07] JWhitleyWork commented on #498
What type of camera are you using? What driver? Do you know what image format is being used for the `raw` stream?

[2020-02-12 17:19] prasgane commented on #498
I am using an Orbbec Astra pro with [this driver](https://github.com/orbbec/ros_astra_camera). It was working before I rand apt-get update and upgrade.
I am not sure about the image format.

[2020-02-12 19:03] SteveMacenski commented on #498
Compile with debug symbols and get us a traceback when you have a moment.

What's your architecture, versions, etc

[2020-02-12 20:11] prasgane commented on #498
I haven't build from source. I used apt-get to install it. The error persists when building from source too. Not sure if this is what you meant by traceback:
[code]
OS: Ubuntu 18.04
ROS Melodic
OpenCV (default that comes with ROS) 3.2

When I run debug with CLion, it faults on cvConvertImage() in  cv::imshow().

[2020-02-12 20:18] JWhitleyWork commented on #498
The topic you're using isn't a valid topic. It should start with `/`. Can you please run the `astra` driver again and give us the output of `rostopic list`?

[2020-02-12 20:37] SteveMacenski commented on #498
There is no requirement to start with `/` as far as I’m aware.

Can you compile with gdb and get us a traceback, ei where its failing and why.

If you think its from imshow, either your opencv install is incorrect or the image is invalid.

[2020-02-12 20:46] prasgane commented on #498
I am not so sure about the invalid topic because if it was the node wouldn't even subscribe to it and a rostopic echo work with that. I believe the / is to prevent any more namespaces from being added.

I have been testing it off a bagfile I recorded a while back. The image_view node worked the same bag file until recent (if I recall right, last week) before I ran update and upgrade. But here is t

[2020-02-12 20:50] JWhitleyWork commented on #498
Yeah, sorry about the `/` comment. Is the bag something we could download for testing?

[2020-02-12 21:08] prasgane commented on #498
@SteveMacenski is this helpful?

[code]
I am really surprised about the cv errors considering that it works for other types or images (mono and depth) and dont think the images are incorrect considering that the bag file worked few days back and this error happens when I connect the camera and run it live.  I have been able to repeat this in another computer in our lab (with the same setup 18.04 a

[2020-02-12 21:23] JWhitleyWork commented on #498
One more piece of information would help: Can you `rostopic echo /camera/rgb/image_raw | grep encoding` and let us know what encoding it is being published as?

[2020-02-12 21:27] SteveMacenski commented on #498
So you're 90% there, after it crashes in the gdb sessions type "backtrace" and that's what we really need. That will give you a full rundown of what was called and how

[2020-02-12 21:27] prasgane commented on #498
encoding: "bgr8"

[2020-02-12 21:28] prasgane commented on #498
[code]

[2020-02-12 21:38] SteveMacenski commented on #498
This appears to be from your `/opt/ros/melodic` install not your workspace build

[2020-02-12 21:41] prasgane commented on #498
[code]
Sorry, here is the one from my workspace build.

[2020-02-12 22:24] SubMishMar opened #499 "Difference between Camera Matrix and Projection matrix for monocular camera calibration."
Below is the result I get with monocular camera calibration using the ros-camera calibrator.

[code]

Since it is a monocular camera with no ROI as the full image, I was expecting the projection matrix to be same as the camera matrix (as explained here: https://docs.ros.org/melodic/api/sensor_msgs/html/msg/CameraInfo.html) but it is not so. Can anyone explain me why? I am not sure what I am missin

[2020-02-12 23:03] SteveMacenski commented on #499
Please direct this question to ROS Answers, thanks!

But as you can see [here](https://github.com/ros-perception/image_pipeline/blob/melodic/camera_calibration/src/camera_calibration/calibrator.py#L672) this just wraps typical openCV capabilities. I'd look at their docs first.

[2020-02-12 23:04] #499 closed, assigned to nobody

[2020-02-13 16:49] b4795 commented on #498
I also have this issue. But a few days ago I did not have this problem.

Could this caused by the recent update from 1.13.0-1bionic.20191211.032606 to 1.14.0-1bionic.20200116.135419 (Ubuntu 18.04)?

In my "/var/log/apt/history.log" I see the following (edited for clarity):
[code]

[2020-02-13 18:58] SteveMacenski commented on #498
@JWhitleyWork it looks like you were the last to touch this file - any input?

Like Josh said, can you provide us with a _short_ bag file to start from to make sure we're all on the same page?

[2020-02-13 19:20] prasgane commented on #498
Please find a bag file using this link:
https://www.dropbox.com/s/jigg8m7e7dgvk4x/2020-02-13-15-05-37.bag?dl=0

[2020-03-14 17:31] SJamieson opened #501 "camera_calibration/calibrator.py: calibration dump fails because self.size is not set"
OS: Ubuntu 18.04
Behaviour: Try calling do_calibration with dump=True, receive the following error:
[code]

Desired behaviour: The size that is set in the following line should be included in the dump, so that the dump matches the args used for camera calibration

[2020-03-14 18:48] SJamieson opened #503 "camera_calibration/calibrator.py: StereoCalibrator fails for stereo fisheye cameras"
OS: Ubuntu 18.04
Behaviour: Calibrating a stereo camera results in the following error when using fisheye cameras
[code]

Desired Behaviour: stereoCalibrate succeeds and finds good distortion parameters
Diagnosis: StereoCalibrator fails to appropriately set camera model for left and right mono calibrators by overriding set_cammodel(model)

[2020-03-15 05:17] ToniRV commented on #71
+1

[2020-03-16 06:02] AIWintermuteAI commented on #71
@ToniRV https://github.com/skohlbr/disparity_image_proc
I remember in the end I was successful using this old package(Kinectic, Ubuntu 16.04). It took me quite a long while to get the settings right. Spent 20 minutes looking for this package on Github xD
Fortunately I created an issue in that repo, that is how I was able to find it.
https://github.com/skohlbr/disparity_image_proc/issues/2
The tric

[2020-03-16 19:01] #501 closed, assigned to nobody

[2020-03-18 23:58] nidhiratanpara commented on #308
This does not work with the workaround yet. I am using the latest opencv version.

[2020-03-18 23:59] nidhiratanpara commented on #308
@JWhitleyWork  This does not work with the given workaround yet. I am using the latest opencv version.

[2020-03-19 00:09] JWhitleyWork commented on #308
@nidhiratanpara This is a very old issue. Please create a new issue with your environment details and the error you're seeing.

[2020-03-19 15:03] amrehab410 opened #505 "monodepth usage"
I was wondering if the depth_image_proc package can be used with depth images generated from mono images?

[2020-03-20 14:13] valgur commented on #505
You can do that sure, but `depth_image_proc` itself won't help you too much. You should simply create a Python node with an `Image` subscriber and `DisparityImage` publisher that applies depth prediction to the input image.
I have written such wrapper node at some point that I could share, but I can't find it right now. For `monodepth2`, you might find my fork that restructures it into a setup.py-

[2020-03-20 14:45] amrehab410 commented on #505
Looks like I didn't explain the inquiry in a correct way, I need to generate a pointcloud2 msg from a depth image(generated from monodepth2), I've tried but there isn't any output from /points topic and thanks for your reply

[2020-03-23 15:10] seanrivera opened #506 "Buffer overrun with message length [0]"
Hello,

I am performing a fault sensitivity analysis on several common ROS nodes and discovered that there is a buffer overrun in the image_proc node. It seems like the proc node simply works with the deserialized image after execution.

Exception thrown when deserializing message of length [0] from [/test_node]: Buffer Overrun

[2020-03-23 15:36] ToniRV commented on #71
I'll have a look thanks!

[2020-03-23 16:15] ToniRV commented on #71
Voila:
![image](https://user-images.githubusercontent.com/9856163/77337819-d12bf280-6cff-11ea-8eea-ed5f33183960.png)

Everything was there already thanks to @skohlbr
I enumerated my changes here https://github.com/skohlbr/disparity_image_proc/issues/2

[2020-03-23 17:43] SteveMacenski commented on #506
PRs welcome!

[2020-03-28 17:59] jorgemiar commented on #460
@SalilVishnuKapur could you elaborate how you made it work with openCV 4 please? What files do I need to update?

[2020-04-01 09:59] ViacheslavRud opened #510 "Installation instructions for depth_image_proc"
Can somebody provide installation instructions?
I tried to install it with cmake + make install but still cannot run it
`rosrun nodelet load depth_image_proc/point_cloud_xyzrgb __name:=point_cloud_xyzrgb`
`[rosrun] Couldn't find executable named load below /opt/ros/kinetic/share/nodelet`

[2020-04-01 17:19] SteveMacenski commented on #510
Please ask on ROS Answers.

[2020-04-01 17:19] #510 closed, assigned to nobody

[2020-04-02 12:57] ConnorCrwfNRG opened #512 "Unable to view usb_cam/image_row topic on image_view and Catkin Build issue for image_view"
Ok, so after running this launch file on a fresh re-install of Melodic, I get the subsequent error message:

[code]

[code]

This led me to try to install both usb_cam and image_view from source. Had the following error with catkin build of image_view (cloned from this repo), though.

Following error when running catkin build on image_view (cloned from this repo):

[code]

I think the problem may

[2020-04-02 13:17] ConnorCrwfNRG commented on #512
Remove /usr/local/lib/libsqlite3.so.0.* files solves the problem as found from this stack exchange post

https://gis.stackexchange.com/questions/271753/ogrinfo-symbol-lookup-error-usr-lib-libgdal-so-20-undefined-symbol-sqlite3

[2020-04-02 13:17] #512 closed, assigned to nobody

[2020-04-10 06:09] #360 closed, assigned to nobody

[2020-04-10 06:41] SteveMacenski commented on #483
@JWhitleyWork how do you feel about skipping Eloquent and moving to Foxy?

Alternatively, we can see if we can get the ros2 master branch working on Eloquent as well and release it then.

I think we should set an actual goal to start fresh in Foxy and have an actual foxy branch separate from ros2 & release debians. We have a full port now, minus working launch files which @klinton has a PR for. Wi

[2020-04-10 06:43] SteveMacenski commented on #498
Pinging @JWhitleyWork  - it looks like you may have broken this from my Feb 13 comment

[2020-04-10 06:44] SteveMacenski commented on #505
Please ask on ROS answers, thanks!

[2020-04-10 06:44] #505 closed, assigned to nobody

[2020-04-10 06:45] SteveMacenski commented on #506
Hi,

Any update on this @seanrivera ?

[2020-04-13 13:15] seanrivera commented on #506
Hi,

Sorry about the delay in getting back. I haven't had time to dive into the issue for the past couple weeks.

[2020-04-13 19:40] caelinsutch commented on #483
To clarify is there any eloquent packages currently? Or will the ROS2 branch compile/run for eloquent? I'm looking for image_proc in eloquent.

[2020-04-13 19:50] SteveMacenski commented on #483
Go ahead and try with `ros2` and file a ticket if you have any issues. I suspect it will work. We're just now working through completing the initial ROS2 port so we haven't yet gotten to making the differentiation between specific distributions.

[2020-04-13 20:05] dejongyeong opened #514 "cannot find cameracalibrator.py in "melodic" ros"
Hi. I am having an issue with regards to the cameracalibrator.py. It gave me an error stating that cannot find cameracalibrator.py in package. Please help thanks.

[2020-04-13 20:11] SteveMacenski commented on #514
Please ask on ROS answers, thanks!

[2020-04-13 20:11] #514 closed, assigned to nobody

[2020-04-13 22:10] caelinsutch opened #515 "ROS2 image_proc not creating any topics"
My Launch File:

[code]

Excuse the poorly written code :)

Everything launches fine, the image_proc node runs, but no topics are outputed.

[2020-04-13 22:31] JWhitleyWork commented on #515
Would you mind providing us with the following information?

OS Version:

ROS Version:

`image_proc` version or commit hash:

When running, output of `ros2 node info /rectify_color:

[2020-04-13 22:56] caelinsutch commented on #515
OS version - Ubuntu 18.04
ROS Version - ROS2 Eloquent
Image Proc Version - ROS2 most recent commit
Output of `ros2 node info /stereo/left/rectify_color` (namespaced)

[code]

[2020-04-14 00:09] benhamlen opened #516 "image_view not functioning (segmentation fault)"
I'm running ros melodic on an nvidia xavier agx, ubuntu 18.04

Running `roslaunch video_stream_opencv video_file.launch` fails with the following output

[code]
I've tried to view the log file mentioned at the end of the output and it is empty/does not exist.

Setting the the visualize output line (line 32) of the video_file.launch file to false (shown below) eliminates this error and the program

[2020-04-14 00:15] SteveMacenski commented on #516
I'm confused, https://wiki.ros.org/video_stream_opencv is not in this repo. Did you mean to file a ticket there?

[2020-04-14 00:19] benhamlen commented on #460
@jorgemia I had this same issue yesterday on an nvidia xavier (opencv 4.1.something same pre-installed) I fixed it by sudo apt purging opencv and building opencv 3.4 from source. That allowed image_pipeline to make succesfully

Well, almost. One other small thing with the making after I installed opencv3 was that I needed to change one of the lines in the makefile for image_pipeline, as its lookin

[2020-04-14 00:21] benhamlen commented on #516
@SteveMacenski Ah, sorry for the confusion. I am almost certain the issue lies with image_view. Just wanted to provide context of where the image topic i'm feeding image_view is coming from

I should add that the purpose of adding the line about changing the launch file option from true to false is there because changing it to false makes that launch file no longer call image_view, which, in turn,

[2020-04-14 01:28] JWhitleyWork commented on #483
I think the `ros2` branch needs a hell of a lot of clean-up. Because of this, I think cleaning it up on `ros2` and then creating a Foxy branch/release is a more attainable goal by the time that Foxy is out than trying to clean up `ros2`, trying to make a working Eloquent release, then trying to make a Foxy release by the time Foxy is out. Thoughts?

[2020-04-14 02:13] SteveMacenski commented on #483
I don't understand what you just said. What I think we should do is do whatever is required on ros2 master and we can branch off for foxy when we're done.

[2020-04-15 20:25] caelinsutch commented on #515
Update - I submitted a pull request with the fixes made and I've attached the working launch file below

[code]

[2020-04-15 20:36] SteveMacenski commented on #515
@caelinsutch what updates did you actually need to make? It seems like updating the launch file. I see a ton of work that is undescribed in the code itself - can you clarify what you did and why?

[2020-04-15 21:25] caelinsutch commented on #515
@SteveMacenski I took some edits from #457. A lot of the changes seem to be reformatting issues, so I may have to fix that. As I moved from CV3 to CV4, I added namespace on some of the enums to ensure that they would compile properly

[2020-04-15 22:11] SteveMacenski commented on #515
OK, lets separate these into 2 tickets. This one is for image proc launch file / not working. Lets do that in a PR and lets have a separate opencv4 PR. Dashing and Eloquent run OpenCV3 so we need to support that, but Foxy will be openCV4 so that would be useful to have updates, but we need to find a way to support both or make a new branch for Dashing/Eloquent so ros2 master can move onto Foxy.

M

[2020-04-15 23:03] caelinsutch commented on #515
@SteveMacenski I made a branch for CV4 changes [here](https://github.com/BytesRobotics/image_pipeline/tree/ros2-cv4), how would you like me to open a PR?

[2020-04-15 23:09] SteveMacenski commented on #515
@caelinsutch does your new launch file work (vs old one not)? If so, please submit just that in a PR and we can merge it probably immediately.

After that's in, then that means as far as opencv3 goes, I think that makes everything work. At that point, I can branch off a dashing/eloquent branch with those changes and then we can work on integrating the opencv4 into the `ros2` main branch. Alternati

[2020-04-15 23:30] caelinsutch commented on #515
@SteveMacenski I updated just the launch file [here](https://github.com/BytesRobotics/image_pipeline/tree/ros2) with a working version

[2020-04-15 23:50] SteveMacenski commented on #515
Please submit a PR, Josh and I will review and merge. I'm happy as is with that but it looks like you may be missing some remaps:

                        ('image_mono', 'image_color'),
                        ('image_rect', 'image_rect_color')

You remap the input (?) but not the `rect` topics.

[2020-04-15 23:51] caelinsutch commented on #515
Update, after some more testing it's not ready to go, I'll submit a PR tomorrow. Let me know if theres anything you want changed in the CV4 version

[2020-04-16 20:13] caelinsutch opened #518 "ROS2 image_proc decreases resolution far worse than melodic release"
With the same config, the ROS2 version of image_proc has far worse resolution than the ROS1 version. Here's an example of the images:

https://imgur.com/a/g6EN5I0

[2020-04-16 20:55] SteveMacenski commented on #518
Do you see any clear errors or changes in the diffs between them?

[2020-04-16 20:55] SteveMacenski commented on #515
Ok, @caelinsutch looking forward to it

[2020-04-17 16:53] benhamlen commented on #516
@SteveMacenski do you have any updates on image_view's issues? I saw in a different thread that it was possible some dev was the last person to push changes to it and might have messed it up? Just to reiterate, this issue thread is about image_view. Sorry for the earlier confusion

[2020-04-17 19:11] caelinsutch opened #520 "ROS2 Image Resize isn't working in image_proc"
the image_resize node doesn't publish any data. The fix is removing
[code]
in line 110 of `resize.cpp` in `image_proc`.

I'm guessing that rclcpp has a bug. I removed it for now on a custom branch, but I'm not sure if you want a pull request without this line, as it'll be publishing unnecessary data. Let me know what you think.

[2020-04-17 20:04] SteveMacenski commented on #516
Can you reproduce using a much simpler demo? You have alot of stuff going on in your description, boiling it down to a simple issue with just this tool.

Also verify as you mention that you’re compiling against the right version of opencv. How’d you install it, versions, etc.

Also, run gdb on it and see where its segfaulting. Maybe its obvious where it is then.

[2020-04-17 20:30] caelinsutch commented on #518
Not that I can see when comparing melodic and ROS2 branch. I filed an issue in the opencv_vision package repo which provides the rectifiyImage method that's used in rectify.cpp

[2020-04-18 03:18] SteveMacenski commented on #520
Try with this API: http://docs.ros2.org/eloquent/api/rclcpp/classrclcpp_1_1Node.html#a7aa2ed22450d2f3300ea5b879acd73b8

That's what I've used in the past, I think you're right that the PublisherBase's has an issue (or component issues). I'm seeing that line commented out in a few (not all) of the components in image proc. If you're going to remove it, please simply comment it out, do not delete th

[2020-04-18 03:21] SteveMacenski commented on #518
Thanks for closing the loop on that one. If you find the issue and submit a PR, ping back here so I can be aware or push maintainers to react. I glanced through the source code for the pinhole model and I don't see any glaring errors.

[2020-04-22 20:23] caelinsutch commented on #518
So the interpolation parameter doesn't seem to be working in the ROS2 release. The melodic release had the default interpolation mode to be `INTER_LINEAR`, versus ROS2 had it set default to `INTER_NEAREST`

 I'm not sure if this line: `interpolation = this->declare_parameter("interpolation", 0);` is working, as setting parameters in launch files and from command line doesn't seem to be working, so

[2020-04-22 20:29] SteveMacenski commented on #518
It looks like the default in ROS1 is `1` or linear, so yes please, I'd accept a PR changing it back to that (https://github.com/ros-perception/image_pipeline/blob/melodic/image_proc/cfg/Rectify.cfg#L15).

On the question of the parameter not working - are you sure you have the namespacing correct? I'd do some parameter list and dumps to make sure its where you expect it to be.

If you just change

[2020-04-23 16:44] sloretz commented on #466
Friendly ping. It looks like all of `image_pipeline`'s dependencies have been released to ROS Noetic, and 32 repos are waiting for it.

[2020-04-23 17:09] SteveMacenski commented on #466
I think the blocker here is bandwidth.

[2020-04-23 19:36] caelinsutch commented on #518
As far as the parameter goes, based on the parameter lists and dumps it is in the correct place. After changing the interpolation param to be in the parameter callback function it worked fine to be set using parameters. Namespaces don't normally affect parameters used in launch files right?

[2020-04-23 19:37] #518 closed, assigned to nobody

[2020-04-23 20:01] #520 closed, assigned to nobody

[2020-04-24 23:33] JWhitleyWork commented on #466
@sloretz This is being attempted in #507. However, it definitely needs some changes. A review of the code in that MR would be helpful.

[2020-04-29 18:36] bltDefender opened #525 "Melodic on odroid-n2/ubuntu 18.04 cannot find ImageViewConfig.h"
[code]

Can you please give me a hint what am I missing here? Where do I get the missing header file from?

[2020-04-29 21:35] JWhitleyWork commented on #525
@bltDefender This header file is generated by `dynamic_reconfigure` from the `image_view/cfg/ImageView.cfg` file when the node is built. Make sure you have installed all prerequisites using `rosdep` before trying to build the node and `catkin clean` your workspace and try again.

[2020-04-30 01:32] bltDefender commented on #525
I did already. All deps satisfied, ws was cleaned. From the build log I cannot see that `dynamic_reconfigure` writes that header file while others are written.

[2020-04-30 21:37] JWhitleyWork commented on #525
Can you give me more context? What command are you using to build the workspace? How is your workspace laid out? What version or commit hash of the repository and from which branch are you using?

[2020-05-01 01:53] bltDefender commented on #525
To ease the debugging I created a new workspace. In src I cloned recent branch `origin/melodic`. Above src folder I do resolve deps via `rosdep install --from-paths src -y --ignore-src --rosdistro=melodic`. Then I simply run `catkin_make`which fails . See https://pastebin.fun/6hamphEvyb

Ros Version is 1.14.5. Ubuntu ist bionic 18.04.4. Ros packages come from http://packages.ros.org/ros/ubuntu bio

[2020-05-03 05:06] aytimothy commented on #516
It could be something to do with the environment that we're running in? I started from a [Ubuntu Server setup](http://cdimage.ubuntu.com/releases/18.04/release/) and [installed ROS](http://wiki.ros.org/melodic/Installation/Ubuntu), a [desktop](https://mate-desktop.org/)+[RDP](http://xrdp.org/) (because headless setup) and all that, though my intentions are that of #498 plus `image_compressed`.

Fr

[2020-05-03 05:19] bltDefender commented on #525
Is there anything wrong the way I did it?

[2020-05-03 05:29] aytimothy commented on #516
I have a crash dump here: [https://aytimothy.xyz/files/pub/_opt_ros_melodic_lib_image_view_image_view.1001.crash](https://gist.github.com/aytimothy/8efa11ff62a0eca2ac22298be32c0cbb)

Edit: Link is now to GitHub Gists. You can still download from the external site.

[2020-05-03 05:51] awesomebytes commented on #516
@aytimothy Have you tried recording a short rosbag of the `image_raw` `camera_info` and maybe `image_raw/compressed` topics and then trying to run `image_view` playing this rosbag? If it crashes that way, it's a very easy way for developers to reproduce the issue and fix it. (And the rosbag can be attached to the comment of the issue so it doesn't depend on external hosts).

[2020-05-03 14:40] JWhitleyWork commented on #525
@bltDefender If you are using packages from the apt repository then you would not have this issue because they would already be pre-built binaries. You are building a workspace which includes the source code of this repository. I need to know which version (tag or commit hash) of the source code you are building.

[2020-05-04 06:01] aytimothy commented on #516
Okay, there's no point in posting a rosbag, because there's literally nothing to report (the rosbag file is empty), besides it saying "topic is not used" in the console even after started.

But what seems to be happening is that after it dies the first time, `roslaunch` (or something) starts it up again a few seconds later, and everything works fine. So, for this second launch, I doubt it's relate

[2020-05-06 06:09] #498 closed, assigned to nobody

[2020-05-06 06:17] JWhitleyWork commented on #516
@aytimothy Can you please test to see if the issue is resolved now that #526 is merged into Melodic?

[2020-05-06 07:00] awesomebytes commented on #516
@aytimothy Can you try to record a rosbag with having `visualize=false` (so some image from the `video_stream_opencv` driver gets published) and try to start `image_view` with the rosbag playing to see if it crashes? Just to confirm that it isn't related somehow to the format of the image published. If it would crash `image_view` it would be a perfect test case.

I don't know what may cause that b

[2020-05-06 21:06] JWhitleyWork commented on #516
@awesomebytes The `visualize` parameter doesn't exist in `image_view` and it never should have, IMO. The `image_view` nodelet is not intended as an image processor - there are plenty of other nodelets in this stack for that purpose - it is intended _only_ as an "image viewer." It should produce a GUI window which displays images from a given topic and that should be it's only purpose. If some mino

[2020-05-07 00:23] awesomebytes commented on #516
@JWhitleyWork the `visualize` parameter exists in the launchfiles from `video_stream_opencv`. As I believe we were having some kind of communication issue I was more detailed with the explanation of how and why to record a rosbag that may contain data that may trigger the crash in `image_view`.

[2020-05-07 00:46] JWhitleyWork commented on #516
@awesomebytes Thanks for the clarification.

[2020-05-13 18:48] SteveMacenski opened #527 "Noetic Release"
Currently blocked by https://github.com/ros-perception/image_pipeline/pull/507

[2020-05-15 03:12] sloretz commented on #527
:tada: Unblocked by #530 :rocket:

[2020-05-15 03:13] SteveMacenski commented on #527
You and Jacob are keeping me busy https://github.com/ros-perception/perception_pcl/issues/278

[2020-05-15 03:25] sloretz commented on #527
I'm happy to help if it's only the release left. If these are the right steps, with your permission I'll make it happen.

1. Update changelogs on branch `noetic` and bump `package.xml`s from `1.14.0` to `1.15.0`
1. git tag `1.15.0`
1. Create file `noetic.ignored` with content `wiki_files` in https://github.com/ros-gbp/image_pipeline-release
1. bloom release creating a track called `noetic` to rosd

[2020-05-15 03:27] SteveMacenski commented on #527
Sorry, I meant that as a joke, that was probably lost in text. I'll get to it tomorrow if you don't. It was just a little late today for me to start that process by the time that was ready to go.

[2020-05-15 04:40] sloretz commented on #527
I figured, but thought I'd offer in case there was a lot on your plate at the moment.

I interpreted that as permission :wink: https://github.com/ros/rosdistro/pull/24924

[2020-05-15 04:40] #527 closed, assigned to nobody

[2020-05-17 16:19] hoonkai commented on #516
@awesomebytes Hi I'm having the same issue. I've tried recording a rosbag as per your advice, but I get an error after 200 msgs:

I've attached a rosbag of 30 msgs and the original mp4 here:
[small.mp4.zip](https://github.com/ros-perception/image_pipeline/files/4640567/small.mp4.zip)
[test.bag.zip](https://github.com/ros-perception/image_pipeline/files/4640568/test.bag.zip)

Running image_view on

[2020-05-17 16:57] LukeAI opened #533 "Camera Calibration package outputting incorrect YAML?"
I've been trying to parse the camera calibration .yaml file via the ROS parameter server ([my ROS answers question here](
https://answers.ros.org/question/352519/how-to-retrieve-list-from-ros-parameter-server-that-is-not-comma-separated/)

and I found that the output of camera_calibrator in Kinetic is like the below.

distortion_coefficients/data has no comma separators. Is this intentional or a b

[2020-05-18 00:40] aytimothy commented on #516
I'll take a look see.

[2020-05-18 06:18] awesomebytes commented on #516
@hoonkai Thanks a lot for reporting and attaching the rosbag! I hope this is helpful for the developers :)
I'll look into the `Could not capture frame` error when I have some free time.

[2020-05-18 09:48] hoonkai commented on #516
@awesomebytes Thanks. Can you upload a working mp4 for me to test out `video_stream_opencv` + `image_view`? I've tried 5 different mp4s but none of them works and they all crash in the same fashion.

[2020-05-18 10:29] hoonkai commented on #516
That fixed it for me!

[2020-05-18 10:43] awesomebytes commented on #516
The mp4 found in video_stream_opencv was working I thought, up until your feedback. I can't take a look right now, but I'll do!

[2020-05-18 17:52] sloretz opened #535 "Mind making another Noetic release of image_pipeline?"
Mind making another Noetic release with #531? It looks like the `image_view` armhf binary job failed due to the race with generating `ImageViewConfig.h`. I can re-trigger the job and hope we avoid the race this time; but another Noetic release would guarantee it.

http://build.ros.org/view/Nbin_ufhf_uFhf/job/Nbin_ufhf_uFhf__image_view__ubuntu_focal_armhf__binary/5/console

[2020-05-18 18:38] JWhitleyWork commented on #535
GTG. https://github.com/ros/rosdistro/pull/24950

[2020-05-18 18:38] #535 closed, assigned to nobody

[2020-05-18 18:44] JWhitleyWork commented on #516
@hoonkai Please pull `master` and test. Once you've verified that the issue is resolved, I'll make a new release for Melodic.

[2020-05-18 19:02] SteveMacenski commented on #533
I don't think that is probably intentional, a PR to resolve this would be appreciated.

[2020-05-19 00:29] JWhitleyWork commented on #516
Awesome. I'll make release 1.15.0 for melodic now that includes this fix.

[2020-05-19 00:41] #516 closed, assigned to nobody

[2020-05-19 23:50] sloretz commented on #466
I think this could be closed thanks to #530

[2020-05-19 23:59] #466 closed, assigned to nobody

[2020-05-20 00:00] SteveMacenski commented on #515
I think we've merged this in

[2020-05-20 00:00] #515 closed, assigned to nobody

[2020-05-20 00:00] #468 closed, assigned to nobody

[2020-05-20 00:00] SteveMacenski commented on #506
@seanrivera any time to work on this? Or provide more information so someone can replicate / fix?

[2020-05-22 14:01] mfe7 commented on #496
I had the same issue, where the realsense d435i `/camera/infra2/camera_info` used Tx=0 by default, which means baseline=0, which made my correct-looking disparity image result in a pointcloud where all points were at the origin. Updating the messages (I wrote a small new node) with P[3]=-Tx'*B fixes the issue and the pointcloud now looks right.

There seems to be some discussion in the realsense r

[2020-05-27 12:37] mgerhardt10 opened #539 "Trouble running image_saver from roslaunch"
Hi!

I'm trying to run the image_saver tool from roslaunch (ROS Kinetic), and I'm having some difficulty. Specifically, I'm trying to implement this [answer](https://answers.ros.org/question/9377/how-to-take-save-a-snapshot-from-my-kinect-to-disk/?answer=235294?answer=235294#post-id-235294) on the Wiki.

Here's the launch file:

[code]

However, when I try to call the service

`rosservice call /im

[2020-05-27 14:16] SteveMacenski commented on #539
Please ask on ROS answers and provide verification that your topic is correct and you’re setting the params correctly.

[2020-05-27 14:16] #539 closed, assigned to nobody

[2020-05-27 17:01] mgerhardt10 commented on #539
I asked on ROS Answers [first](https://answers.ros.org/question/353291/trouble-with-image_saver/) but to no avail, which is why I posted here.

[2020-06-01 19:35] #483 closed, assigned to nobody

[2020-06-11 16:41] JStech commented on #191
This issue looks stale, but I'd like to have ChArUco board support. I'll see if I can get it working.

[2020-06-11 19:19] SteveMacenski commented on #191
@JStech sounds good! Its mostly stale because no one did it. If it works and it was done relatively cleanly, no issue merging it.

[2020-06-12 18:38] #503 closed, assigned to nobody

[2020-06-16 21:55] ezavesky commented on #191
Thanks folks, sorry that I'm not in that project space to help any more.  That said it still looks like a slick feature for calibration. +1 @JStech

[2020-06-24 09:28] PfeifferMicha opened #550 "noetic "Too many values to unpack" and "not enough values to unpack""
Both cameracalibrator and camerachecker fail for me (running with a 16x11 checkerboard) on the current branch noetic. It used to work with the package installed through apt with the same configuration.

When running the camerachecker I get an error
[code]

Using cameracalibrator, I get a similar error when pressing on "calibrate".
[code]

Also, using cameracalibrator the detected checkerboard poin

[2020-06-24 09:33] PfeifferMicha commented on #550
Update: Noticed that commit had "WIP" in its commit message. It works when I check out the commit before that (98364014ae3d4aa6ca92a0c7f6e8541ad0354675).

[2020-06-24 11:41] PfeifferMicha opened #551 "Saving tar fails in python 3.8"
When pressing "save" in cameracalibrator, the tool fails to save the tarballs and prints:
[code]

It looks like "basestring" [is deprecated](https://docs.python.org/3.0/whatsnew/3.0.html) in python 3.8. That document recommends replacing basestring with str, however then saving still fails with

[code]

I currently do not know enough about tarballs to fix this myself, maybe someone can have a look

[2020-06-24 18:10] SteveMacenski commented on #551
@PfeifferMicha thanks for the note. Can you try `memoryview(bytes("This is a string", encoding='utf-8'))`? That should get you the right types. If that all works out, please submit a PR and we'd be happy to merge it in

[2020-06-26 07:59] PfeifferMicha commented on #551
Done, pull request is open. I ended up removing the dependency on StringIO entirely, as using it would give me a lot of troubles downstream. Saving now works on python3.8, Ubuntu 20.04.

Side Note: Since the current head of branch 'noetic' is broken (Charuco integration is halfway done), I made this pull request on top of the previous commit, 98364014ae3d4aa6ca92a0c7f6e8541ad0354675. See also #550

[2020-06-26 17:19] SteveMacenski commented on #551
What do you mean its half implemented? (@JStech) Please describe.

[2020-06-26 18:29] JStech commented on #551
I don't currently have a Noetic install, so I just cherry-picked the commits and trusted CI. Everything is there. I can probably look into it this weekend.

[2020-06-26 18:58] SteveMacenski commented on #551
I think we need more info from @PfeifferMicha. Functionally noetic and melodic shouldn't really vary much so I want to know what they believe is "halfway done" to know what needs updates.

[2020-06-26 19:11] PfeifferMicha commented on #551
By "halfway done" I mean I needed to change quite a few things to get it to not crash. Then once that was done I noticed Stereo Calibration (my actual goal) was not implemented yet.
I had closed #550 since I thought this was sort of intentional (with "WIP" in the commit message), I'll reopen it and give more details there.

[2020-06-26 19:15] SteveMacenski commented on #551
@JStech can you follow up on #550? Looks like your commit may have introduced some issues.

Stereo for those tags haven't been implemented yet, you're welcome to do so. Its often a pain to implement a new tag for mono/stereo/fisheye so its not expected that someone does all of them (and in some cases the library may not support them)

[2020-06-26 19:42] PfeifferMicha commented on #550
Reopened because this seems to be an unknown issue after all (see discussion in #551).
It seems that the addition of charuco detection does not work yet and, worse, it broke normal checkerboard calibration as well.
There are various issues with the current head of noetic (df8713d). Sadly, I don't have my fixes any more, but here's how far I remember getting:

- The first issue is what's mentioned

[2020-06-26 20:03] JStech commented on #551
Yeah, I'll check it out. "Too many values to unpack" is an error I became very familiar with in implementing this feature, so it's probably my fault. Sorry about that.

And yes, stereo and fisheye are both unimplemented with the ChArUco board at this point because OpenCV doesn't have those functions implemented for ChArUco boards, and, frankly, it's not something I need right now.

[2020-06-26 22:20] SteveMacenski commented on #550
It sounds like we might want to revert the new calibration board PR. What do you think @JStech ?

[2020-06-26 22:20] SteveMacenski commented on #551
if its not in openCV, that's enough of a reason for me

[2020-06-27 05:03] JStech commented on #550
Fine by me. I'll test it more thoroughly and try again.

[2020-06-27 15:33] JStech commented on #550
Thanks for the thorough issue report. Just to confirm, when this happened you were doing a stereo calibration with a regular checkerboard target, not a ChArUco board, right? I can't figure out where that NotImplemented error could have come from.

I've fixed the problems you identified, and I looked for other places those functions are used to try to get anything else. I don't have a stereo rig to

[2020-06-27 15:45] PfeifferMicha commented on #550
Oh, sorry, I guess I wasn't clear on this: I actually tried both. We started out with a regular checkerboard and got the issues mentioned in the first post above. Then we tried with a Charuco board and got the other issues mentioned in the longer post.

I don't know what you mean with the NotImplemented error - it's in Line 1105:: https://github.com/JStech/image_pipeline/blob/8027bd147aca78ae487da

[2020-06-27 17:10] JStech commented on #550
OK--it sounded like you were only using a regular checkerboard, but then still hit that NotImplemented error. That was my confusion.

Thanks for your help--no worries about when you get to it.

[2020-06-29 16:29] JWhitleyWork commented on #551
@JStech / @PfeifferMicha Can you please verify that #554 fixed this issue?

[2020-06-30 12:18] PfeifferMicha commented on #550
I tested your branch:

- Stereo calibration with the checkerboard works again, as expected.
- Monocular Charuco calibration works as well.

There is still an issue though: After (charuco) calibration, when receiving new images, the application crashes when trying to calculate the linear error:
[code]
This only happens when the markers are in view.

For debugging purposes, here are the values of cr

[2020-07-01 20:55] ToniRV opened #557 "Avoid Error and return on different frame_ids"
Hi,

In most of the nodeletes, whenever their subscribe to two images, say for example depth and rgb image in point_cloud_xyzrgb, the `frame_id` of both images are compared and if not the same, then the node raises an error and stops.

It would be nicer if we could just raise a Warning and continue.

The case that I try to solve is when there is an RGB camera with frame id "rgb_cam" and a depth ca

[2020-07-01 20:57] ToniRV commented on #557
Same for point_cloud_xyzrgb:
https://github.com/ros-perception/image_pipeline/blob/56c3874e55de78cc973aa693da95a605d5a6a9f4/depth_image_proc/src/nodelets/point_cloud_xyzrgb.cpp#L162-L168

I'll be happy to open a PR if you agree on changing this! Thanks!

[2020-07-01 22:20] SteveMacenski commented on #557
Would it be better to convert into the new frame when they vary?

[2020-07-02 03:40] ToniRV commented on #557
Sorry @SteveMacenski, not sure what you mean by this.
What is the "new frame"?

It seems like the header for the output pointcloud is just the same as the depth msg:
https://github.com/ros-perception/image_pipeline/blob/56c3874e55de78cc973aa693da95a605d5a6a9f4/depth_image_proc/src/nodelets/point_cloud_xyzrgb.cpp#L258

I would keep that, and just warn the user that we are using the depth msg as a f

[2020-07-02 19:00] SteveMacenski commented on #557
If you have some data in rgb frame and some in depth frame, and those frames are not coaligned, you would need to transform one into the other frame so that they can be accurately registered. The error of 1cm on the accuracy of the fusion would be huge.

[2020-07-02 19:08] ToniRV commented on #557
Yes totally agree, but I would argue that that should be done by using the RegisterNodelet? https://github.com/ros-perception/image_pipeline/blob/1138200c7d955400488559b2b33b0734f8a976fd/depth_image_proc/src/nodelets/register.cpp

My point in this issue is that: while we keep the assumption that the frames are _already_ registered, we do not oblige the users to set the **name** of the frame_id to

[2020-07-02 19:22] SteveMacenski commented on #557
I disagree, if the frames are different, its because they're different. If they were the same, there'd be no need to distinguish them. In that case, you should file a ticket / PR with the sensor driver to change this (or whatever nodelet may be assigning frames).

I believe the error case is the correct case to stop from unexpected results when swapping between many different cameras / vendors.

@

[2020-07-02 21:00] ToniRV commented on #557
Also agree with the point you raise, it just depends on the philosophy of the code: do we prefer to ask for permission or forgiveness?
IMHO: permissions here would be:
[code]

while the forgiveness one would be:
[code]
Both are fine honestly.

[2020-07-07 06:37] blaine141 opened #559 "video_recorder is making an empty avi file"
I am trying to take the contents of a bag file and record them to a video file using the following launch file. The result is always an output.avi file that is 4.1kB and is not able to be played. Any advice?
[record_video.txt](https://github.com/ros-perception/image_pipeline/files/4882924/record_video.txt)

[2020-07-07 07:00] SteveMacenski commented on #559
Please ask on ROS answers

[2020-07-07 07:00] #559 closed, assigned to nobody

[2020-07-07 19:31] JStech commented on #550
Thanks for the info. I've fixed `linear_error` to handle partial board views.

I don't know what to do about the OpenCV error in the ChArUco calibration--it's not clear to me what that assertion means, and it's not happened to me. If you manage to reproduce it, I'd be happy to dig into it more.

[2020-07-07 19:38] SteveMacenski commented on #550
I think we should revert the charuco PR, if @JStech doesn't have time to debug, I don't want to leave this in a broken state

[2020-07-07 19:52] JStech commented on #550
I believe it's fixed, as of this change (I'm about to open the PRs). The other issues that @PfeifferMicha mentioned are not consistent--I've never seen them, and I believe Micha only saw them once each.

[2020-07-08 07:37] PfeifferMicha commented on #551
With #550 still open, I cannot verify, as (stereo) calibration fails, so I never get to the point where I can save. As soon as #561 is working and merged, I can try to verify this (for noetic, I still don't have a ros2 setup).

[2020-07-08 20:48] blaine141 commented on #559
If anyone else is having this issue it is caused by the image topic not having a timestamp

[2020-07-17 23:36] JWhitleyWork opened #567 "Change Default Branch Name"
Change default branch name from `master` to `main`. See https://discourse.ros.org/t/consider-renaming-default-branches/15385/40 for context.

[2020-07-20 17:37] dawonn-haval opened #568 "Disable "Publish Color!" debug_info"
https://github.com/ros-perception/image_pipeline/blob/c831f7c6f4ce0864de27306d19d3d2c888d5ca73/image_proc/src/debayer.cpp#L181

I think this might be a left-over debug print, bloats log files unnecessarily.

[2020-07-20 23:14] JWhitleyWork commented on #568
@dawonn-haval Would you mind submitting a PR to remove it? Given that it is for ROS2, we'd appreciate one against the `dashing` branch and another against the `ros2` (`foxy`) branch.

[2020-07-27 18:02] OAkyildiz commented on #149
The year 2020, and this still has a similar behavior. Why doesn't ROS have the option to link against another build of OpenCV instead of the one provided by vision_opencv?

[2020-07-27 18:39] JWhitleyWork commented on #149
@OAkyildiz I'm sorry but this really isn't something that `image_pipeline` has control over. Please take this up with https://github.com/ros-perception/vision_opencv/issues

[2020-07-29 21:00] JWhitleyWork opened #571 "Update ROS2 Packages to Use Ament Auto"
The ROS Build Farm is reporting that the packages in `image_pipeline` are unstable because warnings are being generated for Foxy and Rolling that some CMake macros being used are deprecated. Switching to using the `ament_auto` macros will keep this from happening since those macros should be updated with each release.

[2020-07-29 22:36] JWhitleyWork opened #572 "Replace matrix subclass with ndarray in camera_calibration tests"
In the file `camera_calibration/test/test_directed.py`, the following warning is generated when running tests (at least on `foxy`):

[code]

[2020-07-29 23:13] JWhitleyWork commented on #557
@ToniRV / @SteveMacenski I agree with @SteveMacenski here. If a camera driver is producing more than one image stream, there is no use-case that I can think of where they would/should be in different frames. If you can provide a specific use-case where this would be true, I'm happy to consider it. Otherwise, I consider this an error and the code is working-as-intended.

[2020-07-29 23:15] JWhitleyWork commented on #550
@PfeifferMicha Can you please confirm that `noetic` is fixed for this issue now that #561 is merged?

[2020-07-29 23:15] JWhitleyWork commented on #551
@PfeifferMicha Can you please re-test this now that #561 is merged?

[2020-07-29 23:24] JWhitleyWork opened #574 "Repository Maintenance"
Calling @SteveMacenski, @vrabaud, and @yechun1. If I've named you here, you are currently listed as a maintainer on at least one package of the `ros2` (currently `foxy`-targeted) or `noetic` branches of this repository. Please confirm that you are still able to/interested in maintaining both the ROS1 and ROS2 versions of your assigned packages. If I don't get a response from you within a month, I'

[2020-07-29 23:27] SteveMacenski commented on #574
I'm not particularly interested in maintaining things, but if I were to need to, ROS2 would be the place. I'm mostly stressed out about the rolling distro build failures. This is the only repo I have that is in the rolling distro and it makes me regret even having the 1. Its too much. If we get off rolling, I'd be more inclined to continue in a passive way (help as can, but I don't use this packag

[2020-07-29 23:34] JWhitleyWork commented on #574
Thanks, @SteveMacenski. I'm happy to remove your name/email from the maintainership list so you stop getting notifications. If you then just watch this repo and jump in when you can (or when I assign you something), that would work fine for me. Alternatively, I can leave you on the ROS2 packages and do my best to make sure that Rolling continues to build (I believe #573 should fix this for now). Y

[2020-07-29 23:37] JWhitleyWork commented on #191
Looks like @JStech took care of adding this feature to melodic and noetic. Thanks for that! We'll handle updating ROS2 branches with this feature as part of #449.

[2020-07-29 23:37] #191 closed, assigned to nobody

[2020-07-30 00:57] #557 closed, assigned to nobody

[2020-07-30 17:52] SteveMacenski commented on #574
I could do that, sure

[2020-07-31 16:14] Harsharma2308 opened #576 "Meaning of distortion parameters values (default setting)"
What are the 5 distortion values I am getting on calibrating my camera using a pinhole model in the final yaml file?

My guess is [k1,k2,p1,p2,0]
k1,k2- radial distortion co-effs
p1,p2- tangential distortion co-effs

Is there a documentation on it? Where can I read it?

[2020-07-31 16:22] trigal commented on #576
from the [wiki](https://docs.opencv.org/2.4/modules/calib3d/doc/camera_calibration_and_3d_reconstruction.html#double%20calibrateCamera(InputArrayOfArrays%20objectPoints,%20InputArrayOfArrays%20imagePoints,%20Size%20imageSize,%20InputOutputArray%20cameraMatrix,%20InputOutputArray%20distCoeffs,%20OutputArrayOfArrays%20rvecs,%20OutputArrayOfArrays%20tvecs,%20int%20flags,%20TermCriteria%20criteria))

[2020-07-31 19:19] JWhitleyWork commented on #576
@Harsharma2308 Please re-open if you need more information.

[2020-07-31 21:01] Harsharma2308 commented on #576
Thanks for the prompt reply. I dont know if I should create another issue just for this, but what is the default distortion model assumed? Is it plumb bob?

[2020-07-31 21:15] JWhitleyWork commented on #576
Everything I can find in the code and tests indicates that `plumb_bob` is the only one used here.

[2020-07-31 21:15] #576 closed, assigned to nobody

[2020-08-01 14:41] JWhitleyWork commented on #574
Which one?

[2020-08-02 12:57] JWhitleyWork commented on #568
Closed by #577 and #578.

[2020-08-02 12:57] #568 closed, assigned to nobody

[2020-08-02 19:37] SteveMacenski commented on #574
Oh sorry, keep watching but remove from maintainers list.

[2020-08-04 19:38] copaah opened #582 "MODE_SGBM_3WAY in opencv"
I am having a hard time understanding how to set the stereo mode in SGBM.

[The opencv documentation](https://docs.opencv.org/3.4/d2/d85/classcv_1_1StereoSGBM.html) mentions four different modes. is there support for all four in `stereo_image_proc` and if so, how to set the mode to `MODE_SGBM_3WAY`?

[2020-08-21 07:42] martimorta-at-work opened #589 "Downsampling in calibrator.py makes detection fail"
Hi,
I was having issues detecting a checkerboard until I changed the downsampling size (below) from VGA for the actual size of the camera output.
https://github.com/ros-perception/image_pipeline/blob/458ff618a53ec92713544c3ff24d2153975d8f3f/camera_calibration/src/camera_calibration/calibrator.py#L523

I think having that as a parameter would allow better calibrations unless I am missing something

[2020-08-21 18:34] allenh1 opened #590 "Eloquent Branch Request"
When building, I get the following on Eloquent:

[code]

I believe this happens because the `.hpp` version of the file does not exist on the Eloquent branch (though I'm aware it does in Foxy).

Could we please create an eloquent branch with the `.h` version?

[2020-08-21 19:00] allenh1 commented on #590
I made one on my fork in the meantime: https://github.com/allenh1/image_pipeline/tree/eloquent

[2020-08-21 22:32] JWhitleyWork commented on #590
@allenh1 Have you tried the `dashing` branch instead? It is more likely to be compatible with Eloquent.

[2020-08-23 08:57] yelbuod opened #591 "camera calibration no display"
when i enter `rosrun camera_calibration cameracalibrator.py –size 8×6 –square 0.03 image:=/usb_cam/image_raw` in the command line, i encounter such situation. my display get black and seens no complete as follows:
![Screenshot from 2020-08-23 14-29-52](https://user-images.githubusercontent.com/52616354/90974825-57738b80-e561-11ea-9b8f-a2d913714c49.png)
and my terminal tell me as follows:
![Screens

[2020-08-26 13:13] Mingg8 commented on #591
We have same problem. Is there any solution?

[2020-08-27 16:54] JWhitleyWork commented on #591
@MINUS-1ONE What version of `camera_calibration` are you using? Did you install it from source or with `apt`?

[2020-08-28 02:23] JWhitleyWork commented on #574
Issues raised by @SteveMacenski have been handled. I haven't heard anything from @vrabaud or @yechun1 so I will be removing them as maintainers. Keeping this issue open until that task is complete.

[2020-08-28 07:48] yelbuod commented on #591
I install from source code of this project and catkin_make.

[2020-08-28 07:49] yelbuod commented on #591
I solve this by using calibration in autoware which is called autoware_camera_lidar_calibrator.

[2020-09-01 13:53] Mingg8 commented on #591
I solved it by using old version.
It was on kinetic branch and commit on May, 2018

2020년 8월 28일 (금) 오후 4:50, MINUS-1ONE <notifications@github.com>님이 작성:

[2020-09-03 11:07] dnmagi5 opened #598 "distortion are zero"
If enter rosrun camera_calibration cameracalibrator.py –size 8×6 –square 0.03 image:=/usb_cam/image_raw **--k 3** in the command line, i can get below camera matrix
camera matrix
1451.846342 0.000000 343.137572
0.000000 1451.846342 237.224924
0.000000 0.000000 1.000000

distortion
-0.160041 1.349563 -0.001729 -0.000031 -9.472244

If enter rosrun camera_calibration cameracalibrator.py –size 8×6 –sq

[2020-09-23 21:12] SJamieson commented on #501
For closure -- this was fixed when #502  was merged

[2020-09-23 22:06] JWhitleyWork commented on #501
Thanks!

[2020-09-24 13:06] karsjen opened #603 "extract_images node skips frames inconsistently"
Using the raspicam node https://github.com/UbiquityRobotics/raspicam_node i shot multiple videos in 24 fps, saving the image/compressed topic to a rosbag. The extract_images node requires the user to enter the time between frames parameter. however, when this is set to 1/24 second it will extract approximately half of all frames. When set to zero the performance is better but it will still skip ab

[2020-09-24 13:26] karsjen commented on #603
when playing the rosbag and starting the extract_images node from one launch file the performance is much better (missing about 2% of frames) and varying only by a few frames in number between applications on the same rosbag.

[2020-09-29 16:27] cbteeple opened #604 "video_recorder skips frames even when they arrive just a fraction too early"
### Package
**image_view**

### Feature
_video_recorder_ skips frames when they arrive too soon to ensure proper framerate

### Expected Behavior
If a camera stream is running at 30 fps, then _video_recorder_ should be able to save a 30fps video without dropping frames

### Actual Behavior
_video_recorder_ skips frames when they arrive even a fraction of time too early. Since the opencv VideoWrite

[2020-10-10 04:02] tentenNT commented on #591
I think you're building a noetic branch.
Building the source code for the melodic branch should fix it.

[2020-10-19 15:27] LArayane opened #610 "How to save images with timestamp using C++"
Hello,

I am trying to save images with their timestamp. I used Image saver tool in [here](http://wiki.ros.org/image_view) but the saved images has no timestamp. Also I saw  [this solution](https://github.com/ros-perception/image_pipeline/pull/203) but it terns out that it was for video recording.

Is there any solution for this in C++!!

Thanks in advance

[2020-10-28 05:57] paszoujp opened #612 "ros-noetic python interpretor has no 'python'"
I installed camera_calibration from apt-get
when I run cameracalibrator.py, this error occurs:
_/opt/ros/noetic/bin/rosrun: /opt/ros/noetic/lib/camera_calibration/cameracalibrator.py: /usr/bin/python: bad interpreter: No such file or directory
/opt/ros/noetic/bin/rosrun: line 150: /opt/ros/noetic/lib/camera_calibration/cameracalibrator.py: Success_

I then looked in /usr/bin/, then find that there

[2020-10-30 14:24] hokwangchoi opened #613 "Disparity.cc Down-sampling/Up-sampling to boost the process"
I would like to boost the disparity mapping process by downsampling the original object and upsampling the disparity image.
I plan to submit a pull request on this issue.

[2020-11-01 12:52] AravindaDP opened #615 "Conversion from point_cloud_xyz to depth image"
Are there out of the box node/nodelets for conversion from point_cloud_xyz to depth_image?

Can we have a depth_image_proc/from_point_cloud_xyz node/nodelet for this purpose? If this is a welcome enhancement I can take a stab on on it and make a PR.

[2020-11-03 09:30] Stavya1993 opened #616 "Closed Issue"

[2020-11-03 09:39] #616 closed, assigned to nobody

[2020-11-21 13:31] rahuldeo2047 opened #618 "Stereo calibration for fisheye is failing at melodic"
I see one fix though, the issue 503. Did not work either.

reference:
https://github.com/ros-perception/image_pipeline/pull/542/commits/d0bf180999d1f56c254de14d2e2df7145e8c2b0e
https://github.com/ros-perception/image_pipeline/issues/503

I cloned image_pipeline melodic, built, and used.
`$ rosrun camera_calibration cameracalibrator.py --approximate 0.1 --size 9x6 --square 0.15 right:=/stereo/right

[2020-11-30 12:06] Kaju-Bubanja opened #619 "How to publish rtsp stream as ros2 topic using image_publisher?"
According to https://discourse.ros.org/t/ros-2-vid... I should be able to just call `ros2 run image_publisher image_publisher_node rtsp://192.168.254.151/live_stream` and the rtsp stream should be published as a ros2 topic. I can view the rtsp stream using vlc just fine, but when trying above command I get following error after a while:
[code]

and sometimes the error is:

[code]

I built image_pu

[2020-11-30 15:13] Kaju-Bubanja commented on #619
Even though I restarted the camera already once, I restarted it again and now it works. I have no clue why it didn't work and why it works now. Computers are black magic. If somebody knows more I'm glad to hear about it.

[2020-11-30 15:13] #619 closed, assigned to nobody

[2020-11-30 18:19] JWhitleyWork commented on #619
Glad you got it resolved!

[2020-12-04 11:07] thomas-kuruvila opened #620 "image_proc/rectify camera_info source"
I'm fairly new to nodelets and is having a hard time rectifying my image. I'm using image_proc/debayer and image_proc/rectify. I can subscribe to the mono images from debayer. But rectified images return a complete black image. I checked out the source code.
`void RectifyNodelet::imageCb(const sensor_msgs::ImageConstPtr& image_msg, const sensor_msgs::CameraInfoConstPtr& info_msg)`
The RectifyNodel

[2020-12-04 11:27] #620 closed, assigned to nobody

[2020-12-11 14:14] dmorris0 opened #621 "sync with Noetic"
There was an important bug fix that is needed to run camera calibration in Noetic: pull #552
However, this is not in the current Noetic release, and it looks like the most recent sync with Noetic in October did not include ros-perception. Can we get a sync and new release soon?

(Not sure if this is the right place to be posting this).

Thanks

[2020-12-11 19:53] maximus5684 commented on #621
Thanks for the reminder! The PR is in: https://github.com/ros/rosdistro/pull/27751

However, they are currently in a package-sync freeze and it may not make it in this time. If it does not make it in, you can build from source until the next package sync.

[2020-12-11 19:54] JWhitleyWork commented on #621
Whoops - wrong account.

[2020-12-11 20:22] dmorris0 commented on #621
Ah, okay.  Yes, I built it from source, and that works well.  Thanks!

[2020-12-11 21:53] #621 closed, assigned to nobody

[2020-12-11 23:12] JWhitleyWork commented on #618
@rahuldeo2047 Please provide the following information:

- Operating System
- How ROS was Installed (built from source or from official repositories)
- Which commit you are using from this repository
- Which version of OpenCV you are using

You also say that you cloned from source and built the package but you also say "Using the original `ros-melodic` installation." - what does this mean?

[2020-12-11 23:15] JWhitleyWork commented on #615
It is very rare that users want to go from a point cloud to a depth image. What is the use-case?

[2020-12-12 00:31] gitsr-sys opened #622 "[Realsense T265] stereo_camera_model.cpp:35 issue"
Hi.
I am running T265 with the following launch file.

<launch>
    <remap from="/stereo/left/image_raw" to="/camera/infra1/image_rect_raw"/>
    <remap from="/stereo/left/camera_info" to="/camera/infra1/camera_info"/>
    <remap from="/stereo/right/image_raw" to="/camera/infra2/image_rect_raw"/>
    <remap from="/stereo/right/camera_info" to="/camera/infra2/camera_info"/>

    <group ns='stereo'>

[2020-12-12 06:00] AravindaDP commented on #615
Yeah I guess you are right it's only for a niche of uses like converting regularly spaced point clouds (e.g. point clouds for 3D lidar like VLP-16) In my case it was for 3d point projection onto camera frame which used depth_image but later I came across a node that accepts point_cloud_xyz.
I also noted that in cases like 3d-lidar it also is bandwidth efficient to use depth_image instead point_clo

[2020-12-12 06:03] JWhitleyWork commented on #615
Thanks for the explanation. Closing.

[2020-12-12 06:03] #615 closed, assigned to nobody

[2020-12-12 14:08] JWhitleyWork commented on #612
This should be fixed after 0a85550b361575478bf5ebf622d2f90d0a097795. Please pull the latest `noetic` branch and test with a source-build.

[2020-12-14 02:26] JWhitleyWork commented on #622
This looks like it's saying that the `frame_id` field in the header of the images don't match. They must be the same.

[2020-12-14 19:31] gitsr-sys commented on #622
@JWhitleyWork  Thank you for your reply.
I confirmed that T265's fisheye camera's frame_id is `camera_fisheye1_optical_frame`

What the header of the images should suppose to be? and which topic?

[2020-12-16 13:19] rahuldeo2047 commented on #618
Two ways I tried

**Way 1**
The official ros install also is creating this issue
Operating System: Ubuntu 18.04
How ROS was Installed (built from source or from official repositories): official
Which commit you are using from this repository: official
Which version of OpenCV you are using: the OpenCV comes with ros melodic, 3.2.0+dfsg-4ubuntu0.1

**Way 2**
Then while googling I came across issue #

[2020-12-16 13:22] rahuldeo2047 commented on #618
Using the original ros-melodic installation
means

fisheye calibration is failing from stereo in melodic and also with image_pipeline package
the pinhole camera calibration is working with melodic.

original ros-melodic
not using the cloned image_pipeline package
using the officially installed image_pipeline package.

[2020-12-16 23:38] gitsr-sys commented on #622
@JWhitleyWork
here is update.

I make the same `frame_id` of T265's two fisheye cameras as `camera_fisheye_optical_frame`
Then, when I run edited launch file which is shown the followings.
[code]

and when I echo `/stereo/points2` I got this error.

[code]

Could you please help me to resolve this issue?
I am using T265 camera now.

@vrabaud @wkentaro , could you please help me to resolve this iss

[2021-01-06 10:09] Kaju-Bubanja commented on #619
Actually I later found out, that this was happening due to network congestion. If there is not enough throughput you might see this warning. When increasing the network throughput I got these message less often, but still they popped up from time to time and in the video feed I saw some artifacts. As such I think this error message should maybe be more of a warning than an error.

[2021-01-09 10:29] Schloern93 commented on #590
Hallo @allenh1
I also use ros eloquent and try to build the image processing. I have used your provided branch for this.
But i run in the following error:

/home/florian/test_imgage_proc/ros2_ws/src/image_pipeline/image_proc/src/crop_decimate.cpp: In instantiation of ‘void image_proc::debayer2x2toBGR(const cv::Mat&, cv::Mat&, int, int, int, int) [with T = unsigned char]’:
/home/florian/test_imgage

[2021-01-09 10:34] Schloern93 opened #624 "Error while executing the launch files"
Hallo,

I built the package image_pipeline for ros-eloquent according to the following link:
https://github.com/allenh1/image_pipeline/tree/eloquent
For this, I use the following Intel realsense package:
https://github.com/IntelRealSense/realsense-ros/tree/eloquent
The node for my Intel camera D435 works without errors.

If I start the launch file "point_cloud_xyz.launch.py" for example.
I get the

[2021-01-10 20:24] allenh1 commented on #590
#define OPENCV_TRAITS_ENABLE_DEPRECATED to allow old type traits for open cv

Interesting, I was seeing this issue on one of my computers recently. I'll push that fix to my fork -- thanks for the note!

Ah, this is something I neglected to backport. In ROS 2 Foxy and later, the API changed. See [here](https://github.com/ros2/launch_ros/blob/07497cd1f6576b7d3aff79a490016d583f9f3dcb/launch_ros/launc

[2021-01-11 08:15] Schloern93 commented on #590
Thanks this worked for me.
I have adjusted my launch file as follows.

[code]

I am now using the depth_image_proc package to publish a sorted PointCloud2 message.
If I look at the documentation(2.3) linked below I need two topics which I have to pass.
http://wiki.ros.org/depth_image_proc?distro=noetic
But in the launch file there are three topics to pass.

My question is which topic is needed in

[2021-01-11 17:08] #624 closed, assigned to nobody

[2021-01-12 07:13] Schloern93 opened #625 "Topic /points cant show in rviz"
Hallo,

this is probably a rviz specific question.
I use the package "depth_image_proc/point_cloud_xyz".
With ros2 topic echo I can view my PointCloud2 message (Topic: "/points").
When I try to display the PointCloud2 message in rviz, rviz does not show any points.
But the topic /points is found and I can view it with ros2 topic echo /points.

Thats the frame_id which is set to my PointCloud2 msgs

[2021-01-12 10:00] Schloern93 commented on #625
I solved it by changing this line in the "depth_image_proc/src/point_cloud_xyz":
`pub_point_cloud_ = create_publisher<PointCloud2>("points", rclcpp::SensorDataQoS());`
to
`pub_point_cloud_ = create_publisher<PointCloud2>("points", 1);`

Can someone explain to me the reason for this?

[2021-01-14 14:03] KUTuaNithid opened #626 "Stereo Fisheye Calibration"
Good day

I'm using calibrator.py to calibrate my fisheye stereo camera.

The problem is about the projection matrix.

P[0, 0] of left and right camera is not match.

I suspect in this line. Why we need this ?
https://github.com/ros-perception/image_pipeline/blob/e139e5a0fd9134060b0e6c068e1dfc348ef8f0f6/camera_calibration/src/camera_calibration/calibrator.py#L1216

Basically, cv2.fisheye.stereoRec

[2021-01-14 15:27] KUTuaNithid commented on #618
Did you try with a lower resolution?

[2021-01-25 22:50] JWhitleyWork commented on #612
Closing due to lack of feedback.

[2021-01-25 22:50] #612 closed, assigned to nobody

[2021-01-30 08:30] fmrico opened #628 "[ROS2] Frame match in point_cloud_xyzrgb.cpp"
Hi all,

Is it really necessary that the RGB image and the depth image match here?

https://github.com/ros-perception/image_pipeline/blob/683d980f4682305aeef05f67ecb3b16c8b232a04/depth_image_proc/src/point_cloud_xyzrgb.cpp#L168

The Astra driver, for example, publishes both images in different frames, but coincident frames. If I remove this condition, it works like a charm.

![Captura de pantalla

[2021-02-04 04:12] zactodd opened #631 "Unable to run camera_calibration cameracalibration.py"
Hello,

I was running using melodic and using my laptop camera.

I ran this
[code]

These are the available topic
[code]

this is the error msg
[code]

Any help would be great.

Cheers,
Zac

[2021-02-06 19:31] yuma116 commented on #631
I recommend checking the issue: https://github.com/ros-perception/image_pipeline/issues/201

[2021-02-09 05:36] stbnhan opened #633 "rectifyImage"
Hello,

I'm trying to rectify an image using `image _proc` in ROS Melodic to verify camera intrinsic calibration.
Running rosbag, calibration_publisher, and image_proc:
`ROS_NAMESPACE=my_camera rosrun image_proc image_proc`

Any idea on why `/my_camera/image_rect` is displaying a blank, uniform image?

[code]

[2021-02-09 18:06] Cristian-wp opened #636 "ERROR: Image received from camera is incomplete"
Hi!
I am using a Flir Blackfy S to record a video using video_recorder.
I launch the node during boot in order to start recording a video .mp4 and a rosbag immediately, but after 1/2 minutes I have this error:

[code]
After this error the recording stops and save the file .mp4, but the rosbag is not affected of this error.

I think that I can solve this using even the corrupted images, there is an

[2021-02-19 03:24] jwrl7 opened #637 "ros-melodic-fisheye-calibration-solved"
Hey folks,

Wanted to share some recent findings and solution for calibrating fisheye cameras FOV132 and large image size 1080p using the latest melodic branch and OpenCV3.4.4.

Solution: Modify the downsample_and_detect(self, img) function
[code]

I was experiencing a handful of similar issues that many where reporting:
Distortion parameters returned are all zero or,
when they were not zeros, the